body{
	padding-top: 46px;
	padding-bottom: 33px;
}
#user{
	position: absolute;
	top: 6px;
	left: 8px;
	width: 33px;
	height: 33px;
	border: 1px #fff solid;
	border-radius: 100%;
	padding: 0;
	background: #fff url(../img/tou.jpg) no-repeat center;
	background-size: cover;
}
#menu{
	position: absolute;
	top: 6px;
	right: 8px;
	width: 34px;
	height: 34px;
	transform-origin: center;
	-webkit-transform-origin: center;
}
#menu > path{
	transform-origin: center;
	-webkit-transform-origin: center;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
}
#menu > path:nth-of-type(1){
	transform: translateY(0) rotate(0deg);
	-webkit-transform: translateY(0) rotate(0deg);
}
#menu > path:nth-of-type(2){
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}
#menu > path:nth-of-type(3){
	transform: translateY(0);
	-webkit-transform: translate(0);
	opacity: 1;
}
.active > path:nth-of-type(1){
	transform: translateY(10px) rotate(-45deg)!important;
	-webkit-transform: translateY(10px) rotate(-45deg)!important;
}
.active > path:nth-of-type(2){
	transform: rotate(45deg)!important;
	-webkit-transform: rotate(45deg)!important;
}
.active > path:nth-of-type(3){
	transform: translateY(-10px)!important;
	-webkit-transform: translateY(-10px)!important;
	opacity: 0!important;
}
#animate{
	position: relative;
	width: 100%;
	height: 46px;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	overflow: hidden;
}
#animate span{
	position: absolute;
	width: 33px;
	height: 33px;
	border-radius: 100%;
	overflow: hidden;
}
#animate span:nth-of-type(1){
	top: -13px;
	left: 15px;
	transform: scale(2);
	-webkit-transform: scale(2);
	background: url(../img/red.png) no-repeat center;
	background-size: cover;
}
#animate span:nth-of-type(2){
	top: 0px;
	left: -10px;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	background: url(../img/orange.png) no-repeat center;
	background-size: cover;
	opacity: .7;
}
#animate span:nth-of-type(3){
	top: 12px;
	left: 5px;
	background: url(../img/yellow.png) no-repeat center;
	background-size: cover;
}
#animate span:nth-of-type(4){
	top: 15px;
	left: 56px;
	transform: scale(1.7);
	-webkit-transform: scale(1.7);
	background: url(../img/green.png) no-repeat center;
	background-size: cover;
}
#animate span:nth-of-type(5){
	top: -15px;
	left: 70px;
	background: url(../img/blue.png) no-repeat center;
	background-size: cover;
}
#animate span:nth-of-type(6){
	top: 20px;
	left: 188px;
	background: url(../img/pink.png) no-repeat center;
	background-size: cover;
}
#animate span:nth-of-type(7){
	width: 26px;
	height: 26px;
	top: 15px;
	left: 140px;
	background: url(../img/purple.png) no-repeat center;
	background-size: cover;
}
#animate span:nth-of-type(8){
	top: -9px;
	right: 7px;
	transform: scale(2.5);
	-webkit-transform: scale(2.5);
	background: url(../img/red.png) no-repeat center;
	background-size: cover;
}
#popover{
	position: fixed;
	top: 60px;
	right: 14px;
	z-index: 100;
	width: 140px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(55,55,55,.4);
	transition: all .3s;
	-webkit-transition: all .3s;
}
#popover:before{
	position: absolute;
	top: -5px;
	left: 110px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.mui-table-view:after{
	background: none;
}
.popoverhide{
	opacity: 0;
	transform: translateX(182px);
	-webkit-transform: translateX(182px);
}
.popovershow{
	opacity: 1;
	transform: translateX(0);
	-webkit-transform: translateX(0);
}
#popover li{
	height: 40px;
	padding: 0 15px;
	color: #666;
	line-height: 43px;
	text-indent: 32px;
	background: url(../img/erwei.png) no-repeat 12px center;
	background-size: 28px;
}
#topBox{
	position: relative;
	width: 100%;
	padding-bottom: 56%;
	background: #ddd url(../img/po.png) no-repeat center;
	background-size: 132px;
}
#videoBox{
	position: relative;
	overflow: hidden;
}
#videoBox video{
	width: 100%;
	height: 100%;
}
#playbtn{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	border: none;
	color: #fff;
	border-radius: 0;
	background: #000 url(../svg/play.svg) no-repeat center;
	background-size: 40px;
}
#pausebtn{
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 36px;
	height: 36px;
	padding: 0;
	color: #fff;
	line-height: 30px;
	border: none;
	background: rgba(200,200,200,.3) url(../svg/pause.svg) no-repeat center;
	background-size: 30px;
	opacity: 0;
}
#footer{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 45px;
	box-shadow: 0 0 3px rgba(55,55,55,.3);
	background-color: #fff;
}
#footer > span{
	display: block;
	width: 20%;
	padding-bottom: 20%;
	margin-top: -10px;
	margin-left: 40%;
	border-radius: 100%;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(55,55,55,.3);
	
}
#footermenu{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	padding-top: 1px;
	background-color: #fff;
}
#footermenu li{
	float: left;
	height: 44px;
	width: 20%;
	background-size: 32px;
}
#gift{
	background: url(../img/gift.png) no-repeat center -1px;
}
#call{
	background: url(../img/guide.png) no-repeat center -1px;
}
#scan span{
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 25px 25px 0 0;
	margin: -6px auto 0;
	background: url(../img/scan.png) no-repeat center center;
	background-size: 38px;
}
#share{
	background: url(../img/share.png) no-repeat center -1px;
}
#other{
	background: url(../img/star.png) no-repeat center -1px;
}
#footermenu li p{
	height: 10px;
	margin: 0;
	margin-top: 30px;
	font-size: 10px;
	text-align: center;
	line-height: 10px;
}
#textContent{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 110px;
	margin-bottom: 10px;
	padding: 14px 14px 0;
	background: #fff url(../img/decorate.png) no-repeat right bottom;
	background-size: 44px;
	overflow: hidden;
}
#textContent li{
	height: 82px;
	margin-bottom: 14px;
	color: #777;
	font-size: 13px;
	text-indent: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
}
#active .imgBox{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	padding: 12px;
	margin-bottom: 10px;
	background: #fff;
}
.imgBox div{
	width: 100%;
	padding-bottom: 50%;
	background-color: #ddd;
}
.imgBox div img{
	float: left;
	width: 100%;
	background: #ddd url(../img/po.png) no-repeat center;
}
.imgBox p{
	margin: 0;
	font-size: 13px;
	height: 20px;
	line-height: 26px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
