*{
	font-size: 14px;
	font-family: Microsoft YaHei,sans-serif;
	color: #494949;
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
}
a {
	text-decoration: none;
}
a,button,input,textarea{
	-webkit-appearance: none;
	outline: none;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 46px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(55,55,55,.3);
}