body{
	padding-top: 26vw;
}

/* 头部工具栏 */
header{
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 26vw;
	padding: 2vw 14vw;
	/* box-shadow: .2rem .2rem .4rem rgba(0,0,0,.05); */
	background-color: #fff;
}
header > p{
	box-sizing: border-box;
	float: right;
	width: 100%;
	height: 10vw;
	line-height: 10vw;
	padding: 0 13vw 0 4vw;
	border-radius: 5vw;
	background-color: var(--bg-color);
}
header .left,header .right{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 1vw;
	left: 1vw;
	width: 12vw;
	height: 12vw;
	transition: all .2s ease;
}
header .left.fadeOut,header .right.fadeOut{
	opacity: 0;
}
header .right{
	left: auto;
	right: 1vw;
	overflow: hidden;
}
header .left svg,header .right svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
	fill: var(--theme-color);
}
header .right svg{
	float: left;
}
header .right span{
	display: block;
	width: 18vw;
	height: 6vw;
	padding: 3vw 0 3vw 3vw;
	transition: all .4s ease;
}
header .right span svg:nth-of-type(1){
	margin-right: 6vw;
}
header .right.active span{
	transform: translateX(-12vw);
}
header .search-icon{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 2vw;
	right: 14vw;
	width: 10vw;
	height: 10vw;
}
header .search-icon > svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
	fill: #ccc;
}

/* nav 部分 */
.nav{
	box-sizing: border-box;
	position: fixed;
	top: 14vw;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 12vw;
	padding-right: 14vw;
	background-color: #fff;
}
.nav > ul{
	display: flex;
	width: 100%;
	height: 12vw;
}
.nav > ul > li{
	flex: 1;
	float: left;
	height: 12vw;
	line-height: 12vw;
	text-align: center;
}
/******************** 三角形 ********************/
/* .nav > ul > li span{
	display: inline-block;
	position: relative;
	width: .4rem;
	height: .8rem;
	vertical-align: middle;
	margin-left: .4rem;
	margin-top: -.3rem;
	transform: scaleX(.7);
}
.nav > ul > li span::before,.nav > ul > li span::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: .3rem var(--theme-color) solid;
	border-right: .3rem var(--theme-color) solid;
	border-bottom: .3rem transparent solid;
	border-left: .3rem transparent solid;
	transform: rotate(-45deg);
	transition: all .2s ease;
}
.nav > ul > li span::after{
	top: auto;
	left: 0;
	bottom: 0;
	border-top: .3rem #ccc solid;
	border-right: .3rem #ccc solid;
	border-bottom: .3rem transparent solid;
	border-left: .3rem transparent solid;
	transform: rotate(135deg);
}
.nav > ul .active span::before{
	border-top-color: #ccc;
	border-right-color: #ccc;
}
.nav > ul .active span::after{
	border-top-color: var(--theme-color);
	border-right-color: var(--theme-color);
} */
/************************************************/

/******************** 圆形 ********************/
.nav > ul > li span{
	display: inline-block;
	position: relative;
	width: .5rem;
	height: 1.2rem;
	vertical-align: middle;
	margin-left: .4rem;
	margin-top: -.3rem;
}
.nav > ul > li span::before,.nav > ul > li span::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
	background-color: #ccc;
	transition: all .2s ease;
}
.nav > ul > li span::after{
	top: auto;
	bottom: 0;
	background-color: var(--theme-color);
}
.nav > ul .active span::before{
	background-color: var(--theme-color);
}
.nav > ul .active span::after{
	background-color: #ccc;
}
/**********************************************/
.nav .filter{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	right: 1vw;
	width: 12vw;
	height: 12vw;
	background-color: transparent;
}
.nav .filter svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
	fill: var(--theme-color);
}

/* content 区 */
.content{
	width: 100vw;
}
.content.active{
	opacity: 0;
}
.content > ul{
	box-sizing: border-box;
	width: 100%;
	/* padding: 3vw 0 3vw 3vw; */
	padding: 3vw;
}
.content > .block{
	animation: fadeInTow .2s 0s forwards;
	background-color: transparent;
}
.content > .line{
	animation: fadeIn .2s 0s forwards;
	background-color: #fff;
}
/* 默认两列模式 */
.content .block li{
	/* float: left; */
	width: 45.5vw;
	border-radius: 3vw;
	margin-bottom: 3vw;
	padding-bottom: 3vw;
	transform: translateZ(0);
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	overflow: hidden;
}
.content .block li:nth-child(odd){
	float: left;
}
.content .block li:nth-child(even){
	float: right;
}
.content > ul > .lay{
	opacity: 0;
	animation: fadeIn .4s 0s forwards;
}
@keyframes fadeInTow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.content .block li div{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 45.5vw;
	height: 45.5vw;
	border-radius: 3vw 3vw 0 0;
	background-color: #eee;
	-webkit-backface-visibility: hidden;
}
.content .block li div svg{
	width: 37vw;
	height: 37vw;
	fill: #ddd;
}
.content .block li img{
	display: block;
	width: 45.5vw;
	height: 45.5vw;
	border-radius: 3vw 3vw 0 0;
	background-color: #fefefe;
	-webkit-backface-visibility: hidden;
}
.content .block li p{
	box-sizing: border-box;
	height: 5vw;
	width: 100%;
	color: #333;
	line-height: 5vw;
	margin-top: 2vw;
	padding: 0 3vw;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}
.content .block li p:nth-of-type(1){
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: auto;
	max-height: 10vw;
}
.content .block li p:nth-of-type(2){
	height: 4vw;
	margin-top: 2vw;
	margin-bottom: 1vw;
	overflow: hidden;
}
.content .block li p span{
	float: left;
	height: 4vw;
	line-height: 4vw;
	font-weight: bold;
	font-size: 1rem;
	color: #fff;
	padding: 0 .5rem;
	border-radius: 3vw;
	margin-right: .3rem;
	background-color: var(--theme-color);
}
.content .block li .light{
	box-sizing: border-box;
	line-height: calc(4vw - 2px);
	font-weight: normal;
	color: var(--theme-color);
	padding: 0 .3rem;
	border: 1px var(--theme-color) solid;
	background-color: transparent;
}
.content .block a > span{
	box-sizing: border-box;
	display: block;
	height: 4vw;
	line-height: 4vw;
	font-size: 1.5rem;
	margin-top: .2rem;
	padding: 0 3vw;
}
.content .block a > span i{
	display: inline-block;
	font-style: normal;
	font-size: .8rem;
}
.content .block a > span b{
	float: right;
	padding-top: .3rem;
	margin-top: -.1rem;
	margin-right: 1vw;
	font-weight: normal;
	font-size: 1rem;
}

.content .line li{
	box-sizing: border-box;
	position: relative;
	width: 94vw;
	height: 32vw;
	padding-left: 34vw;
	margin-bottom: 3vw;
	border-radius: 3vw;
	/* box-shadow: .2rem .2rem 1rem rgba(0,0,0,.05); */
	overflow: hidden;
}
.content .line > li div{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 32vw;
	height: 32vw;
	border-radius: 3vw;
	background-color: #eee;
}
.content .line > li div svg{
	width: 17vw;
	height: 17vw;
	fill: #ddd;
}
.content .line img{
	position: absolute;
	top: 0;
	left: 0;
	width: 32vw;
	height: 32vw;
	border-radius: 3vw;
	background-color: #eee;
}
.content .line li p{
	box-sizing: border-box;
	height: 5vw;
	width: 100%;
	color: #333;
	line-height: 5vw;
	margin-top: 2vw;
	padding: 0 2vw;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}
.content .line li p:nth-of-type(1){
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	height: 15vw;
	/* max-height: 15vw; */
	line-height: 5vw;
}
.content .line li p:nth-of-type(2){
	margin-top: 2vw;
}
.content .line li p span{
	float: left;
	height: 4vw;
	line-height: 4vw;
	font-weight: bold;
	font-size: 1rem;
	color: #fff;
	padding: 0 .5rem;
	border-radius: 3vw;
	margin-right: .3rem;
	background-color: var(--theme-color);
}
.content .line li .light{
	box-sizing: border-box;
	line-height: calc(4vw - 2px);
	font-weight: normal;
	color: var(--theme-color);
	padding: 0 .3rem;
	border: 1px var(--theme-color) solid;
	background-color: transparent;
}
.content .line a > span{
	box-sizing: border-box;
	display: block;
	height: 4vw;
	line-height: 4vw;
	font-size: 1.6rem;
	margin-top: 1vw;
	padding: 0 2vw;
}
.content .line a > span i{
	display: inline-block;
	font-style: normal;
	font-size: .8rem;
}
.content .line a > span b{
	float: right;
	padding-top: .3rem;
	margin-top: -.1rem;
	margin-right: 1vw;
	font-weight: normal;
	font-size: 1rem;
}

.content > ul > .last{
	width: 94vw;
	height: auto;
	line-height: 6rem;
	text-align: center;
	color: #999;
	padding: 0;
	margin: 0;

}
#classify{
	position: relative;
}
#classify .box{
	position: absolute;
	top: 12vw;
	left: 0;
	width: 100vw;
	height: calc(100vh - 94px);
	background-color: rgba(0,0,0,.5);
	display: none;
}

/* ************************ */
/* 搜索层 */
.sort-layer{
	position: fixed;
	top: 0;
	right: -100%;
	bottom: 0
	left: 100%;
	z-index: 9;
	width: 100vw;
	height: 100%;
	background-color: #fff;
	transition: all .2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	overflow: hidden;
}
.sort-layer.active{
	transform: translateX(-100%);
}
.sort-head{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 14vw;
	padding: 2vw 14vw;
	background-color: #fff;
}
.sort-head .left,.sort-head .right{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 14vw;
	height: 14vw;
}
.sort-head .right{
	left: auto;
	right: 0;
	line-height: 14vw;
	text-align: center;
	color: var(--theme-color);
	font-weight: bold;
	background-color: transparent;
}
.sort-head .left svg,.sort-head .right svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
	fill: var(--theme-color);
}
.sort-head .right svg{
	fill: #ccc;
}
.sort-head .sort-tool{
	float: right;
	position: relative;
	width: 100%;
	height: 10vw;
	border-radius: 5vw;
	box-shadow: .2rem .2rem 1rem rgba(0,0,0,.1);
	background-color: var(--bg-color);
	overflow: hidden;
}
.sort-head .sort-tool .search{
	box-sizing: border-box;
	width: 100%;
	height: 10vw;
	padding: 2vw 14vw 2vw 4vw;
}
.sort-tool .sort-bar{
	display: block;
	width: 100%;
	height: 6vw;
	line-height: 6vw;
	background-color: transparent;
}
.sort-tool .sort-icon{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 10vw;
	height: 10vw;
}
.sort-tool .sort-icon > svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
	fill: var(--theme-color);
}

.sort-content{
	box-sizing: border-box;
	width: 100%;
	padding: 0 3vw 3vw;
	margin-top: 14vw;
}
.sort-content > div{
	width: 100%;
}
.sort-content > div p{
	line-height: 12vw;
	color: #333;
	color: var(--theme-color);
}
.sort-content > div a{
	padding: .5rem .8rem;
	margin: 0 .6rem .6rem 0;
	float: left;
	font-size: 1.2rem;
	border-radius: .4rem;
	background-color: var(--bg-color);
}
/* ************************ */

/* 小分类层 */
.classify-layer{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0);
	transition: z-index 0s .2s;
	overflow: hidden;
}
.classify-layer.active{
	transition: z-index 0s;
	z-index: 10;
}
.classify-layer .classify-wrap{
	position: fixed;
	top: 29vw;
	left: -71vw;
	height: auto;
	width: 70vw;
	/* border-radius: 0 0 7vw 0; */
	box-shadow: .2rem .4rem .6rem rgba(0,0,0,.1);
	background-color: #fff;
	transition: all .2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transform: translateZ(0);
}
.classify-layer .classify-wrap::after{
	content: "";
	position: absolute;
	top: -2vw;
	left: 5vw;
	width: 4vw;
	height: 4vw;
	background-color: #fff;
	transform: rotate(45deg);
}
.classify-layer.active .classify-wrap{
	transform: translateX(74vw) translateZ(0);
}
.classify-layer .classify-content{
	box-sizing: border-box;
	position: relative;
	padding: 3vw 3vw 17vw;
}
.classify-content .left,.classify-content .right{
	position: absolute;
	bottom: 3vw;
	left: 3vw;
	height: 11vw;
	width: 30.5vw;
	color: #999;
	text-align: center;
	line-height: 11vw;
	border-radius: 6vw;
	background-color: var(--bg-color);
}
.classify-content .left{
	border: 1px #eee solid;
	line-height: 11vw;
}
.classify-content .right{
	left: 36.5vw;
	color: #fff;
	background-color: var(--theme-color);
}
.classify-content .box > p{
	line-height: 3.4rem;
	border-bottom: 1px #eee solid;
	margin-bottom: 3vw;
}
.classify-content .box > span{
	float: left;
	height: 6vw;
	line-height: 6vw;
	font-size: 1.2rem;
	padding: 0 .7rem;
	border-radius: 3vw;
	margin-right: 1rem;
	margin-bottom: 1rem;
	background-color: #eee;
}
.classify-content .box > .active{
	color: #fff;
	background-color: var(--theme-color);
}

/* 筛选层 */
.side-layer{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100vw;
	z-index: 10;
	width: 100vw;
	height: 100%;
	background-color: rgba(0,0,0,0);
	transition: background-color .2s ease, transform 0s .2s;
	overflow: hidden;
}
.side-layer.active{
	background-color: rgba(0,0,0,.5);
	transition: background-color .3s ease, left 0s;
	transform: translateX(-100vw);
}
.side-layer .side-wrap{
	position: absolute;
	top: 0;
	right: -86vw;
	width: 86vw;
	height: 100%;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all .2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transform: translateZ(0);
}
.side-layer .side-box{
	position: absolute;
	bottom: 0;
	right: -86vw;
	width: 86vw;
	height: 17vw;
	overflow: hidden;
	background-color: #fff;
	transition: all .2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transform: translateZ(0);
}
.side-layer.active .side-wrap,.side-layer.active .side-box{
	transform: translateX(-86vw) translateZ(0);
}
.side-box .left,.side-box .right{
	position: absolute;
	bottom: 3vw;
	left: 3vw;
	width: 38.5vw;
	height: 11vw;
	text-align: center;
	line-height: 11vw;
	color: #999;
	border-radius: 6vw;
	border: 1px #eee solid;
	background-color: var(--bg-color);
}
.side-box .right{
	left: 44.5vw;
	color: #fff;
	line-height: 11vw;
	border: none;
	background: var(--theme-gradient);
}

.side-wrap .side-content{
	box-sizing: border-box;
	min-height: 100%;
	padding: 3vw 3vw 18vw;
}
.side-content .box > p{
	line-height: 3.4rem;
	border-bottom: 1px #eee solid;
	margin-bottom: 1rem;
}
.side-content .box > span{
	float: left;
	height: 6vw;
	line-height: 6vw;
	font-size: 1.2rem;
	padding: 0 .7rem;
	border-radius: 3vw;
	margin-right: 1rem;
	margin-bottom: 1rem;
	background-color: #eee;
}
.side-content .box > .active{
	color: #fff;
	background-color: var(--theme-color);
}

/* 返回顶部按钮 */
.return-top{
	bottom: 4vw;
}

/* 加载动画层 */
.loading{
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100vw;
	z-index: 99;
	background-color: rgba(255,255,255,.9);
	opacity: 0;
	transition: opacity .2s ease, left 0s .2s;
}
.loading.active{
	transition: opacity .2s ease, left 0s 0s;
	left: 0;
	opacity: 1;
}