*{
	font-size: 14px;
	font-family: Microsoft YaHei,sans-serif,Helvetica;
	color: #888;
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
}
html,body{
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
}
a,button,input,textarea{
	-webkit-appearance: none;
	outline: none;
}

/* page */
body{
	padding-top: 228px;
	background-color: #fff;
}

/* header 部分 */
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 228px;
	box-shadow: 0 2px 20px rgba(0,0,0,.05);
}
header .top{
	width: 100%;
	height: 36px;
	box-shadow: 0 0 10px rgba(255,88,36,.4);
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1));
}
.top .wrap{
	width: 1400px;
	height: 32px;
	margin: 0 auto;
}
.top .wrap > a{
	float: right;
	line-height: 32px;
	font-size: 12px;
	color: #fff;
	margin: 0 8px;
}
.top .wrap .left{
	float: left;
}
header .middle{
	width: 1400px;
	height: 120px;
	margin: 0 auto;
}
.middle .left{
	float: left;
	width: 400px;
	height: 140px;
}
.middle .left img{
	display: block;
	height: 70px;
	margin-top: 35px;
	/* opacity: 0; */
}
.middle .left span{
	display: block;
	height: 70px;
	width: 400px;
	margin-top: 30px;
	line-height: 70px;
	text-align: center;
	color: #fff;
	font-size: 40px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(255,88,36,.4);
	background-color: #ff3528;
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1));
}
.middle .right{
	float: left;
	width: 990px;
	height: 140px;
	margin-right: 10px;
}
.right .search-box{
	float: right;
	height: 70px;
	margin-top: 35px;
}
.search-box .bar{
	box-sizing: border-box;
	float: left;
	width: 400px;
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	border: 1px #f7f7f7 solid;
	border-radius: 20px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.05);
}
.search-box .search{
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	border-radius: 20px;
	box-shadow: 2px 2px 10px rgba(255,88,36,.4);
	background-color: #ff3528;
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1));
	background: #ff3528 url(../img/search.svg) no-repeat center;
	background-size: 24px;
	cursor: pointer;
}
.search-box .publish{
	float: left;
	height: 40px;
	margin-left: 10px;
	padding: 0 20px;
	line-height: 40px;
	color: #fff;
	border-radius: 20px;
	box-shadow: 2px 2px 10px rgba(255,88,36,.4);
	background-color: #ff3528;
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1));
	cursor: pointer;
}
.search-box .hot{
	clear: both;
	height: 30px;
}
.hot > a{
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 0 7px;
	font-size: 12px;
	color: #aaa;
}
header .bottom{
	width: 100%;
	height: 52px;
	overflow: hidden;
}
.bottom .wrap{
	box-sizing: border-box;
	width: 1400px;
	height: 52px;
	margin: 0 auto;
}
.bottom .wrap a{
	float: left;
	position: relative;
	height: 52px;
	padding: 0 36px;
	color: #333;
	line-height: 44px;
}
.bottom .wrap a.active{
	font-weight: bold;
	color: #ff3528;
}
.bottom .wrap a.active::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #ff3528;
}
.bottom a.light{
	float: right;
}
.bottom .light::before{
	content: "";
	position: absolute;
	top: 5px;
	left: 11%;
	height: 34px;
	width: 78%;
	border-radius: 17px;
	/* box-shadow: 2px 2px 10px rgba(255,88,36,.4); */
	box-shadow: 2px 2px 10px rgba(0,0,0,.25);
	opacity: 0;
	transition: all .2s ease;
}
.light:hover::before{
	opacity: 1;
}
.bottom .light::after{
	content: attr(txt);
	position: absolute;
	top: 5px;
	left: 11%;
	height: 34px;
	width: 78%;
	line-height: 34px;
	text-align: center;
	color: #fff;
	border-radius: 17px;
	background-color: #ff3528;
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1));
}

/* nav 部分 */
nav{
	position: fixed;
	top: -90px;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 70px;
	box-shadow: 0 2px 20px rgba(0,0,0,.05);
	background-color: #fff;
	transition: all .2s ease;
}
nav.active{
	transform: translateY(90px);
}
nav .wrap{
	width: 1400px;
	height: 70px;
	margin: 0 auto;
	/* overflow: hidden; */
}
nav .wrap .logo{
	float: left;
	width: 110px;
	height: 40px;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	border-radius: 20px;
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1));
	box-shadow: 2px 2px 10px rgba(255,88,36,.4);
}
nav .wrap .logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.nav-box{
	float: right;
	height: 40px;
	margin-top: 15px;
	margin-right: 10px;
}
.nav-bar{
	box-sizing: border-box;
	float: left;
	width: 400px;
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	border: 1px #f7f7f7 solid;
	border-radius: 20px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.05);
}
.nav-search{
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	border-radius: 20px;
	box-shadow: 2px 2px 10px rgba(255,88,36,.4);
	background: #ff3528 url(../img/search.svg) no-repeat center;
	background-size: 24px;
	cursor: pointer;
}
.nav-publish,.nav-down,.nav-call{
	float: left;
	height: 40px;
	margin-left: 10px;
	padding: 0 20px;
	line-height: 40px;
	color: #fff;
	border-radius: 20px;
	box-shadow: 2px 2px 10px rgba(255,88,36,.4);
	background-color: #ff3528;
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1));
	cursor: pointer;
}
.nav-call{
	width: 40px;
	margin-left: 10px;
	padding: 0;
	border-radius: 20px;
	background: #ff3528 url(../img/face.svg) no-repeat center;
	background-size: 24px;
}

/* content 部分 */
.content{
	width: 1400px;
	margin: 0 auto;
}
.content .game{
	box-sizing: border-box;
	float: left;
	width: 220px;
	height: 400px;
	margin: 20px 0;
}
.game .title{
	width: 120px;
	height: 30px;
	margin: 0 auto 10px;
	line-height: 30px;
	text-align: center;
	/* color: #fff; */
	color: #ff3528;
	font-weight: bold;
	border-radius: 15px;
	box-shadow: 1px 1px 20px rgba(0,0,0,.07);
	/* box-shadow: 2px 2px 6px rgba(255,88,36,.4); */
	/* background-color: #ff3528; */
	/* background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1)); */
}
.game .block{
	position: relative;
	width: 200px;
	height: 52px;
	padding: 10px;
}
.game .block > a{
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 72px;
	border-radius: 36px;
	box-shadow: 2px 2px 20px rgba(0,0,0,.07);
	opacity: 0;
	transition: all .2s ease;
}
.block > a:hover{
	opacity: 1;
}
.game .block > img{
	float: left;
	width: 52px;
	height: 52px;
	border-radius: 30px;
	margin-left: 6px;
}
.game .block > p{
	float: right;
	width: 122px;
	height: 20px;
	line-height: 20px;
	color: #333;
	margin-top: 6px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.game .block > span{
	float: right;
	width: 122px;
	height: 20px;
	line-height: 20px;
	color: #888;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.content .banner{
	float: left;
	position: relative;
	width: 940px;
	height: 420px;
	margin: 20px 10px;
	overflow: hidden;
}
.banner .banner-list{
	width: 500%;
	height: 420px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	perspective: 1000;
	-webkit-perspective: 1000;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	overflow: hidden;
}
.banner-list > li{
	float: left;
	width: 920px;
	height: 400px;
	margin: 0 10px;
	text-align: center;
	line-height: 400px;
	font-size: 80px;
	color: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(255,88,36,.4);
	background-color: #ff3528;
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1));
	overflow: hidden;
	transition: all .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	opacity: .6;
}
.banner-list.active > li{
	opacity: .6;
}
.banner-list > li.active{
	opacity: 1;
}
.banner .pagination{
	position: absolute;
	bottom: 40px;
	left: 50%;
	height: 8px;
	padding-left: 10px;
	transform: translateX(-50%);
}
.pagination > span{
	display: inline-block;
	height: 8px;
	width: 8px;
	margin-right: 10px;
	border-radius: 4px;
	background-color: #fff;
	opacity: .5;
	transition: all .2s ease;
}
.pagination > .active{
	width: 24px;
	opacity: 1;
}
.banner .btn-left,.banner .btn-right{
	position: absolute;
	top: 50%;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	margin-top: -16px;
	background-color: rgba(255,255,255,.6);
	opacity: 0;
	cursor: pointer;
	transition: all .2s ease;
}
.btn-left::before,.btn-right::before{
	content: "";
	position: absolute;
	top: 11px;
	left: 11px;
	width: 9px;
	height: 9px;
	border-top: 3px #fff solid;
	border-left: 3px #fff solid;
	opacity: .8;
}
.banner .btn-left{
	left: 40px;
	transform: rotate(-45deg);
}
.banner .btn-right{
	right: 40px;
	transform: rotate(135deg);
}
.banner:hover .btn-left,.banner:hover .btn-right{
	opacity: 1;
}
.content .user{
	box-sizing: border-box;
	float: left;
	width: 220px;
	height: 400px;
	margin: 20px 0;
}
.user .log{
	width: 200px;
	height: 130px;
	padding: 10px;
	overflow: hidden;
}
.user .log > img{
	display: block;
	width: 60px;
	height: 60px;
	margin: -10px auto 0;
	border-radius: 30px;
	box-shadow: 2px 2px 16px rgba(0,0,0,.1);
	background: url(../img/user.png) no-repeat center;
	background-size: cover;
}
.user .log > span{
	display: block;
	width: 100%;
	height: 14px;
	line-height: 14px;
	color: #888;
	font-size: 12px;
	text-align: center;
	margin-top: 12px;
}
.user .log > a{
	float: left;
	width: 70px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #888;
	font-size: 12px;
	margin: 16px 15px 0;
	border-radius: 15px;
	box-shadow: 6px 6px 20px rgba(0,0,0,.1);
	/* box-shadow: 2px 2px 10px rgba(255,88,36,.4);
	background-color: #ff3528;
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1)); */
	transition: all .3s ease;
}
.user .log > a:hover,.user .reg > a:hover{
	background-color: #ff3528;
	color: #fff;
}
.user .reg{
	width: 200px;
	height: 130px;
	padding: 10px;
	overflow: hidden;
}
.user .reg > img{
	display: block;
	width: 60px;
	height: 60px;
	margin: -10px auto 0;
	border-radius: 30px;
	box-shadow: 2px 2px 16px rgba(0,0,0,.1);
	background: url(../img/Mario.jpg) no-repeat center;
	background-size: cover;
}
.user .reg > span{
	display: block;
	width: 100%;
	height: 14px;
	line-height: 14px;
	color: #888;
	font-size: 12px;
	text-align: center;
	margin-top: 12px;
}
.user .reg > a{
	float: left;
	width: 50px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #888;
	font-size: 12px;
	margin-top: 14px;
	margin-left: 10px;
	border-radius: 12px;
	box-shadow: 2px 2px 16px rgba(0,0,0,.1);
	transition: all .3s ease;
}
.user .reg > a:nth-of-type(1){
	width: 60px;
}
.user .msg{
	width: 200px;
	height: 240px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 20px rgba(0,0,0,.07);
	overflow: hidden;
}
.user .msg > button{
	position: relative;
	height: 30px;
	padding: 0 10px;
	color: #888;
	font-size: 12px;
	background-color: transparent;
	cursor: pointer;
}
.msg > button.active{
	color: #ff3528;
}
.msg > button.active::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #ff3528;
}
.msg .msg-box{
	box-sizing: border-box;
	/* width: 400px; */
	height: 182px;
	padding: 10px 0;
	margin-top: 8px;
	overflow: hidden;
	transition: all .2s ease;
}
/* .msg .msg-box.active{
	transform: translateX(-200px);
} */
.msg-box > ul{
	float: left;
	width: 180px;
	height: 182px;
	margin: 0 10px;
}
.msg-box > ul > li{
	width: 168px;
	height: 30px;
	padding: 0 6px;
}
.msg-box > ul > li a{
	display: block;
	width: 168px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #666;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.msg-box .last a{
	text-align: right;
}
.content .banner-after{
	clear: both;
	width: 1400px;
	height: 176px;
	padding: 12px 0;
}
.banner-after > li{
	float: left;
	width: 335px;
	height: 176px;
	margin: 5px 10px 20px;
	/* box-shadow: 2px 2px 10px rgba(0,0,0,.05); */
}
.banner-after > li:first-child{
	margin-left: 0;
}
.banner-after > li:last-child{
	margin-right: 0;
}
.banner-after > li > p{
	width: 100px;
	height: 30px;
	margin: 20px auto;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border-radius: 15px;
	box-shadow: 2px 2px 6px rgba(255,88,36,.4);
	background-color: #ff3528;
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1));
}
.banner-after > li > img{
	float: left;
	width: 70px;
	height: 70px;
	margin-left: 60px;
	border-radius: 35px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.1);
}
.banner-after > li > span{
	float: left;
	width: 115px;
	height: 70px;
	margin-left: 30px;
	margin-top: 14px;
	color: #888;
}
.content .activity{
	position: relative;
	width: 1400px;
	height: 200px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 20px rgba(0,0,0,.2);
	background: #f7f7f7 url(../img/Mario.jpg) no-repeat center;
	background-size: cover;
	/* background-attachment: fixed; */
	cursor: pointer;
}
.activity::after{
	content: "Super Mario";
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.activity.tow{
	margin-top: 40px;
}
.content .sale{
	width: 1400px;
	margin-top: 40px;
}
.sale .title{
	float: left;
	width: 320px;
	height: 580px;
	border-radius: 10px;
	box-shadow: 2px 2px 6px rgba(255,88,36,.4);
	background-color: #ff3528;
	background-image: linear-gradient(to right, rgba(255,88,36,1), rgba(255,53,40,1));
}
.sale .list{
	float: left;
	width: 250px;
	margin-left: 20px;
}
.sale::after,.sale .list::after{
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.sale .list li{
	width: 250px;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 18px 10px rgba(0,0,0,0);
	background-color: #f7f7f7;
	overflow: hidden;
	transition: all .3s ease;
}
.sale .list li:hover{
	box-shadow: 2px 2px 18px 8px rgba(0,0,0,.05);
}
.sale .list li > a{
	display: block;
	width: 100%;
	height: 100%;
}
.sale .list li img{
	display: block;
	width: 100%;
	background-color: #eee;
	transition: all .4s ease;
}
.sale .list li:hover img{
	transform: scale(1.1);
}
.sale .list li p{
	box-sizing: border-box;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	width: 100%;
	border: 20px transparent solid;
	overflow: hidden;
}

/* footer 部分 */
footer{
	clear: both;
	width: 100%;
	height: 80px;
	margin-top: 40px;
	line-height: 80px;
	font-size: 12px;
	text-align: center;
	color: #888;
}