body{
	width: 100vw;
	height: 100vh;
	background-color: #fff;
}
body.parallax{
	overflow: hidden;
}
.copyright::after{
	display: none;
}
.toast.active{
	bottom: 14vw;
}
/* 头部工具栏 */
header{
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 14vw;
	padding: 1.5vw;
	background-color: rgba(255,255,255,0);
}
header .left,header .right{
	box-sizing: border-box;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	float: left;
	width: 11vw;
	height: 11vw;
	border-radius: 6vw;
	box-shadow: var(--theme-box-shadow);
	background-image: var(--theme-gradient);
	opacity: .95;
}
header .right{
	float: right;
}
header .left svg,header .right svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
	fill: #fff;
}

.content{
	width: 100%;
	height: 100%;
}
body.parallax .content{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	perspective: 1px;
	perspective-origin: center top;
	overflow-x: hidden;
	overflow-y: auto;
}
.scroll-content{
	position: relative;
	width: 100%;
}
.scroll-content::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 3vw;
	box-shadow: 0 -.2rem 2rem rgba(0,0,0,.05);
	background-color: transparent;
}
body.parallax .scroll-content{
	transform-style: preserve-3d;
}
.scroll-content .pic{
	width: 100vw;
	height: 100vw;
	background-color: #eee;
}
body.parallax .scroll-content .pic{
	position: absolute;
	top: -100vw;
	left: 0;
	transform: translateY(50%) translateZ(-1px) scale(2);
}
.scroll-content .pic svg{
	width: 90vw;
	height: 90vw;
	margin: 5vw;
	fill: #aaa;
}
.scroll-content .pic img{
	width: 100%;
	height: 100%;
}
.scroll-content .wrap{
	width: 100%;
}
body.parallax .scroll-content .wrap{
	margin-top: 100vw;
}
.scroll-content .wrap .box{
	width: 100%;
	padding: 3vw 0;
	padding-bottom: 14vw;
	background-color: #fff;
}
.wrap .main-msg{
	padding: 2vw 3vw 5vw;
}
.wrap .main-msg > b{
	display: block;
	height: 1.8rem;
	line-height: 1.8rem;
	background-color: #ddd;
}
.wrap .main-msg .txt{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-height: 15vw;
	width: 100%;
	font-size: 1.5rem;
	color: #333;
	line-height: 5vw;
	margin-top: 2vw;
	overflow: hidden;
}
.wrap .main-msg .sever{
	height: 4vw;
	margin-top: 3vw;
	padding-bottom: 2vw;
}
.wrap .main-msg .sever span{
	float: left;
	line-height: 4vw;
	color: #888;
	font-size: 1rem;
	margin-right: 2vw;
}
.wrap .main-msg .parameter{
	position: relative;
	height: 4vw;
	padding: 2vw 0;
	margin-top: 2vw;
}
.wrap .main-msg .parameter span{
	float: left;
	width: 10vw;
	line-height: 4vw;
	color: #888;
	font-size: 1.2rem;
}
.wrap .main-msg .parameter p{
	float: left;
	width: 78vw;
	line-height: 4vw;
	color: #333;
	font-size: 1.2rem;
	margin-right: 2vw;
}
.wrap .main-msg .parameter::after{
	content: '';
	/* content: '●●●'; */
	position: absolute;
	top: .8rem;
	right: 1vw;
	width: 2vw;
	height: 2vw;
	border-top: .1rem #ccc solid;
	border-right: .1rem #ccc solid;
	transform: rotate(45deg);
}
.wrap .main-msg .price{
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	height: 6vw;
	width: 100%;
	line-height: 6vw;
	font-size: 2.2rem;
	font-weight: bold;
	color: var(--theme-color);
	margin-top: 1vw;
	overflow: hidden;
}
.wrap .main-msg .price i{
	display: inline-block;
	font-style: normal;
	font-size: 1.3rem;
	color: inherit;
}
.wrap .main-msg .price b{
	float: right;
	padding-top: .3rem;
	margin-right: 1vw;
	font-weight: normal;
	font-size: 1rem;
}
.wrap .main-msg .lable{
	width: 100%;
	margin-top: 2vw;
}
.wrap .main-msg .lable span{
	float: left;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	height: 5vw;
	padding: 0 .5rem;
	margin-right: .6rem;
	color: #fff;
	font-size: 1.1rem;
	line-height: 5vw;
	font-weight: bold;
	border-radius: 3vw;
	background-color: var(--theme-color);
}
.wrap .main-msg span.light{
	box-sizing: border-box;
	line-height: calc(4vw - 2px);
	font-weight: normal;
	color: var(--theme-color);
	padding: 0 .3rem;
	border: 1px var(--theme-color) solid;
	background-color: transparent;
}
.wrap .detail{
	padding-top: 2vw;
}
.wrap .detail button{
	width: 94vw;
	height: 12vw;
	text-align: center;
	line-height: 12vw;
	/* color: #fff; */
	margin: 4vw 3vw 0;
	border-radius: 6vw;
	/* box-shadow: var(--theme-box-shadow); */
	/* background-image: var(--theme-gradient); */
	box-shadow: .2rem .2rem 2rem rgba(0,0,0,.1);
	background-color: #f7f7f7;
	transition: all .2s ease, height .3s ease .2s, float 0s .5s;
	overflow: hidden;
}
.wrap .detail button.active{
	height: 0;
	transform: translateX(20vw);
	opacity: 0;
	float: left;
}
.wrap .detail > span{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 94vw;
	height: 63vw;
	margin-top: 2vw;
	border-radius: 3vw;
	background-color: #eee;
}
.wrap .detail span svg{
	vertical-align: top;
	width: 22vw;
	height: 22vw;
	fill: #ddd;
}
.wrap .detail img{
	display: block;
	width: 100%;
	opacity: 0;
}
.wrap .detail img.active{
	animation: fadeIn .4s .2s forwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.footer{
	box-sizing: border-box;
	position: fixed;
	bottom: 2vw;
	right: 2vw;
	z-index: 9;
	height: 11vw;
	width: 96vw;
	padding-left: 28vw;
	border-radius: 20px;
	opacity: .95;
}
.footer > a,.footer .collect{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 11vw;
	height: 11vw;
	border-radius: 50%;
	/* border: 1px #eee solid; */
	box-shadow: .2rem .2rem 1rem rgba(0,0,0,.1);
	background-color: var(--bg-color);
}
.footer .collect{
	left: 14vw;
}
.footer > a svg{
	vertical-align: top;
	width: 7vw;
	height: 7vw;
	fill: var(--theme-color);
}
/* 收藏 */
.collect{
	position: relative;
	float: right;
	width: 11vw;
	height: 11vw;
	border-radius: 50%;
	background-color: rgba(255,255,255,.6);
}
.collect input{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 11vw;
	height: 11vw;
	background-color: transparent;
}
.collect span{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: relative;
	width: 100%;
	height: 100%;
}
.collect span svg{
	display: block;
	width: 7vw;
	height: 7vw;
	fill: #ccc;
}
.collect input:checked + span svg{
	animation: collection .3s forwards;
}
@keyframes collection {
	0% {
		opacity: 1;
		fill: #ccc;
		transform: scale(1);
	}
	60% {
		opacity: 1;
		fill: var(--theme-color);
		transform: scale(1.5);
	}
	80% {
		opacity: .5;
		fill: var(--theme-color);
		transform: scale(.8);
	}
	100% {
		opacity: 1;
		fill: var(--theme-color);
		transform: scale(1);
	}
}
.return-top{
	bottom: 17vw;
	z-index: 11;
}
.footer > button{
	box-sizing: border-box;
	float: left;
	width: 34vw;
	height: 11vw;
	text-align: center;
	line-height: 11vw;
	color: #fff;
	font-size: 1.5rem;
}
.footer > button:nth-of-type(1){
	color: #999;
	border-radius: 6vw 0 0 6vw;
	background-color: var(--bg-color);
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
}
.footer > button:nth-of-type(2){
	border-radius: 0 6vw 6vw 0;
	background: var(--theme-gradient);
	box-shadow: var(--theme-box-shadow);
}

/* 选套餐层 */
.config-layer,.param-layer{
	position: fixed;
	top: 0;
	left: -100vw;
	z-index: 11;
	width: 100vw;
	height: 100%;
	background-color: transparent;
	transition: all .2s ease, left 0s .2s;
}
.config-layer.active,.param-layer.active{
	transition: all .2s ease, left 0s 0s;
	left: 0;
	background-color: rgba(0,0,0,.5);
}
.config-layer .config-wrap,.param-layer .param-wrap{
	box-sizing: border-box;
	position: absolute;
	bottom: 18vw;
	left: 3vw;
	width: 94vw;
	height: 62vh;
	border-radius: 3vw;
	border: 3vw #fff solid;
	background-color: #fff;
	transform: translateY(40vw);
	transition: all .2s ease;
	opacity: 0;
	overflow: hidden;
}
.param-layer .param-wrap{
	height: 70vh;
}
.config-wrap .wrap{
	padding: 2vw;
}
.config-wrap .box > p{
	position: relative;
	line-height: 3.4rem;
	margin-bottom: 4vw;
	background-color: #fff;
}
.config-wrap .box > p::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 2vw;
	z-index: -1;
	width: 80vw;
	height: 3vw;
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.05);
	background-color: transparent;
}
.config-wrap .box > span{
	display: -webkit-box;
	-webkit-box-align: center;
	float: left;
	height: 6vw;
	font-size: 1.2rem;
	padding: 0 .8rem;
	border-radius: 3vw;
	margin-right: 1rem;
	margin-bottom: 1rem;
	background-color: #eee;
}
.config-wrap .box > .active{
	color: #fff;
	background-color: var(--theme-color);
}
.config-wrap .box .count{
	width: 78vw;
	padding: 6vw 3vw 0;
}
.box .count > span{
	float: left;
	width: 28vw;
	height: 10vw;
	line-height: 10vw;
}
.box .count > div{
	float: left;
	width: 50vw;
	height: 10vw;
}
.box .count > div button{
	float: left;
	width: 10vw;
	height: 10vw;
	line-height: 10vw;
	text-align: center;
	font-size: 2rem;
	color: #333;
	border-radius: 5vw;
	margin-right: 2vw;
	background-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
.box .count > div input{
	float: left;
	width: 16vw;
	height: 10vw;
	text-align: center;
	line-height: 10vw;
	margin-right: 2vw;
	border-radius: 5vw;
	background-color: #f7f7f7;
}

.config-layer .button-wrap,.param-layer .button-wrap{
	position: absolute;
	bottom: 0;
	left: 3vw;
	width: 94vw;
	height: 12vw;
	padding: 3vw 0;
	transform: translateY(40vw);
	transition: all .2s ease;
	opacity: 0;
}
.config-layer .button-wrap button,.param-layer .button-wrap button{
	float: left;
	width: 45.5vw;
	height: 12vw;
	text-align: center;
	line-height: 12vw;
	border-radius: 6vw;
	/* box-shadow: .2rem .2rem 1rem rgba(0,0,0,.1); */
	background-color: var(--bg-color);
}
.param-layer .button-wrap button{
	width: 94vw;
	color: #fff;
	background: var(--theme-gradient);
}
.button-wrap button:nth-of-type(2){
	float: right;
	color: #fff;
	/* box-shadow: var(--theme-box-shadow); */
	background: var(--theme-gradient);
}
.config-layer.active .config-wrap, .config-layer.active .button-wrap,.param-layer.active .param-wrap, .param-layer.active .button-wrap{
	transform: translateY(0);
	opacity: .95;
}
.param-wrap ul{
	padding: 2vw 2vw 4vw;
}
.param-wrap li{
	position: relative;
	width: 84vw;
	padding-bottom: 2vw;
	margin-bottom: 3vw;
	background-color: #fff;
}
.param-wrap li::after{
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.param-wrap li::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 84vw;
	height: 1px;
	background-color: #eee;
	transform: scaleY(.5);
}
.param-wrap li:last-child::before{
	display: none;
}
.param-wrap li span{
	float: left;
	width: 26vw;
	color: #444;
	font-size: 1.2rem;
	padding: 3vw 0;
	line-height: 6vw;
}
.param-wrap li p{
	float: right;
	width: 54vw;
	font-size: 1.2rem;
	padding: 3vw 0;
	line-height: 6vw;
}