body{
	/* width: 100vw; */
	/* height: calc(100vh - 52px); */
	padding-top: 52px;
	background-color: #fff;
	/* overflow: hidden; */
}
.copyright{
	height: 70px;
}
.copyright::after{
	display: none;
}
/* 头部工具栏 */
header{
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 50px;
	padding: 5px 53px 5px 3vw;
	/* box-shadow: 0 2px 4px rgba(0,0,0,.05); */
	border-bottom: 1px #eee solid;
	background-color: #fff;
}
header .left,header .right{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	/* border-radius: 20px; */
	/* background-color: rgba(255,255,255,1); */
	transition: all .2s ease;
	opacity: 1;
}
header .left.fadeOut,header .right.fadeOut{
	opacity: 0;
}
header .right{
	left: auto;
	right: 5px;
}
header .left svg{
	width: 20px;
	height: 20px;
	margin: 10px;
}
header .right svg{
	width: 22px;
	height: 22px;
	margin: 9px;
}
header .left svg{
	fill: var(--theme-color);
}
header .right svg{
	fill: #ccc;
}
header .search-tool{
	float: right;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: transparent;
	/* background-color: rgba(255,255,255,1); */
	overflow: hidden;
	transition: all .2s ease;
	transform: translateZ(0);
}
header .search-tool.active{
	width: 100%;
	background-color: var(--bg-color);
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
header .search-tool .search{
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 10px 50px 10px 16px;
}
.search-tool .input-bar{
	display: block;
	width: 100%;
	height: 18px;
	line-height: 18px;
	background-color: transparent;
	transition: all .2s ease;
	opacity: 0;
}
.search-tool.active .input-bar{
	opacity: 1;
}
.search-tool .search-icon{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
}
.search-tool .search-icon > svg{
	width: 22px;
	height: 22px;
	margin: 9px;
}
.search-icon > svg > use{
	transition: all .2s ease;
}
.search-icon > svg > use{
	fill: #ccc;
}
.search-icon.active > svg > use{
	fill: var(--theme-color);
}

/* 中心内容 */
.content{
	box-sizing: border-box;
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	padding-left: 128px;
	height: calc(100vh - 50px);
	overflow-x: hidden;
}
.content .left{
	box-sizing: border-box;
	float: left;
	width: 128px;
	height: 100%;
	background-color: var(--bg-color);
	padding-bottom: 10px;
	margin-left: -128px;
	overflow-x: hidden;
	overflow-y: auto;
}
.content .left li{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 44px;
	text-align: center;
	margin-bottom: 3px;
}
.content .left li::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 28px;
	height: 3px;
	width: 72px;
	background-color: var(--bg-color);
	transition: all .2s ease;
	transform: scaleX(0);
}
.content .left li.active::after{
	background-color: var(--theme-color);
	transform: scaleX(1);
}
.content .left li span{
	box-sizing: border-box;
	float: left;
	height: 40px;
	padding: 10px 12px;
}
.content .left li span svg{
	vertical-align: top;
	width: 20px;
	height: 20px;
	fill: #999;
	transition: all .2s ease;
}
.content .left li.active span svg{
	fill: var(--theme-color);
}
.content .left li span:nth-of-type(1){
	width: 44px;
	margin-left: -44px;
}
.content .left li span:nth-of-type(2){
	float: right;
	width: 100%;
	padding-left: 0;
	line-height: 20px;
	text-align: left;
	color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content .right{
	box-sizing: border-box;
	float: right;
	width: 100%;
	height: 100%;
	padding: 14px 14px 10px;
	overflow-x: hidden;
	overflow-y: auto;
}
.content .right li{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 16px 0;
	border-bottom: 1px #eee solid;
}
.content .right li:last-child{
	border-bottom: none;
}
.content .right li a{
	float: left;
	width: 102px;
	height: 70px;
	margin-bottom: 10px;
}
.content .right li a span{
	display: block;
	width: 102px;
}
.content .right li a span:nth-of-type(1){
	height: 50px;
}
.content .right li a span:nth-of-type(1) svg{
	width: 40px;
	height: 40px;
	margin: 5px 31px;
	fill: var(--theme-color);
}
.content .right li a span:nth-of-type(2){
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #999;
}

/* 底部伸缩菜单 */
.footer-fab{
	position: fixed;
	bottom: 4vw;
	right: 4vw;
	width: 50px;
	height: 50px;
	z-index: 9;
	background: var(--theme-gradient);
	border-radius: 50%;
	box-shadow: 0 0 8px var(--theme-shadow-color);
	transition: all .3s var(--boon), box-shadow 0s;
	/* ios 禁止长按触发 press */
	-webkit-touch-callout: none;
	/* 禁选文本 */
	-webkit-user-select: none;
	user-select: none;
	opacity: 0;
}
.footer-fab.active{
	transform: rotate(180deg);
	background: #fff;
	box-shadow: none;
}
.footer-fab.fadeOut{
	transform: translateY(100px) translateZ(0);
	opacity: 0;
}
.footer-fab svg{
	width: 24px;
	height: 24px;
	margin: 13px;
	fill: #fff;
}
.footer-fab.active svg{
	fill: var(--theme-color);
}
.footer-fab svg path{
	transform-origin: center;
	transition: all .3s ease;
}
.footer-fab.active svg path:nth-of-type(1){
	opacity: 0;
	transform: scaleX(0);
}
.footer-fab.active svg path:nth-of-type(2){
	transform: scale(1.1) rotate(45deg);
}
.footer-fab.active svg path:nth-of-type(3){
	transform: scale(1.1) rotate(-45deg);
}
.footer-fab.active svg path:nth-of-type(4){
	opacity: 0;
	transform:  scaleX(0);
}
.footer{
	display: flex;
	position: fixed;
	left: 0px;
	bottom: -20px;
	z-index: 9;
	height: 50px;
	width: 100vw;
	padding-bottom: 20px;
	box-shadow: 0 -2px 4px rgba(0,0,0,.05);
	background-color: #fff;
	transition: all .3s var(--boon);
	opacity: 1;
}
.footer.fadeOut{
	transform: translateY(100px);
	opacity: 0;
}
.footer a{
	flex: 1;
	height: 50px;
	text-align: center;
}
.footer a svg{
	width: 22px;
	height: 22px;
	margin: 6px auto -5px;
	fill: #ccc;
}
.footer .active svg{
	fill: var(--theme-color);
}
.footer a i{
	display: inline-block;
	width: 100%;
	font-size: 10px;
	color: #ccc;
	font-style: normal;
}
.footer .active i{
	color: var(--theme-color);
}