@import 'theme'; // 导入 highlight.js 的主题

@font-face {
	src: url(../font/SourceCodePro-Regular.ttf);
	font-family: 'SourceCodePro Regular';
}

::-webkit-scrollbar {
	display: none;
}

* {
	font-family: 'Microsoft YaHei';
	margin: 0;
	padding: 0;
	border: none;
	color: #dcdcdc;
}

body {
	background-color: #424242;
	overflow: hidden;
}

h2 {
	line-height: 78px;
	padding-top: 24px;
}

p {
	line-height: 24px;
	padding: 12px 0;
}

.copyright {
	height: 86px;
	line-height: 86px;
	font-size: 12px;
	color: #888;
	text-align: center;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.side-box {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 100vh;
	width: 80px;
	padding: 10px;
	background-color: #252525;
	
	ul {
		list-style: none;

		li {
			width: 60px;
			height: 60px;
			border-radius: 8px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 32px;
			transition: all .2s ease;

			&:hover {
				background-color: #0082de;
			}
		}
	}

	.icon-code {
		background-image: url(../img/code.svg);
	}
	.icon-setting {
		background-image: url(../img/setting.svg);
	}
	.icon-search {
		background-image: url(../img/search.svg);
	}
}

.button {
	width: 50px;
	height: 50px;
	font-size: 16px;
	color: #fff;
	border-radius: 8px;
	margin: 15px 5px 5px;
	outline: none;
	transition: all .2s ease;
	background-color: #0082de;

	&:hover {
		background-color: #de8233;
	}
}

.side-menu {
	position: fixed;
	top: 0;
	left: -420px;
	z-index: 998;
	width: 500px;
	height: 100vh;
	overflow: hidden;
	transition: all .3s ease .15s;
	opacity: .2;

	&.active {
		transform: translateX(100%);
		opacity: .95;
	}

	.hypotenuse {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		width: 80px;
		background-color: #0082de;
		transform-origin: top right;
		// height: ceil(sqrt(pow(80px, 2) + pow(100vh, 2)));
		// transform: rotate(4.7deg);
	}

	.side-menu-content {
		box-sizing: border-box;
		width: 420px;
		height: 100vh;
		padding: 8px 8px 8px 20px;
		background-color: #0082de;
		overflow-x: hidden;
		overflow-y: auto;

		.side-menu-content-wrap {
			width: auto;

			ul {
				list-style: none;
				padding: 10px 8px;

				li {
					height: 34px;
					padding-left: 12px;
					margin: 4px 0 14px 0;
					color: #fff;
					line-height: 34px;
					font-size: 15px;
					border-radius: 8px;
					cursor: pointer;
					// background-color: #0082de;
					transition: all .2s ease;

					&.active {
						background-color: #de8233;
					}

					&.heightli {
						height: 1000px;
						background-color: #569cd6;
					}
				}
			}
		}
	}
}
.side-menu-bg {
	left: -500px;
	width: 580px;
	z-index: 997;
	transition: all .3s ease .2s;

	&.active {
		transition: all .4s ease;
		transform: translateX(100%);
		opacity: 0.8;
	}

	.hypotenuse {
		background-color: #252525;
	}

	.side-menu-content {
		width: 500px;
		background-color: #252525;
	}
}

.label {
	display: inline-block;
	line-height: 14px;
	border-radius: 3px;
	padding: 2px 4px;
	text-decoration: none;
}

.label-link {
	background-color: #0082de;
}

.tip-warn {
	color: #de8233;
}

.tip-info {
	color: #569cd6;
}

.scroll-bar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	width: 16px;
	background-color: #424242;
	overflow: hidden;

	span {
		position: absolute;
		top: 4px;
		left: 4px;
		width: 8px;
		height: 238px;
		border-radius: 6px;
		background-color: #0082de;

		&:active {
			background-color: #de8233;
		}
	}

	&.float-left {
		left: 0;
		right: auto;
	}

	&.disable {
		display: none;
	}
	// 自定义的主题
	&.orange {
		background-color: transparent;

		span {
			background-color: #de8233;
		}
	}
}

.main-box {
	box-sizing: border-box;
	height: 100vh;
	padding: 0 ~'calc((100% - 1160px)/2)';
	margin: 0 auto;
	margin-right: -20px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* 扩展代码块插件 */
.hljs {
	position: relative;
	border-radius: 7px;
	padding: 8px;

	.codetip {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1;
		font-size: 12px;
		color: #666;
	}

	&.html::before {
		content: 'HTML';
		.codetip;
	}

	&.css::before {
		content: 'CSS';
		.codetip;
	}

	&.less::before {
		content: 'LESS';
		.codetip;
	}

	&.js::before {
		content: 'JS';
		.codetip;
	}
}

.hljs * {
	font-size: 14px;
	font-family: 'SourceCodePro Regular';
	white-space: pre-wrap;
	word-wrap: break-word;
}

.hljs-comment, .hljs-quote {
	font-style: normal;
}

// 菜单
.menu-icon {
	width: 32px;
	height: 32px;
	padding: 14px;
	transition: all .3s ease;

	svg {
		width: 32px;
		height: 32px;
		fill: #dcdcdc;

		g {
			transform-origin: center;
			transition: all .3s ease;
		}
	}

	&.active {
		transform: rotate(180deg)
	}

	&.active svg g:nth-of-type(1) {
		opacity: 0;
		transform: scaleX(0);
	}

	&.active svg g:nth-of-type(2) {
		transform: scale(1.1) rotate(-45deg);
	}

	&.active svg g:nth-of-type(3) {
		transform: scale(1.1) rotate(45deg);
	}

	&.active svg g:nth-of-type(4) {
		opacity: 0;
		transform:  scaleX(0);
	}
}