body{
	padding-top: 50px;
	background-color: #fff;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 50px;
	background-color: #555;
}
header .mui-action-back{
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	background: url(../svg/left.svg) no-repeat center;
	background-size: 34px;
}
#animate{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #f5f5f5;
	-webkit-transform: translate3d(0,0,0);
	overflow: hidden;
}
#animate span{
	position: absolute;
	width: 33px;
	height: 33px;
	border-radius: 100%;
	color: #fff;
	overflow: hidden;
}
#animate span:nth-of-type(1){
	top: -26px;
	left: 19px;
	-webkit-transform: scale(2);
	background: url(../img/orange.png) no-repeat center;
	background-size: cover;
}
#animate span:nth-of-type(2){
	top: 0px;
	left: -20px;
	-webkit-transform: scale(1.5);
	background: url(../img/green.png) no-repeat center;
	background-size: cover;
	opacity: .7;
}
#animate span:nth-of-type(3){
	top: 22px;
	left: 0px;
	-webkit-transform: scale(1.1);
	background: url(../img/blue.png) no-repeat center;
	background-size: cover;
}
#animate span:nth-of-type(4){
	top: 15px;
	left: 56px;
	-webkit-transform: scale(1.7);
	background: url(../img/yellow.png) no-repeat center;
	background-size: cover;
}
#animate span:nth-of-type(5){
	top: -15px;
	left: 70px;
	background: url(../img/blue.png) no-repeat center;
	background-size: cover;
	opacity: .9;
}
#animate span:nth-of-type(6){
	top: 30px;
	left: 112px;
	-webkit-transform: scale(.7);
	background: url(../img/pink.png) no-repeat center;
	background-size: cover;
}
#animate span:nth-of-type(7){
	width: 26px;
	height: 26px;
	top: 18px;
	left: 26px;
	background: url(../img/red.png) no-repeat center;
	background-size: cover;
	opacity: .8;
}
#animate span:nth-of-type(8){
	top: -10px;
	right: 4px;
	-webkit-transform: scale(2.5);
	background: url(../img/yellow.png) no-repeat center;
	background-size: cover;
	opacity: .9;
}
#advertisement{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px #ddd solid;
}
#advertisement img{
	width: 100%;
}
#advertisement p{
	font-size: 13px;
	padding: 0 14px;
}
#list{
	width: 100%;
}
#list:after{
	content: "";
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
#list li{
	box-sizing: border-box;
	float: left;
	position: relative;
	width: 33.33%;
	padding: 0;
	border-bottom: 1px #ddd solid;
	border-right: 1px #ddd solid;
	background: url(../img/gift.png) no-repeat center 42%;
	background-size: 46px;
}
#list li:nth-of-type(3),#list li:nth-of-type(6),#list li:nth-of-type(9),#list li:nth-of-type(12){
	border-right: none;
}
#list li p{
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 7px 14px;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}
#copyright{
	margin-top: 10px;
	width: 100%;
	font-size: 12px;
	color: #bbb;
	text-align: center;
}
