<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="author" content="Yoruni">
        <link rel="stylesheet" type="text/css" href="../public/css/yoruni.css">
        <link rel="stylesheet" type="text/css" href="../public/css/laraf.css">
        <script type="text/javascript" src="../public/js/zepto.min.js"></script>
        <script type="text/javascript" src="../public/js/mui.min.js"></script>
		<script type="text/javascript" src="../public/js/forget.js"></script>
		<title>重设密码</title>
	</head>
	<body>
		<!-- 页面内容content -->
		<div id="registerContent">
            <input id="username" type="text" placeholder="请输入手机号...">
            <input id="userpass" type="text" placeholder="请输入新密码...">
            <input id="reuserpass" type="text" placeholder="请输入新密码...">
            <input id="validatepass" type="text" placeholder="输入验证码...">
            <span id="validate" value="true">获取验证码</span>
            <span id="reset" href="#">重设密码</span>
            <a id="back" class="mui-action-back">返回</a>
            <p>某某某应用</p>
        </div>
	</body>
</html>