<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="author" content="Yoruni">
        <link rel="stylesheet" type="text/css" href="../public/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/yoruni.css">
        <link rel="stylesheet" type="text/css" href="../public/css/menu.css">
        <script type="text/javascript" src="../public/js/zepto.min.js"></script>
        <script type="text/javascript" src="../public/js/mui.min.js"></script>
        <script type="text/javascript" src="../public/js/yoruni.js"></script>
        <script type="text/javascript" src="../public/js/swiper.min.js"></script>
        <script type="text/javascript" src="../public/js/waiterMenu.js"></script>
        <title>服务员菜单</title>
    </head>
    <body>
        <header class="searchBox">
            <input id="searchIn" type="text" placeholder="输入菜编号搜索...">
            <span id="searchBtn"></span>
        </header>
        <svg version="1.1" id="menu" class="menureset" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" value="true">
            <path d="M8.667,15h30c0.552,0,1-0.447,1-1s-0.448-1-1-1h-30c-0.552,0-1,0.447-1,1S8.114,15,8.667,15z" />
            <path d="M8.667,26h30c0.552,0,1-0.447,1-1s-0.448-1-1-1h-30c-0.552,0-1,0.447-1,1S8.114,26,8.667,25z" />
            <path d="M8.667,37h30c0.552,0,1-0.447,1-1s-0.448-1-1-1h-30c-0.552,0-1,0.447-1,1S8.114,37,8.667,35z" />
        </svg>
        <aside class="asidehide">
            <ul id="nav">
                <li id="userCenter">个人中心</li>
                <li id="menuPage" class="spooned">菜单</li>
                <li id="orderPage">已下单</li>
                <li id="weightPage">称重菜</li>
            </ul>
        </aside>
        <!-- 内容 -->
        <div id="classify">
            <ul>
                <li class="classed">菜式</li>
                <li>菜式</li>
                <li>菜式</li>
                <li>菜式</li>
            </ul>
        </div>
        <div id="menuWarpper" class="swiper-container">
            <span id="refresh-tip"></span>
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <a><img src="../public/img/img.jpg">
                    <h3 class="fname">2016年新款汉堡</h3>
                    <p class="fprice"><i>88</i>元/份</p></a>
                    <p class="ftext">简介：2016年最新款汉堡</p>
                    <ul class="buybtn">
                        <li class="minus"></li>
                        <li class="text">0</li>
                        <li class="plus" value="true"></li>
                    </ul>
                </li>
                <li class="swiper-slide">
                    <a><img src="../public/img/img.jpg">
                    <h3 class="fname">2016年新款汉堡</h3>
                    <p class="fprice"><i>88</i>元/份</p></a>
                    <p class="ftext">简介：2016年最新款汉堡</p>
                    <ul class="buybtn">
                        <li class="minus"></li>
                        <li class="text">0</li>
                        <li class="plus" value="true"></li>
                    </ul>
                </li>
                <li class="swiper-slide">
                    <a><img src="../public/img/img.jpg">
                    <h3 class="fname">2016年新款汉堡</h3>
                    <p class="fprice"><i>88</i>元/份</p></a>
                    <p class="ftext">简介：2016年最新款汉堡</p>
                    <ul class="buybtn">
                        <li class="minus"></li>
                        <li class="text">0</li>
                        <li class="plus" value="true"></li>
                    </ul>
                </li>
                <li class="swiper-slide">
                    <a><img src="../public/img/img.jpg">
                    <h3 class="fname">2016年新款汉堡</h3>
                    <p class="fprice"><i>88</i>元/份</p></a>
                    <p class="ftext">简介：2016年最新款汉堡</p>
                    <ul class="buybtn">
                        <li class="minus"></li>
                        <li class="text">0</li>
                        <li class="plus" value="true"></li>
                    </ul>
                </li>
                <li class="swiper-slide">
                    <a><img src="../public/img/img.jpg">
                    <h3 class="fname">2016年新款汉堡</h3>
                    <p class="fprice"><i>88</i>元/份</p></a>
                    <p class="ftext">简介：2016年最新款汉堡</p>
                    <ul class="buybtn">
                        <li class="minus"></li>
                        <li class="text">0</li>
                        <li class="plus" value="true"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 已点餐按钮 -->
        <div id="car"><a>
            <span id="gocar">0</span>
            <span id="goprice">￥<i id="gopricei">0</i></span>
        </a></div>
        <!-- 遮罩层 -->
        <div id="mask" class="maskhide"></div>
    </body>
</html>