/* 项目中存在 yoruni.css 文件的话把这一段删了外链 yoruni.css 文件 */
*{
	font-size: 14px;
	font-family: Microsoft YaHei,sans-serif,Helvetica;
	color: #666;
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
}
a {
	text-decoration: none;
}
a,button,input,textarea{
	-webkit-appearance: none;
	outline: none;
}
/* ************************************************************** */
body{
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	overflow: hidden;
}
.someMes{
	width: 100%;
	padding: 30px 0;
	text-align: center;
	color: #888;
}
.inputBox{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 82px;
	padding: 30px 12px;
	font-size: 20px;
	text-align: right;
	line-height: 20px;
	border-top: 1px #eee solid;
	border-bottom: 1px #eee solid;
	background-color: #fff;
}
.tii{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	color: #999;
	font-size: 12px;
	text-align: right;
	padding: 5px 12px 30px;
}
#otherList{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	padding: 0 12px 12px;
	background-color: #fff;
}
#otherList p{
	width: 100%;
	height: 34px;
	font-size: 16px;
	line-height: 48px;
}
#otherList span{
	font-size: 12px;
	color: #1090bb;
}
#switchBox{
	position: relative;
	float: right;
	width: 60px;
	height: 30px;
	margin-top: -17px;
	border-radius: 16px;
	border: 1px #eee solid;
	transition: all .2s;
	-webkit-transition: all .2s;
}
#switchBox.active{
	background-color: #09bb07;
}
#switchBox span{
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	box-shadow: 0 0 4px rgba(22,22,22,.2);
	background-color: #fff;
	transition: all .2s;
	-webkit-transition: all .2s;
}
#switchBox.active span{
	transform: translateX(31px);
	-webkit-transform: translateX(31px);
}
.successBtn{
	position: absolute;
	bottom: 14px;
	left: 4%;
	height: 44px;
	width: 92%;
	font-size: 17px;
	color: #fff;
	text-align: center;
	line-height: 44px;
	border-radius: 4px;
	background-color: #09bb07;
}
/*遮罩层*/
#keyboxMask{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(66,66,66,.1);
	display: none;
}
/* 模拟键盘 */
#keybox{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 11;
	width: 100%;
	box-shadow: 0 -1px 3px rgba(66,66,66,.1);
	transition: all .2s;
	-webkit-transition: all .2s;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
}
#keybox.active{
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
#tipSpan{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	height: 20px;
	width: 100%;
	font-size: 12px;
	color: #f44;
	text-align: center;
	padding: 0 10px;
	border-bottom: 1px #eee solid;
	background-color: #fff;
	display: none;
}
#keyList{
	width: 100%;
	background-color: #fff;
}
#keyList::after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#keyList li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	width: 25%;
	border-left: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	transition: all .1s;
	-webkit-transition: all .1s;
}
#keyList li:active{
	background-color: #eee;
}
#keyList li span{
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: 74%;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
#keyList li span b{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	font-size: 20px;
	color: #aaa;
}
#keyList #willOk{
	width: 100%;
	height: 58px;
	font-size: 20px;
	color: #09bb07;
	text-align: center;
	line-height: 58px;
}
#keyList #willBack b{
	font-weight: normal;
}