body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #fff;
}
.list{
	flex: 1;
	width: 100%;
}
.list li{
	box-sizing: border-box;
	float: left;
	width: 25vw;
	height: 25vw;
}
.list li svg{
	width: 8vw;
	height: 8vw;
	margin: 4vw 7.5vw 1vw;
	fill: var(--theme-color);
}
.list .pic svg{
	width: 8.5vw;
	height: 8.5vw;
	margin: 4vw 7.25vw .5vw;
	fill: var(--theme-color);
}
.list li p{
	width: 100%;
	line-height: 1.2rem;
	text-align: center;
	font-size: 1rem;
	color: #aaa;
}
.copyright::after{
	display: none;
}