/* html height 100% 这样 Chrome 下不计算浏览器地址栏高度 */
html{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: #fff;
}
.content{
	flex: 1;
	box-sizing: border-box;
	width: 100%;
}
.content h1{
	width: 100%;
	height: 47vw;
	line-height: 47vw;
	text-indent: 3vw;
	font-size: 4rem;
	color: #f7f7f7;
	font-weight: bold;
	box-shadow: var(--theme-box-shadow);
	background: var(--theme-gradient);
}
.content p{
	font-size: 2rem;
	color: #aaa;
	padding: 3vw;
}