/*author: Yoruni*/
body {
	padding-top: 40px;
	background-color: #fff;
}
header {
	background-color: #f7f7f7;
	border-bottom: 1px #ececec solid;
}
#goback{
	width: 15%;
	background: url(../svg/left.svg) no-repeat center;
	background-size: 34px;
}
#searchBox {
	width: 70%;
}
#search{
	box-sizing: border-box;
	float: left;
	width: 77%;
	height: 28px;
	padding-left: 8px;
	margin: 6px 0;
	border: 1px #dfdfdf solid;
	font-size: 12px;
	color: #999;
	line-height: 28px;
	border-radius: 5px;
}
#searchGo{
	box-sizing: border-box;
	float: right;
	width: 20%;
	height: 28px;
	margin: 6px 0;
	border: 1px #dfdfdf solid;
	background: #fff url(../svg/search.svg) no-repeat center;
	background-size: 24px;
	border-radius: 5px;
}
#inputReset {
	width: 15%;
	background: url(../svg/close.svg) no-repeat center;
	background-size: 28px;
}
#content {
	width: 100%;
	height: 100%;
}
#hotSearch {
	width: 100%;
	height: 90px;
	border-bottom: 1px #eee solid;
	overflow: hidden;
}
#hotSearch span {
	display: inline-block;
	width: 26%;
	height: 15px;
	padding: 36px 0px;
	line-height: 15px;
	text-align: center;
	font-size: 15px;
	color: #bbb;
}
#hotSearch ul {
	width: 73%;
	height: 78px;
	float: right;
	padding: 6px 0px;
}
#hotSearch ul li {
	float: left;
	margin: 6px;
	border: 1px #eee solid;
	border-radius: 5px;
	overflow: hidden;
}
#hotSearch li a {
	display: block;
	font-size: 13px;
	height: 13px;
	line-height: 14px;
	padding: 6px 12px;
	background-color: #EDF7FF;
}
#seahisTitle,#seaTitle{
	width: 100%;
	height: 15px;
	line-height: 15px;
	padding: 9px 0px;
	font-size: 15px;
	color: #bbb;
	text-align: center;
}
#historySearch {
	width: 96%;
	margin: 0px 2%;
	overflow-x: hidden;
}
#historySearch ul {
	width: 96%;
	margin: 0px 2%;
}
#historySearch li {
	float: left;
	height: 31px;
	margin: 6px;
	overflow: hidden;
	opacity: 0;
}
#historySearch li:nth-child(odd) {
	-webkit-animation: fade 2s linear 0.1s forwards;
	animation: fade 2s linear 0.1s forwards;
}
#historySearch li:nth-child(even) {
	-webkit-animation: fade 2s linear 0.1s forwards;
	animation: fade 2s linear 0.4s forwards;
}
@-webkit-keyframes fade {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes fade {
	from {opacity: 0;}
	to {opacity: 1;}
}
#historySearch li a {
	display: block;
	padding: 6px 12px;
}