<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<link rel="stylesheet" href="../public/css/reset.css" />
		<link rel="stylesheet" href="../public/css/homeWarpper.css" />
		<script type="text/javascript" src="../public/js/mui.js"></script>
		<script type="text/javascript" src="../public/js/zepto.min.js"></script>
		<script type="text/javascript" src="../public/js/TweenMax.min.js"></script>
		<script type="text/javascript" src="../public/js/homeWarpper.js"></script>
	</head>
	<body>
		<div id="videoBox">
			<video id="myvideo" preload="auto">
				<source src="../public/video/mov.mp4" type="video/mp4">
			</video>
			<button id="playbtn"></button>
			<button id="pausebtn"></button>
		</div>
		<div id="textContent"></div>
		<div id="active">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</body>

</html>