<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="author" content="Yoruni">
		<link rel="stylesheet" href="../public/css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../public/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../public/css/laraf.css">
		<script type="text/javascript" src="../public/js/mui.js"></script>
		<script type="text/javascript" src="../public/js/zepto.min.js"></script>
		<script type="text/javascript" src="../public/js/login.js"></script>
		<title></title>
	</head>
	<body>
		<span id="goback" class="mui-action-back"></span>
		<!-- 页面内容content -->
		<div id="loginContent">
            <input id="username" type="text" placeholder="请输入手机号...">
            <input id="userpass" type="text" placeholder="请输入密码...">
            <span id="forgetpass">忘记密码</span>
            <span id="login">登录</span>
            <span id="register">立即注册</span>
            <p>某某某应用</p>
        </div>
	</body>
</html>