<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="author" content="Yoruni">
        <link rel="stylesheet" type="text/css" href="../public/css/yoruni.css">
        <link rel="stylesheet" type="text/css" href="../public/css/laraf.css">
        <script type="text/javascript" src="../public/js/zepto.min.js"></script>
        <script type="text/javascript" src="../public/js/mui.min.js"></script>
        <script type="text/javascript" src="../public/js/login.js"></script>
        <title>登陆</title>
	</head>
	<body>
		<!-- 页面内容content -->
		<div id="loginContent">
            <input id="username" type="text" placeholder="请输入用户名...">
            <input id="userpass" type="text" placeholder="请输入密码...">
            <a id="forgetpass" href="forget.html">忘记密码</a>
            <a id="login">登录</a>
            <a id="register">马上注册</a>
            <a id="back" class="mui-action-back">返回</a>
            <p>某某某应用</p>
        </div>
	</body>
</html>