<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="author" content="Yoruni">
        <link rel="stylesheet" type="text/css" href="../public/css/yoruni.css">
        <link rel="stylesheet" type="text/css" href="../public/css/open.css">
        <script type="text/javascript" src="../public/js/zepto.min.js"></script>
        <script type="text/javascript" src="../public/js/mui.min.js"></script>
        <script type="text/javascript" src="../public/js/open.js"></script>
        <title>服务员开台</title>
    </head>
    <body>
        <header><a id="return" class="mui-action-back"></a></header>
        <span id="openTable">开台</span>
        <div id="content">
            <ul id="tableMes">
                <li>
                    <span class="listName">桌号：</span>
                    <span class="listText"><i>某某某</i></span>
                </li>
                <li>
                    <span class="listName">用餐人数：</span>
                    <ul class="buybtn">
                        <li id="minus" class="minus"></li>
                        <li id="text" class="text">0</li>
                        <li id="plus" class="plus"></li>
                    </ul>
                </li>
                <li id="tea">
                    <span class="listName">茶名：</span>
                    <span class="listText"><i>82年普洱</i></span>
                </li>
                <li>
                    <span class="listName">茶位费：</span>
                    <span class="listText">共&nbsp;<i id="teaSum">0</i>&nbsp;元</span>
                    <span class="listText">单价&nbsp;<i id="teaPrice">0</i>&nbsp;</span>
                </li>
                <li id="tissue">
                    <span class="listName">纸巾名：</span>
                    <span class="listText"><i>82年维达</i></span>
                </li>
                <li>
                    <span class="listName">纸巾费：</span>
                    <span class="listText">共&nbsp;<i id="tissueSum">0</i>&nbsp;元</span>
                    <span class="listText">单价&nbsp;<i id="tissuePrice">0</i>&nbsp;</span>
                </li>
                <li id="guestMes">
                    <textarea>备注...</textarea>
                </li>
                <li>
                    <span class="listName">合计&nbsp;<i id="pagePrice">0</i>&nbsp;元</span>
                    <a id="goOpen" href="#">确认开台</a>
                </li>
            </ul>
        </div>
        <div id="mask"></div>
        <div id="sellist">
            <p>请选择某某某</p>
            <ul>
                <li value="1">某某某1</li>
                <li value="2">某某某2</li>
                <li value="3">某某某3</li>
                <li value="4">某某某4</li>
                <li value="5">某某某5</li>
                <li value="6">某某某6</li>
            </ul>
        </div>
    </body>
</html>