<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="author" content="Yoruni">
        <link rel="stylesheet" type="text/css" href="../public/css/yoruni.css">
        <link rel="stylesheet" type="text/css" href="../public/css/orderList.css">
        <script type="text/javascript" src="../public/js/zepto.min.js"></script>
        <script type="text/javascript" src="../public/js/mui.min.js"></script>
        <script type="text/javascript" src="../public/js/yoruni.js"></script>
        <title>已点餐</title>
    </head>
    <body>
        <header><a id="return" href="javascript:history.go(-1)"></a></header>
        <ul id="tableMes">
            <li>
                <span class="listName">1</span>
                <p class="listText">订单号：<i>FG545215125513A654</i></p>
                <span class="orderPrice">金额：<i>888元</i></span>
                <span class="orderTime">2016-09-20 18:00</span>
            </li>
            <li>
                <span class="listName">2</span>
                <p class="listText">订单号：<i>FG545215125513A654</i></p>
                <span class="orderPrice">金额：<i>888元</i></span>
                <span class="orderTime">2016-09-20 18:00</span>
            </li>
            <li>
                <span class="listName">3</span>
                <p class="listText">订单号：<i>FG545215125513A654</i></p>
                <span class="orderPrice">金额：<i>888元</i></span>
                <span class="orderTime">2016-09-20 18:00</span>
            </li>
        </ul>
    </body>
</html>