<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="author" content="Yoruni">
        <link rel="stylesheet" type="text/css" href="../public/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/yoruni.css">
        <link rel="stylesheet" type="text/css" href="../public/css/setMenu.css">
        <script type="text/javascript" src="../public/js/zepto.min.js"></script>
        <script type="text/javascript" src="../public/js/mui.min.js"></script>
        <script type="text/javascript" src="../public/js/swiper.min.js"></script>
        <script type="text/javascript" src="../public/js/setMenu.js"></script>
        <title>套餐</title>
    </head>
    <body>
        <header><a id="return" class="mui-action-back"></a></header>
        <!-- 首页banner -->
        <div id="banner" class="swiper-container">
            <div class="swiper-wrapper">
                <!-- 轮播图 图片 4:3-->
                <div class="swiper-slide">
                    <img src="../public/img/img.jpg" width="100%" height="100%">
                </div>
                <div class="swiper-slide">
                    <img src="../public/img/img.jpg" width="100%" height="100%">
                </div>
                <div class="swiper-slide">
                    <img src="../public/img/img.jpg" width="100%" height="100%">
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <div id="content">
            <h3 class="fname">2016年新款汉堡</h3>
            <p class="fprice">88元/份<span>自定义菜式</span></p>
            <p class="ftext">简介：2016年最新款汉堡</p>
        </div>
        <div id="foodmes">
            <p>所属菜式：法式料理</p>
            <p>类型：前菜</p>
            <p>自定义套餐</p>
        </div>
        <ul id="setmenulist">
            <li>红烧白切鸡套餐 888元/份</li>
        </ul>
        <p id="copyright">©版权所有 侵权必究</p>
        <div id="mask"></div>
        <ul id="sellist">
            <li>不知名的食物 88元/份</li>
            <li>食物 88元/份</li>
            <li>食物 88元/份</li>
            <li>食物 88元/份</li>
        </ul>
    </body>
</html>