<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="author" content="Yoruni">
        <link rel="stylesheet" type="text/css" href="../public/css/yoruni.css">
        <link rel="stylesheet" type="text/css" href="../public/css/user.css">
        <script type="text/javascript" src="../public/js/zepto.min.js"></script>
        <script type="text/javascript" src="../public/js/mui.min.js"></script>
        <script type="text/javascript" src="../public/js/user.js"></script>
        <title>个人中心</title>
    </head>
    <body>
        <div id="content">
            <ul>
                <li id="usermes">
                    <img src="../public/img/img.jpg">
                    <p>剩余积分：<i>54858</i></p>
                    <a id="return" class="mui-action-back"></a>
                    <a id="close"></a>
                </li>
                <li id="forgetpass"><a>修改密码<i></i></a></li>
                <li id="orderPage"><a>订单详细<i></i></a></li>
                <li id="waiterPage"><a>服务员菜单<i></i></a></li>
                <li id="openTable"><a>开台<i></i></a></li>
            </ul>
        </div>
        <p id="copyright">©版权所有 侵权必究</p>
    </body>
</html>