body{
	padding-top: 45px;
	padding-bottom: 41px;
	background-color: #fff;
	overflow-x: hidden;
}
header{
	text-align: center;
	line-height: 44px;
}
#return{
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	background: url(../svg/return.svg) no-repeat center;
	background-size: 26px;
}
#content{
	background-color: #fff;
}
#tableMes{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 12px;
}
#tableMes li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	height: 62px;
	padding: 10px 20px 10px 46px;
	border-bottom: 2px #e7e7e7 dotted;
	background: url(../svg/right.svg) no-repeat right center;
	background-size: 8px;
	overflow: hidden;
}
#tableMes li i{
	font-style: normal;
	padding: 0 4px;
}
.listName{
	position: absolute;
	top: 15px;
	left: 6px;
	width: 30px;
	height: 30px;
	color: #fff;
	line-height: 33px;
	text-align: center;
	border-radius: 15px;
	background-color: #3EB96B;
}
.listText i{
	font-weight: bold;
}
.listText{
	height: 20px;
	line-height: 23px;
}
.orderPrice{
	float: left;
	height: 20px;
	width: 50%;
	font-size: 12px;
	line-height: 23px;
	color: #A35BA6;
}
.orderPrice i{
	color: inherit;
}
.orderTime{
	float: right;
	height: 20px;
	width: 50%;
	font-size: 10px;
	line-height: 25px;
	text-align: right;
	color: #888;
}
#copyright{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
	font-size: 12px;
	color: #888;
	text-align: center;
	line-height: 1em;
	background-color: #fff;
}