/* @font-face { 
	font-family: Cartoon;
	src: url(../font/Cartoon.ttf);
} */
*{
	font-size: 14px;
	font-family: Cartoon,Microsoft YaHei,sans-serif,Helvetica;
	color: #5b0200;
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a {
	text-decoration: none;
}
a,button,input,textarea{
	-webkit-appearance: none;
	outline: none;
}
body{
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
/* music */
#music {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 999;
	width: 40px;
	height: 40px;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	-webkit-transform: scale(0.7);
	cursor: pointer;
}
#audioBtn {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
	width: 40px;
	height: 40px;
}
#music .on {
	opacity: .7;
	background: url(../img/musicOn.png) no-repeat center;
	background-size: 40px;
	-webkit-animation: rotating 2.5s linear infinite;
}
#music .off {
	opacity: 1;
	background: url(../img/musicOff.png) no-repeat center;
	background-size: 40px;
	-webkit-animation: none;
}
#music.active span {
	position: absolute;
	top: -6px;
	left: 7px;
	z-index: 997;
	width: 28px;
	height: 60px;
	background: url(../img/music.png) no-repeat center;
	-webkit-transform: scale(0.7);
	-webkit-transform-origin: 22px 22px;
	opacity: 0;
}
#music.active span:nth-of-type(1) {
	-webkit-animation: kiedeOne 1s linear 0.2s infinite;
}
#music.active span:nth-of-type(2) {
	-webkit-animation: kiedeTow 1s linear 0.6s infinite;
}
#music.active span:nth-of-type(3) {
	-webkit-animation: kiedeThree 1.2s linear 1.1s infinite;
}
@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes kiedeOne {
	from {
		-webkit-transform: rotate(0deg) scale(0.7) translateX(0);
		opacity: 0.9;
	}

	to {
		-webkit-transform: rotate(120deg) scale(0.3) translateX(-100px);
		opacity: 0;
	}
}
@-webkit-keyframes kiedeTow {
	from {
		-webkit-transform: rotate(0deg) scale(0.7) translateX(0) translateY(0);
		opacity: 0.9;
	}

	to {
		-webkit-transform: rotate(140deg) scale(0.3) translateX(76px) translateY(130px);
		opacity: 0;
	}
}
@-webkit-keyframes kiedeThree {
	from {
		-webkit-transform: rotate(0deg) scale(0.7) translateX(0) translateY(0);
		opacity: 0.9;
	}

	to {
		-webkit-transform: rotate(100deg) scale(0.3) translateX(66px) translateY(-90px);
		opacity: 0;
	}
}
/* tip */
#tips{
	position: fixed;
	left: 50%;
	bottom: 30px;
	z-index: 999999;
	padding: 8px 16px;
	border-radius: 17px;
	background-color: rgba(22,22,22,.5);
	color: #fff;
	line-height: 1.3em;
	overflow: hidden;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transform: translate3d(-50%,0,0);
	-webkit-transform: translate3d(-50%,0,0);
	opacity: 0;
}
#tips.active{
	transform: translate3d(-50%,-30px,0);
	-webkit-transform: translate3d(-50%,-30px,0);
	opacity: 1;
}

/* SVG */
#SVGfilter{
	position: relative;
	width: 160px;
	height: 160px;
	margin: 0 auto;
	animation: rotateMove 2s linear infinite;
	-webkit-animation: rotateMove 2s linear infinite;
	/* 载入融合滤镜 */
	filter: url(#fuseFilter);
	-webkit-filter: url(#fuseFilter);
	/* overflow: hidden; */
	/* background-color: #AAED24; */
}
#SVGfilter span{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: -20px 0 0 -20px;
	background-color: #AAED24;
}
#SVGfilter span:nth-of-type(1){
	/* background-color: #AAED24; */
	animation: rightMove 2s linear infinite;
	-webkit-animation: rightMove linear 2s infinite;
}
#SVGfilter span:nth-of-type(2){
	/* background-color: #ED6C24; */
	animation: leftMove 2s .25s linear infinite;
	-webkit-animation: leftMove 2s .25s linear infinite;
}
#SVGfilter span:nth-of-type(3){
	/* background-color: #24CBED; */
	animation: topMove 2s .5s linear infinite;
	-webkit-animation: topMove 2s .5s linear infinite;
}
#SVGfilter span:nth-of-type(4){
	/* background-color: #E524ED; */
	animation: bottomMove 2s .75s linear infinite;
	-webkit-animation: bottomMove 2s .75s linear infinite;
}
/* #SVGfilter span:nth-of-type(5){
	animation: colorChange 2s infinite;
	-webkit-animation: colorChange 2s infinite;
} */
/* @keyframes colorChange {
	0%{
		background-color: #AAED24;
	}
	25%{
		background-color: #ED6C24;
	}
	50%{
		background-color: #24CBED;
	}
	75%{
		background-color: #E524ED;
	}
}
-webkit-@keyframes colorChange {
	0%{
		background-color: #AAED24;
	}
	25%{
		background-color: #ED6C24;
	}
	50%{
		background-color: #24CBED;
	}
	75%{
		background-color: #E524ED;
	}
} */
@keyframes rotateMove {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
-webkit-@keyframes rotateMove {
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rightMove {
	0%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(70px);
	}
	100%{
		transform: translateX(0);
	}
}
-webkit-@keyframes rightMove {
	0%{
		-webkit-transform: translateX(0);
	}
	50%{
		-webkit-transform: translateX(70px);
	}
	100%{
		-webkit-transform: translateX(0);
	}
}
@keyframes leftMove {
	0%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(-70px);
	}
	100%{
		transform: translateX(0);
	}
}
-webkit-@keyframes leftMove {
	0%{
		-webkit-transform: translateX(0);
	}
	50%{
		-webkit-transform: translateX(-70px);
	}
	100%{
		-webkit-transform: translateX(0);
	}
}
@keyframes topMove {
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-70px);
	}
	100%{
		transform: translateY(0);
	}
}
-webkit-@keyframes topMove {
	0%{
		-webkit-transform: translateY(0);
	}
	50%{
		-webkit-transform: translateY(-70px);
	}
	100%{
		-webkit-transform: translateY(0);
	}
}
@keyframes bottomMove {
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(70px);
	}
	100%{
		transform: translateY(0);
	}
}
-webkit-@keyframes bottomMove {
	0%{
		-webkit-transform: translateY(0);
	}
	50%{
		-webkit-transform: translateY(70px);
	}
	100%{
		-webkit-transform: translateY(0);
	}
}