body{
	padding-top: 45px;
	background-color: #f7f7f7;
	overflow-x: hidden;
}
header{
	/*color: #A35BA6;*/
	text-align: center;
	line-height: 44px;
}
#return{
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	background: url(../svg/return.svg) no-repeat center;
	background-size: 26px;
}
#banner{
	width: 100%;
	background-color: #ddd;
}
#content,#foodmes{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	padding: 10px;
	background-color: #fff;
}
.fprice,.ftext{
	padding: 2px 0;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.fname{
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.fprice{
	font-size: 12px;
	color: #A35BA6;
}
.ftext{
	max-height: 26px;
	font-size: 10px;
	color: #888;
	line-height: 1.2em;
}
.buybtn{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 90px;
	height: 30px;
}
.buybtn li{
	position: absolute;
	top: 0;
	width: 30px;
	height: 30px;
	overflow: hidden;
}
.buybtn .minus{
	left: 0;
	background: url(../svg/minus.svg) no-repeat center;
	background-size: 28px;
}
.buybtn .text{
	left: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
.buybtn .plus{
	left: 60px;
	float: right;
	background: url(../svg/plus.svg) no-repeat center;
	background-size: 28px;
}
#foodmes:before{
	content: "";
	position: absolute;
	top: 0;
	left: 6%;
	right: 6%;
	height: 1px;
	background-color: #e4e4e4;
}
#foodmes p{
	padding-bottom: 6px;
	font-size: 13px;
	color: #666;
}
#taste:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#taste li{
	float: left;
	height: 13px;
	padding: 7px 10px 6px 22px;
	margin: 5px 2px;
	font-size: 13px;
	line-height: 1em;
	background: url(../svg/radio.svg) no-repeat left center;
	background-size: 18px;
}
#taste .select{
	background-image: url(../svg/radioed.svg);
}
#copyright{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
	margin-top: 10px;
	font-size: 12px;
	color: #888;
	text-align: center;
	line-height: 1em;
	background-color: #fff;
}