/*author: Yoruni*/
body {
	padding-top: 36%;
	background: #fff url(../img/lbg.png) no-repeat center top;
	background-size: 100%;
	/*display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;*/
}
header{
	background-color: transparent;
}
header span{
	height: 50px;
}
input{
	font-size: 12px;
}
#loginContent,#registerContent,#forgetContent{
	position: relative;
	width: 260px;
	margin: 0 auto;
}
#loginContent #username,#registerContent #username,#registerContent #userpass,#registerContent #reuserpass{
	padding: 0;
	margin: 0 0 5px 0;
	border-radius: 3px;
	box-shadow: 0 0 8px #ccc;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-indent: 40px;
	background: rgba(255,255,255,.8) url(../svg/user.svg) no-repeat 11px center;
	background-size: 20px;
}
#loginContent #userpass,#registerContent #validatepass{
	padding: 0;
	border-radius: 3px;
	box-shadow: 0 0 8px #ccc;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px #f7f7f7 solid;
	margin: 0 0 36px 0;
	text-indent: 40px;
	background: rgba(255,255,255,.8) url(../svg/lock.svg) no-repeat 11px center;
	background-size: 20px;
}
#registerContent #userpass,#registerContent #reuserpass{
	background-image: url(../svg/lock.svg);
}
#registerContent #validatepass{
	background-image: url(../svg/label.svg);
}
#loginContent #forgetpass{
	position: absolute;
	top: 46px;
	right: 5px;
	height: 38px;
	padding: 0 4px;
	color: #999;
	font-size: 12px;
	line-height: 38px;
}
#registerContent #validate{
	position: absolute;
	top: 136px;
	right: 5px;
	height: 38px;
	padding: 0 4px;
	color: #999;
	font-size: 12px;
	line-height: 38px;
}
#login,#register,#reset,#back{
	display: block;
	height: 36px;
	width: 100%;
	margin-bottom: 10px;
	color: #fff;
	text-align: center;
	line-height: 36px;
	background-color: #1CB9F7;
	border-radius: 3px;
	outline: none;
}
#login{
	box-shadow: 0 2px 8px #ccc;
}
#loginContent #register{
	background-color: #bfbfbf;
}
#back{
	margin-top: 20px;
	background-color: inherit;
	color: #888;
}
#loginContent p,#registerContent p{
	width: 70%;
	font-size: 12px;
	color: #999;
	text-align: center;
	line-height: 30px;
	margin: 20px 15%;
	border-top: 1px #eee solid;
}