*{
	font-size: 14px;
	font-family: Microsoft YaHei,sans-serif;
	color: #555;
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent; /*解决ios设备点击闪烁*/
}
a {
	text-decoration: none;
}
a,button,input,textarea{
	-webkit-appearance: none;
	outline: none;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 44px;
	border-bottom: 1px #3EB96B solid;
	background: #fff url(../img/ubg.png) no-repeat left center;
	background-size: 170px 44px;
}
/*右上角按钮动画*/
#menu{
	position: fixed;
	top: 2px;
	right: 2px;
	z-index: 11;
	width: 40px;
	height: 40px;
}
svg{
	transform-origin: center;
	-webkit-transform-origin: center;
}
#menu path{
	transform-origin: center;
	-webkit-transform-origin: center;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
.menureset path:nth-of-type(1){
	transform: translateY(0) rotate(0deg);
	-webkit-transform: translateY(0) rotate(0deg);
	fill: #3EB96B;
}
.menureset path:nth-of-type(2){
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	fill: #3EB96B;
}
.menureset path:nth-of-type(3){
	transform: translateY(0);
	-webkit-transform: translate(0);
	opacity: 1;
	fill: #3EB96B;
}
.menuchange path:nth-of-type(1){
	transform: translateY(10px) rotate(-45deg);
	-webkit-transform: translateY(10px) rotate(-45deg);
	fill: #fff;
}
.menuchange path:nth-of-type(2){
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	fill: #fff;
}
.menuchange path:nth-of-type(3){
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	opacity: 0;
	fill: #fff;
}
/*侧栏菜单*/
aside{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 11;
	width: 70px;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
.asidehide{
	transform: translate(-70px);
	-webkit-transform: translate(-70px);
}
.asideshow{
	transform: translate(0px);
	-webkit-transform: translate(0px);
}
#nav li{
	position: relative;
	width: 70px;
	height: 78px;
	font-size: 10px;
	color: #ddd;
	line-height: 110px;
	text-align: center;
}
#nav li:after{
	position: absolute;
	bottom: 0px;
	left: 15px;
	content: "";
	width: 40px;
	height: 1px;
	background-color: #ddd;
}
#nav li a{
	float: left;
	width: 100%;
	height: 100%;
	color: inherit;
	font-size: inherit;
}
#nav li:nth-of-type(1){
	height: 110px;
	color: #fff;
	line-height: 180px;
	background: #A35BA6 url(../svg/tie.svg) no-repeat center 14px;
	background-size: 26px;
}
#nav li:nth-of-type(1):after{
	display: none;
}
#nav li:nth-of-type(2){
	background: url(../svg/spoon.svg) no-repeat center 16px;
	background-size: 24px;
}
/*菜单选中样式*/
#nav .spooned{
	color: #3EB96B;
	background-image: url(../svg/spooned.svg)!important;
}
#nav li:nth-of-type(3){
	background: url(../svg/ticket.svg) no-repeat center 16px;
	background-size: 24px;
}
/*已下单选中样式*/
#nav .ticketed{
	color: #3EB96B;
	background-image: url(../svg/ticketed.svg)!important;
}
#nav li:nth-of-type(4){
	background: url(../svg/jili.svg) no-repeat center 16px;
	background-size: 24px;
}
/*称重菜样式*/
#nav .jilied{
	color: #3EB96B;
	background-image: url(../svg/jilied.svg)!important;
}
/*遮罩层*/
#mask,#yalertbox,#yconfirmbox{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(66,66,66,.4);
	/**/
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
	/**/
	transition: opacity .3s ease, z-index 0s .4s;
	-webkit-transition: opacity .3s ease, z-index 0s .4s;
	opacity: 0;
	z-index: -1;
}
#mask.maskshow,#yalertbox.maskshow,#yconfirmbox.maskshow{
	transition: opacity .3s ease, z-index 0s;
	-webkit-transition: opacity .3s ease, z-index 0s;
	opacity: 1;
	z-index: 10;
}
/*各类型提示框*/
/*点击提示框*/
#ytoast{
	position: fixed;
	left: 50%;
	bottom: 0;
	z-index: 12;
	padding: 8px 16px;
	border-radius: 15px;
	background-color: rgba(22,22,22,.4);
	color: #fff;
	line-height: 1rem;
	overflow: hidden;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transform: translateX(-50%) translateY(0);
	-webkit-transform: translateX(-50%) translateY(0);
	opacity: 0;
}
#ytoast.toastshow{
	transform: translateX(-50%) translateY(-30px);
	-webkit-transform: translateX(-50%) translateY(-30px);
	opacity: 1;
}
/*警告框*/
#yalertbox,#yconfirmbox{
	z-index: 12;
}
#yalert,#yconfirm{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 60%;
	max-width: 80%;
	padding: 11px 8px 50px 8px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 8px #888;
	overflow: hidden;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transform: translateX(-50%) translateY(-80%);
	-webkit-transform: translateX(-50%) translateY(-80%);
	opacity: 0;
}
#yalert.yalertshow,#yconfirm.yconfirmshow{
	transform: translateX(-50%) translateY(-60%);
	-webkit-transform: translateX(-50%) translateY(-60%);
	opacity: 1;
}
#alerttext,#confirmtext{
	line-height: 1em;
	padding: 20px 10px;
	text-align: center;
}
#alertbtn,#confirmclose,#confirmok{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 38px;
	font-size: 15px;
	color: #fff;
	text-align: center;
	line-height: 38px;
	/*background-color: #A35BA6;*/
	background-color: #3EB96B;
}
#confirmclose{
	width: 50%;
	background-color: #cdcdcd;
}
#confirmok{
	left: 50%;
	width: 50%;
	/*background-color: #A35BA6;*/
	background-color: #3EB96B;
}