<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <!-- uc强制排版标准模式 -->
        <meta name="layoutmode" content="standard">
        <!-- uc浏览器强制竖屏 -->
        <meta name="screen-orientation" content="portrait">
        <!-- uc浏览器强制有图 -->
        <meta name="imagemode" content="force">
        <!-- QQ浏览器强制竖屏 -->
        <meta name="x5-orientation" content="portrait">
        <!--防止IOS设备识别数字为电话号码-->
        <meta name="format-detection" content="telephone=no">
        <meta name="author" content="Yoruni">
        <link rel="stylesheet" type="text/css" href="../public/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/cssreset.css">
        <link rel="stylesheet" type="text/css" href="../public/css/gift.css">
        <script type="text/javascript" src="../public/js/jquery.min.js"></script>
        <script type="text/javascript" src="../public/js/swiper.jquery.min.js"></script>
        <script type="text/javascript" src="../public/js/gift.js"></script>
        <title></title>
    </head>
    <body>
        <p id="headTip">即将揭晓</p>
        <div id="content">
            <div id="swiperBody">
                <ul id="swiperBodyUl" class="swiper-wrapper">
                    <li id="swiperBodyLi" class="swiper-slide">
                        <ul id="showList">
                            <li>
                                <a href="detail.html"><img src="../public/img/phone.jpg"></a>
                                <p>积分：<b>35</b> 现金：<b>10</b></p>
                                <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存 颜色随机</p>
                                <span>目标人数: 88888&nbsp;&nbsp;&nbsp;参与人数: 88888</span>
                                <span>剩余揭晓时间: <b>02:23:54</b></span>
                                <button class="haBtn">立即参与</button>
                            </li>
                            <li>
                                <a href="detail.html"><img src="../public/img/phone.jpg"></a>
                                <p>积分：<b>35</b> 现金：<b>10</b></p>
                                <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存 颜色随机</p>
                                <span>目标人数: 88888&nbsp;&nbsp;&nbsp;参与人数: 88888</span>
                                <span>剩余揭晓时间: <b>02:23:54</b></span>
                                <button class="haBtn">立即参与</button>
                            </li>
                            <li>
                                <a href="detail.html"><img src="../public/img/phone.jpg"></a>
                                <p>积分：<b>35</b> 现金：<b>10</b></p>
                                <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存 颜色随机</p>
                                <span>目标人数: 88888&nbsp;&nbsp;&nbsp;参与人数: 88888</span>
                                <span>剩余揭晓时间: <b>02:23:54</b></span>
                                <button class="haBtn">立即参与</button>
                            </li>
                            <li>
                                <a href="detail.html"><img src="../public/img/phone.jpg"></a>
                                <p>积分：<b>35</b> 现金：<b>10</b></p>
                                <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存 颜色随机</p>
                                <span>目标人数: 88888&nbsp;&nbsp;&nbsp;参与人数: 88888</span>
                                <span>剩余揭晓时间: <b>02:23:54</b></span>
                                <button class="haBtn">立即参与</button>
                            </li>
                            <li>
                                <a href="detail.html"><img src="../public/img/phone.jpg"></a>
                                <p>积分：<b>35</b> 现金：<b>10</b></p>
                                <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存 颜色随机</p>
                                <span>目标人数: 88888&nbsp;&nbsp;&nbsp;参与人数: 88888</span>
                                <span>剩余揭晓时间: <b>02:23:54</b></span>
                                <button class="haBtn">立即参与</button>
                            </li>
                            <li>
                                <a href="detail.html"><img src="../public/img/phone.jpg"></a>
                                <p>积分：<b>35</b> 现金：<b>10</b></p>
                                <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存 颜色随机</p>
                                <span>目标人数: 88888&nbsp;&nbsp;&nbsp;参与人数: 88888</span>
                                <span>剩余揭晓时间: <b>02:23:54</b></span>
                                <button class="haBtn">立即参与</button>
                            </li>
                            <li>
                                <a href="detail.html"><img src="../public/img/phone.jpg"></a>
                                <p>积分：<b>35</b> 现金：<b>10</b></p>
                                <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存 颜色随机</p>
                                <span>目标人数: 88888&nbsp;&nbsp;&nbsp;参与人数: 88888</span>
                                <span>剩余揭晓时间: <b>02:23:54</b></span>
                                <button class="haBtn">立即参与</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="retuenTop"></div>
        </div>
        <p id="downrefreshTip">松开刷新页面</p>
        <p id="uploadTip">松开加载跟多</p>
        <footer>
            <ul>
                <li id="home"><a href="index.html"><span>首页</span></a></li>
                <li id="gift"><a class="seled" href="gift.html"><span>即将揭晓</span></a></li>
                <li id="cart"><a href="cart.html"><span>购物车</span></a></li>
                <li id="user"><a href="user.html"><span>我的</span></a></li>
            </ul>
        </footer>
    </body>
</html>