<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <!-- uc强制排版标准模式 -->
        <meta name="layoutmode" content="standard">
        <!-- uc浏览器强制竖屏 -->
        <meta name="screen-orientation" content="portrait">
        <!-- uc浏览器强制有图 -->
        <meta name="imagemode" content="force">
        <!-- QQ浏览器强制竖屏 -->
        <meta name="x5-orientation" content="portrait">
        <!--防止IOS设备识别数字为电话号码-->
        <meta name="format-detection" content="telephone=no">
		<meta name="author" content="Yoruni">
		<link rel="stylesheet" type="text/css" href="../public/css/cssreset.css">
		<link rel="stylesheet" type="text/css" href="../public/css/order.css">
        <script type="text/javascript" src="../public/js/jquery.min.js"></script>
		<script type="text/javascript" src="../public/js/order.js"></script>
		<title></title>
	</head>
	<body>
		<header>
			<span id="goback"><a href="javascript:history.go(-1)"></a></span>
            订单信息
		</header>
		<!-- 页面内容content -->
		<div id="content">	     
            <div id="navBox">
                <div id="nav">
                    <ul class="">
                        <li class="selectLi">全部</li>
                        <li class="">待付款</li>
                        <li class="">待发货</li>
                        <li class="">待收货</li>
                        <li class="">已收货</li>
                    </ul>
                </div>
            </div>
            <ul class="goodslist">
                <li class="goods"><a href="orderwarp.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>现金：￥<b class="jine">888</b>&nbsp;&nbsp;&nbsp;积分：<b class="jifen">88</b></p>
                    <p><span>数量：<b>88</b></span><span>合计：￥<b>8888</b>，积分：<b>888</b></span></p>  
                </a></li>
                <li class="goods"><a href="orderwarp.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>现金：￥<b class="jine">888</b>&nbsp;&nbsp;&nbsp;积分：<b class="jifen">88</b></p>
                    <p><span>数量：<b>88</b></span><span>合计：￥<b>8888</b>，积分：<b>888</b></span></p>  
                </a></li>
                <li class="goods"><a href="orderwarp.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>现金：￥<b class="jine">888</b>&nbsp;&nbsp;&nbsp;积分：<b class="jifen">88</b></p>
                    <p><span>数量：<b>88</b></span><span>合计：￥<b>8888</b>，积分：<b>888</b></span></p>  
                </a></li>
                <li class="jiesuan">
                    <p>总计：￥<b>666</b>，积分<b>888</b></p>
                    <button class="jiezhang">结账</button>
                </li>
            </ul>
            <ul class="goodslist">
                <li class="goods"><a href="orderwarp.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>现金：￥<b class="jine">888</b>&nbsp;&nbsp;&nbsp;积分：<b class="jifen">88</b></p>
                    <p><span>数量：<b>88</b></span><span>合计：￥<b>8888</b>，积分：<b>888</b></span></p>  
                </a></li>
                <li class="goods"><a href="orderwarp.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>现金：￥<b class="jine">888</b>&nbsp;&nbsp;&nbsp;积分：<b class="jifen">88</b></p>
                    <p><span>数量：<b>88</b></span><span>合计：￥<b>8888</b>，积分：<b>888</b></span></p>  
                </a></li>
                <li class="jiesuan">
                    <p>总计：￥<b>666</b>，积分<b>888</b></p>
                    <button class="delbtn">删除</button>
                </li>
            </ul>
            <ul class="goodslist">
                <li class="goods"><a href="orderwarp.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>现金：￥<b class="jine">888</b>&nbsp;&nbsp;&nbsp;积分：<b class="jifen">88</b></p>
                    <p><span>数量：<b>88</b></span><span>合计：￥<b>8888</b>，积分：<b>888</b></span></p>  
                </a></li>
                <li class="goods"><a href="orderwarp.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>现金：￥<b class="jine">888</b>&nbsp;&nbsp;&nbsp;积分：<b class="jifen">88</b></p>
                    <p><span>数量：<b>88</b></span><span>合计：￥<b>8888</b>，积分：<b>888</b></span></p>  
                </a></li>
                <li class="jiesuan">
                    <p>总计：￥<b>666</b>，积分<b>888</b></p>
                    <button class="delbtn">详细</button>
                </li>
            </ul>
            <ul class="goodslist">
                <li class="goods"><a href="orderwarp.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>现金：￥<b class="jine">888</b>&nbsp;&nbsp;&nbsp;积分：<b class="jifen">88</b></p>
                    <p><span>数量：<b>88</b></span><span>合计：￥<b>8888</b>，积分：<b>888</b></span></p>  
                </a></li>
                <li class="goods"><a href="orderwarp.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>现金：￥<b class="jine">888</b>&nbsp;&nbsp;&nbsp;积分：<b class="jifen">88</b></p>
                    <p><span>数量：<b>88</b></span><span>合计：￥<b>8888</b>，积分：<b>888</b></span></p>
                </a></li>
                <li class="jiesuan">
                    <p>总计：￥<b>666</b>，积分<b>888</b></p>
                    <button class="jiezhang">确认收货</button>
                </li>
            </ul>
		</div>
	</body>
</html>