<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <!-- uc强制排版标准模式 -->
        <meta name="layoutmode" content="standard">
        <!-- uc浏览器强制竖屏 -->
        <meta name="screen-orientation" content="portrait">
        <!-- uc浏览器强制有图 -->
        <meta name="imagemode" content="force">
        <!-- QQ浏览器强制竖屏 -->
        <meta name="x5-orientation" content="portrait">
        <!--防止IOS设备识别数字为电话号码-->
        <meta name="format-detection" content="telephone=no">
		<meta name="author" content="Yoruni">
		<link rel="stylesheet" type="text/css" href="../public/css/cssreset.css">
		<link rel="stylesheet" type="text/css" href="../public/css/user.css">
		<script type="text/javascript" src="../public/js/jquery.min.js"></script>
		<script type="text/javascript" src="../public/js/user.js"></script>
		<title></title>
	</head>
	<body>
		<header>
			<span id="goback"><a href="javascript:history.go(-1)"></a></span>
		</header>
		<!-- 页面内容content -->
		<div id="content">	     
            <ul id="meslist">
                <li>
                    <span><img src="../public/img/tou.jpg"></span>
                    <p id="userId">在风中凌乱</p>
                    <input id="editBox" type="text" value="">
                    <p>剩余积分：<b>888</b></p>
                    <a id="editid" value="true">编辑</a>
                </li>
                <li><a href="forget.html">修改密码</a></li>
                <li><a href="pointpass.html">积分密码</a></li>
                <li id="mes"><a href="mes.html">我的消息<span>88</span></a></li>
                <li><a href="address.html">地址管理</a></li>
                <li><a href="order.html">订单信息</a></li>
                <li><a href="lucky.html">活动参与</a></li>
                <li><a href="userpoint.html">积分流水</a></li>
            </ul>
		</div>
        <a id="userBtn" href="login.html">退出登录</a>
	</body>
</html>