/*author: Yoruni*/
body {
	background-color: #f7f7f7;
}
#goback{
	position: fixed;
	top: 5px;
	left: 5px;
	z-index: 99;
	width: 37px;
	height: 37px;
	margin: 5px 5px;
	background: rgba(255,255,255,.9) url(../svg/left.svg) no-repeat center center;
	background-size: 34px;
	border-radius: 100%;
	box-shadow: 0 0 3px #aaa;
}
#collection{
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 99;
	width: 37px;
	height: 37px;
	margin: 5px 5px;
	background: rgba(187,187,187,.9) url(../svg/heart.svg) no-repeat center center;
	background-size: 34px;
	border-radius: 100%;
	box-shadow: 0 0 3px #aaa;
	display: none;
}
.coll{
	background-color: #93C922!important;
}
#banner{
	position: relative;
	width: 100%;
	overflow: hidden;
}
#profiles{
	height: 28px;
	padding: 0 8px;
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 28px;
	background-color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#buyway{
	width: 100%;
}
#buyway li{
	position: relative;
	box-sizing: border-box;
	padding: 16px 10px 5px 10px;
	margin-bottom: 5px;
	background: #fff url(../img/bgg.png) no-repeat left top;
	background-size: 20px;
	border-top: 1px #93C922 solid;
}
#buyway p{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.title{
	height: 24px;
	line-height: 24px;
}
.read{
	height: 20px;
	font-size: 12px;
	color: #888;
	line-height: 20px;
}
.price{
	height: 20px;
	font-size: 12px;
	color: #f55;
	line-height: 20px;
}
#cashwayBtn,#twowayBtn,#pointwayBtn,#luckyjoin{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 66px;
	height: 28px;
	font-size: 12px;
	font-weight: bold;
	color: #f55;
	text-align: center;
	line-height: 28px;
	border: 1px #f55 solid;
	background-color: #fff;
	border-radius: 5px;
}
#readmore{
	width: 100%;
	height: 34px;
	background-color: #fff;
	color: #999;
	line-height: 34px;
	text-align: center;
}
#attrMark{
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(68,68,68,.5);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.markhide{
	-webkit-transition: opacity .3s ease, top .3s ease, z-index 0s .3s;
	transition: opacity .3s ease, top .3s ease, z-index 0s .3s;
	top: 100px;
	z-index: -1;
	opacity: 0;
}
.markshow{
	-webkit-transition: opacity .3s ease, top .3s ease, z-index 0s;
	transition: opacity .3s ease, top .3s ease, z-index 0s;
	top: 0;
	z-index: 100;
	opacity: 1;
}
#attrWarp{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 20px;
	background-color: #fff;
}
#attrWarp > ul{
	max-height: 360px;
	overflow-x: hidden;
	overflow-y: auto;
}
#attrWarp > ul > li{
	padding: 10px 12px;
}
#attrWarp > ul > li b{
	width: 20px;
	height: 100%;
}
#attrWarp > ul > li span{
	display: inline-block;
	padding: 4px 8px;
	margin: 6px 6px 0 0;
	border: 1px #ddd solid;
	font-size: 12px;
	color: #ddd;
	border-radius: 3px;
}
#attrWarp .spaned{
	color: #f55;
	border: 1px #f55 solid;
}
#closeMark{
	position: absolute;
	right: 0;
	top: -20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #fff url(../svg/close.svg) no-repeat center;
	background-size: 24px;
}
#putcart{
	float: left;
	width: 50%;
	height: 36px;
	margin-top: 14px;
	color: #fff;
	text-align: center;
	line-height: 36px;
	background-color: #f55;
}
#nowbuy{
	float: left;
	width: 50%;
	height: 36px;
	margin-top: 14px;
	color: #fff;
	text-align: center;
	line-height: 36px;
	background-color: #f55;
}
#more {
	display: none;
}
#more img{
	float: left;
	width: 100%;
}
#returnTop{
	opacity: .8;
	position: fixed;
	right: 10px;
	bottom: 20px;
	z-index: 100;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	background: #93C922 url(../svg/navigation.svg) no-repeat center;
	display: none;
}
#numBtn{
	height: 30px;
}
#numBtn > li b{
	height: 30px;
	line-height: 30px;
}
#numBtn li{
	float: left;
	height: 32px;
	overflow: hidden;
}
#minus span,#plus span{
	height: 30px;
	width: 36px;
	border-radius: 0!important;
	margin: 0!important;
	padding: 0!important;
	border: none!important;
}
#minus span{
	background: #ccc url(../svg/minus.svg) no-repeat center;
	background-size: 28px;
}
#plus span{
	background: #ccc url(../svg/plus.svg) no-repeat center;
	background-size: 28px;
}
#inp input{
	height: 28px;
	width: 60px;
	padding: 0 10px;
	line-height: 28px;
	text-align: center;
	border: 1px #ccc solid;
}