.color{
	color: #ffe285;
	color: #5b0200;
	color: #ffb59e;
	color: #97e786;
	color: #aede6a;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	background-color: #fff;
}
.loginBody{
	background: url(../img/login.webp) no-repeat center;
	background-size: cover;
}
.loginBox{
	position: fixed;
	top: 40%;
	left: 50%;
	width: 76vw;
	padding: 14px;
	border-radius: 5px;
	background-color: rgba(255,255,255,.7);
	transform: translate3d(-50%,-50%,0);
	-webkit-transform: translate3d(-50%,-50%,0);
}
.loginBox input{
	width: 100%;
	height: 45px;
	padding: 15px 14px;
	margin-bottom: 14px;
	line-height: 14px;
	border-radius: 5px;
	background-color: #f7f7f7!important;
}
::-webkit-input-placeholder{
	color: #5b0200;
}
.loginBox button{
	width: 100%;
	height: 44px;
	padding: 15px 14px;
	margin-top: 10px;
	margin-bottom: 0;
	border-radius: 5px;
	line-height: 14px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #ffe285;
	transition: all .2s;
	-webkit-transition: all .2s;
}
.loginBox button:active{
	background-color: #fcd350;
}

/* indexPage */
.mask{
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	background-color: rgba(240,240,240,1);
}
.mask > div{
	opacity: .5;
}
.mask .loading{
	width: 26vw;
	height: 26vw;
	animation: loading .6s linear infinite;
	-webkit-animation: loading .6s linear infinite;
}
@keyframes loading {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
-webkit-@keyframes loading {
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}
.mask p{
	font-size: 18px;
	text-align: center;
	line-height: 2em;
	color: #fc4747;
	font-weight: bold;
	margin-top: 12px;
}
.swiper-pagination-bullet-active{
	background-color: #5b0200;
}
.content{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.content > ul > .swiper-slide{
	background: #fff url(../img/color.webp) no-repeat center;
	background-size: cover;
}
.swiper-slide .wrap{
	/* display: -webkit-flex; */
	/* -webkit-flex-flow: column; */
	/* -webkit-flex-wrap: nowrap; */
	position: absolute;
	top: 50%;
	left: 50%;
	width: 76vw;
	height: 420px;
	border-radius: 5px;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
}
.pageOne .wrap{
	padding: 56px 5px 0;
}
.pageOne .wrap::before{
	content: "";
	position: absolute;
	top: 0px;
	left: 5px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #daf5b3;
}
.pageOne .wrap::after{
	content: "";
	position: absolute;
	bottom: 72px;
	right: 5px;
	width: 80px;
	height: 40px;
	border-radius: 20px;
	background-color: #fdefc3;
}
.pageOne .wrap li{
	height: 38px;
	width: 100%;
	margin: 0 4px;
	padding: 12px 16px 12px 38px;
	margin-left: -50px;
	margin-bottom: 8px;
	font-size: 15px;
	line-height: 15px;
	border-radius: 5px;
	background: rgba(255,255,255,.8) url(../img/star.png) no-repeat 2px center;
	background-size: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	opacity: 0;
}
.pageOne .nan{
	background: url(../img/nan.webp) no-repeat center;
	background-size: 76vw;
}
.pageOne .nv{
	background: url(../img/nv.webp) no-repeat center;
	background-size: 76vw;
}

.pageTow .wrap{
	position: relative;
	padding-left: 24px;
}
.pageTow .title{
	position: absolute;
	top: 40px;
	left: -10px;
	width: 30px;
	line-height: 1.2em;
	padding-right: 8px;
	border-right: 1px #5b0200 solid;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}
.pageTow .list{
	width: 100%;
	padding: 60px 6px 0;
	background: url(../img/star.png) no-repeat right 80px;
	background-size: 40px;
}
.pageTow .list li{
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	width: 36vw;
	height: 36vw;
	padding: 32px 16px;
	color: #947270;
	color: #555;
	text-align: center;
	margin-top: -15vw;
	border-radius: 50%;
	background-color: rgba(244,244,244,0.6);
	overflow: hidden;
	opacity: 0;
}
.pageTow .list li i{
	padding: 0 4px;
	font-weight: bold;
	font-style: normal;
}
.pageTow .list li:nth-of-type(even){
	margin-left: 32vw;
}
.pageTow .list li:nth-of-type(5){
	width: 28vw;
	height: 28vw;
}

.pageThree .wrap{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	height: 372px;
}
.pageThree .first,.pageThree .last{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	float: left;
	width: 36vw;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -100px;
	border-radius: 5px;
	background-color: rgba(255,255,255,.8);
	opacity: 0;
	overflow: hidden;
}
.pageThree .last{
	float: right;
	margin-top: 50px;
	margin-right: -100px;
}
.pageThree .first img,.pageThree .last img{
	width: 36vw;
	height: 36vw;
}
.pageThree .first p,.pageThree .last p{
	color: #555;
	text-align: center;
	line-height: 1.5em;
	font-size: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pageThree .first .title,.pageThree .last .title{
	color: #5b0200;
	font-size: 16px;
	font-weight: bold;
}

.pageFour .wrap{
	padding: 0;
}
.pageFour .wrap::after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
.pageFour .fav{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -80px;
	border-radius: 5px;
	background-color: rgba(255,255,255,.7);
	opacity: 0;
}
.pageFour .fav img{
	width: 70vw;
	height: 70vw;
	margin: 0 3vw;
}
.pageFour .fav p{
	color: #666;
	color: #555;
	text-align: center;
	line-height: 1.5em;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pageFour .fav .title{
	color: #5b0200;
	font-size: 16px;
	font-weight: bold;
	line-height: 2em;
}

.pageFive .wrap{
	height: auto;
}
.pageFive .title{
	color: #5b0200;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 1.8em;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pageFive .chartist{
	width: 76vw;
	height: 76vw;
	padding: 3vw;
	margin: 10px 0;
	margin-left: -100px;
	opacity: 0;
}
.pageFive .list::after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
.pageFive .list {
	text-align: center;
}
.pageFive .list li{
	display: inline-block;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	margin: 5px;
	padding: 0 12px;
	border-radius: 5px;
}
.pageFive .list li:nth-of-type(1){
	background-color: #eb8183;
}
.pageFive .list li:nth-of-type(2){
	background-color: #f8ada7;
}
.pageFive .list li:nth-of-type(3){
	background-color: #fae39e;
}
.pageFive .list li:nth-of-type(4){
	background-color: #e8bc82;
}
.pageFive .list li:nth-of-type(5){
	background-color: #a29e9f;
}

.pageSix .title{
	font-size: 18px;
	line-height: 1.8em;
	text-align: center;
	font-weight: bold;
}
.pageSix .list{
	width: 76vw;
	padding: 12px;
}
.pageSix .list::after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
.pageSix .list li{
	position: relative;
	height: 30px;
	width: 100%;
	margin-bottom: 15px;
	padding-left: 36px;
	margin-left: -100px;
	opacity: 0;
}
.pageSix .list li:nth-of-type(2n){
	padding-left: 0;
	padding-right: 36px;
	margin-left: 100px;
}
.pageSix .list .pic{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: url(../img/tou.png) no-repeat center;
	background-size: 30px;
}
.pageSix .list .name{
	display: block;
	height: 30px;
	padding: 0 12px;
	line-height: 30px;
	border-radius: 15px;
	text-align: center;
	color: #5b0200;
	background-color: rgba(245,245,245,.4);
}
.pageSix .list li:nth-of-type(2n) .pic{
	left: inherit;
	right: 0;
}
/* pageSeven */
.pageSeven .wrap{
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(245,245,245,.4);
}
.pageSeven .title{
	color: #5b0200;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 1.8em;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pageSeven .chartist2{
	width: 76vw;
	height: 76vw;
	margin: 10px 0;
}
.chartist2 .ct-label{
	color: #5b0200;
}
.chartist2 .ct-bar{
	opacity: 0;
	stroke-width: 20px;
}
.pageSeven .list::after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
.pageSeven .list {
	text-align: center;
}
.pageSeven .list li{
	display: inline-block;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	margin: 5px;
	padding: 0 12px;
	border-radius: 5px;
}
.pageSeven .list li:nth-of-type(1){
	background-color: #d70206;
}
.pageSeven .list li:nth-of-type(2){
	background-color: #f05b4f;
}
.pageSeven .list li:nth-of-type(3){
	background-color: #f4c63d;
}
.pageSeven .list li:nth-of-type(4){
	background-color: #d17905;
}
/* pageEight */
.pageEight .wrap{
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.pageEight .title{
	color: #5b0200;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 1.8em;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pageEight .chartist3{
	width: 76vw;
	height: 76vw;
	padding: 3vw;
	margin: 10px 0;
	margin-left: -100px;
	opacity: 0;
}
.pageEight .list::after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
.pageEight .list {
	text-align: center;
}
.pageEight .list li{
	display: inline-block;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	margin: 5px;
	padding: 0 12px;
	border-radius: 5px;
}
.pageEight .list li:nth-of-type(1){
	background-color: #eb8183;
}
.pageEight .list li:nth-of-type(2){
	background-color: #f8ada7;
}
.pageEight .list li:nth-of-type(3){
	background-color: #fae39e;
}
.pageEight .list li:nth-of-type(4){
	background-color: #e8bc82;
}
/* pageNine */
.pageNine .wrap{
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(245,245,245,.4);
}
.pageNine .title{
	color: #5b0200;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 1.8em;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pageNine .chartist4{
	width: 76vw;
	height: 76vw;
	margin-left: -100px;
	opacity: 0;
}
.chartist4 .ct-label{
	color: #5b0200;
}
.pageNine .list::after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
.pageNine .list {
	text-align: center;
}
.pageNine .list li{
	display: inline-block;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	margin: 5px;
	padding: 0 12px;
	border-radius: 5px;
	background-color: #f8ada7;
}
/* pageTen */
.littleSwiper{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.pageTen .wrap{
	width: 78vw;
	height: auto;
	padding: 14px 10px;
	background-color: rgba(245,245,245,.6);
}
.pageTen .wrap img{
	margin: 0 10%;
}
.pageTen .wrap p{
	color: #555;
	text-align: center;
	line-height: 1.7em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pageTen .wrap p i{
	color: #5b0200;
	font-style: normal;
	padding: 0 3px;
}
.pageTen .wrap .title{
	color: #5b0200;
	font-size: 16px;
	font-weight: bold;
}
.pageTen .swiper-pagination-progressbar{
	background-color: #5b0200;
}
.pageTen .littlePagination{
	top: initial;
	bottom: 0;
}