<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="author" content="Yoruni">
		<title></title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<link rel="stylesheet" href="../public/css/reset.css" />
		<link rel="stylesheet" href="../public/css/active.css" />
		<script type="text/javascript" src="../public/js/mui.js"></script>
		<script type="text/javascript" src="../public/js/zepto.min.js"></script>
		<script type="text/javascript" src="../public/js/TweenMax.min.js"></script>
		<script type="text/javascript" src="../public/js/footerAnimate.js"></script>
		<script type="text/javascript" src="../public/js/active.js"></script>
	</head>
	<body>
		<header>
			<div id="animate"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
			<span class="mui-action-back"></span>
		</header>
		<ul id="classify">
			<li class="taped">最新</li>
			<li>最热</li>
			<li>推荐</li>
		</ul>
		<div id="active">
			<div>
				<img src="../public/img/view1.jpg"/>
				<p>梯田是在在丘陵山坡地上沿等高线方向修筑的条状阶台式或波浪式断面的田地。是治理坡耕地水土流失的有效措施，蓄水、保土、增产作用十分显著。</p>
			</div>
			<div>
				<img src="../public/img/view2.jpg"/>
				<p>科罗拉多大峡谷位于美国亚利桑那州西北部的凯巴布高原上，是地球上最为壮丽的景色之一。</p>
			</div>
			<div>
				<img src="../public/img/view3.jpg"/>
				<p>大阪，位于日本西部近畿地方大阪府的都市，是大阪府的府厅所在地，也是政令指定都市之一。</p>
			</div>
			<div>
				<img src="../public/img/view4.jpg"/>
				<p>在普罗旺斯，薰衣草花田一年四季都有着截然不同的景观。冬天，在收成切割后，只剩下短而整齐的枯茎，覆盖着白雪。春天一到，绿叶冒出。</p>
			</div>
		</div>
		<footer id="footer">
			<span></span>
			<div>
				<span id="footerBtn"></span>
				<ul id="footermenu">
					<li id="gift"><p>活动</p></li>
					<li id="call"><p>呼叫导游</p></li>
					<li id="share"><p>分享</p></li>
					<li id="other"><p>其他</p></li>
				</ul>
			</div>
		</footer>
	</body>
</html>