<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <!-- uc强制排版标准模式 -->
        <meta name="layoutmode" content="standard">
        <!-- uc浏览器强制竖屏 -->
        <meta name="screen-orientation" content="portrait">
        <!-- uc浏览器强制有图 -->
        <meta name="imagemode" content="force">
        <!-- QQ浏览器强制竖屏 -->
        <meta name="x5-orientation" content="portrait">
        <!--防止IOS设备识别数字为电话号码-->
        <meta name="format-detection" content="telephone=no">
		<meta name="author" content="Yoruni">
		<link rel="stylesheet" type="text/css" href="../public/css/cssreset.css">
		<link rel="stylesheet" type="text/css" href="../public/css/lucky.css">
        <script type="text/javascript" src="../public/js/jquery.min.js"></script>
		<script type="text/javascript" src="../public/js/lucky.js"></script>
		<title></title>
	</head>
	<body>
		<header>
			<span id="goback"><a href="javascript:history.go(-1)"></a></span>
            活动参与
		</header>
		<!-- 页面内容content -->
		<div id="content">	     
            <div id="navBox">
                <div id="nav">
                    <ul class="">
                        <li class="selectLi">全部</li>
                        <li class="">即将揭晓</li>
                        <li class="">已揭晓</li>
                        <li class="">我的得奖</li>
                    </ul>
                </div>
            </div>
            <ul class="goodslist">
                <li class="goods"><a href="detail.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>目标人数：<b>88</b>&nbsp;&nbsp;&nbsp;参与积分：<b>88</b>&nbsp;&nbsp;&nbsp;活动天数：<b>88</b></p>
                    <p>现在进行：第<b>4</b>场&nbsp;&nbsp;&nbsp;已参与人数：<b>4</b>人</p>
                    <p>活动倒计时：<b>活动已结束</b></p></a>
                    <button class="del"></button> 
                </li>
                <li class="goods"><a href="detail.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>目标人数：<b>88</b>&nbsp;&nbsp;&nbsp;参与积分：<b>88</b>&nbsp;&nbsp;&nbsp;活动天数：<b>88</b></p>
                    <p>现在进行：第<b>4</b>场&nbsp;&nbsp;&nbsp;已参与人数：<b>4</b>人</p>
                    <p>活动倒计时：<b>活动已结束</b></p></a>
                    <button class="del"></button> 
                </li>
                <li class="goods"><a href="detail.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>目标人数：<b>88</b>&nbsp;&nbsp;&nbsp;参与积分：<b>88</b>&nbsp;&nbsp;&nbsp;活动天数：<b>88</b></p>
                    <p>现在进行：第<b>4</b>场&nbsp;&nbsp;&nbsp;已参与人数：<b>4</b>人</p>
                    <p>活动倒计时：<b>活动已结束</b></p></a>
                    <button class="del"></button> 
                </li>
                <li class="goods"><a href="detail.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>目标人数：<b>88</b>&nbsp;&nbsp;&nbsp;参与积分：<b>88</b>&nbsp;&nbsp;&nbsp;活动天数：<b>88</b></p>
                    <p>现在进行：第<b>4</b>场&nbsp;&nbsp;&nbsp;已参与人数：<b>4</b>人</p>
                    <p>活动倒计时：<b>活动已结束</b></p></a>
                    <button class="del"></button> 
                </li>
                <li class="goods"><a href="detail.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>目标人数：<b>88</b>&nbsp;&nbsp;&nbsp;参与积分：<b>88</b>&nbsp;&nbsp;&nbsp;活动天数：<b>88</b></p>
                    <p>现在进行：第<b>4</b>场&nbsp;&nbsp;&nbsp;已参与人数：<b>4</b>人</p>
                    <p>活动倒计时：<b>活动已结束</b></p></a>
                    <button class="del"></button> 
                </li>
                <li class="goods"><a href="detail.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>目标人数：<b>88</b>&nbsp;&nbsp;&nbsp;参与积分：<b>88</b>&nbsp;&nbsp;&nbsp;活动天数：<b>88</b></p>
                    <p>现在进行：第<b>4</b>场&nbsp;&nbsp;&nbsp;已参与人数：<b>4</b>人</p>
                    <p>活动倒计时：<b>活动已结束</b></p></a>
                    <button class="del"></button> 
                </li>
                <li class="goods"><a href="detail.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>目标人数：<b>88</b>&nbsp;&nbsp;&nbsp;参与积分：<b>88</b>&nbsp;&nbsp;&nbsp;活动天数：<b>88</b></p>
                    <p>现在进行：第<b>4</b>场&nbsp;&nbsp;&nbsp;已参与人数：<b>4</b>人</p>
                    <p>活动倒计时：<b>活动已结束</b></p></a>
                    <button class="del"></button> 
                </li>
                <li class="goods"><a href="detail.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>目标人数：<b>88</b>&nbsp;&nbsp;&nbsp;参与积分：<b>88</b>&nbsp;&nbsp;&nbsp;活动天数：<b>88</b></p>
                    <p>现在进行：第<b>4</b>场&nbsp;&nbsp;&nbsp;已参与人数：<b>4</b>人</p>
                    <p>活动倒计时：<b>活动已结束</b></p></a>
                    <button class="del"></button> 
                </li>
                <li class="goods"><a href="detail.html">
                    <img src="../public/img/phone.jpg">
                    <p>2016最新款 iPhone pro 双摄像头 A10 处理器 256G 内存</p>
                    <p>目标人数：<b>88</b>&nbsp;&nbsp;&nbsp;参与积分：<b>88</b>&nbsp;&nbsp;&nbsp;活动天数：<b>88</b></p>
                    <p>现在进行：第<b>4</b>场&nbsp;&nbsp;&nbsp;已参与人数：<b>4</b>人</p>
                    <p>活动倒计时：<b>活动已结束</b></p></a>
                    <button class="del"></button> 
                </li>
            </ul>
		</div>
	</body>
</html>