body{
	padding-top: 45px;
	background-color: #f7f7f7;
	overflow-x: hidden;
}
header{
	text-align: center;
	line-height: 44px;
}
.searchBox{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 56px 0 14px;
}
#searchIn{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 34px;
	line-height: 34px;
	border: 1px #ddd solid;
	padding: 0 54px 0 8px;
	border-radius: 5px;
}
#searchBtn{
	position: absolute;
	top: 5px;
	right: 57px;
	width: 46px;
	height: 34px;
	background: #ddd url(../svg/search.svg) no-repeat center;
	background-size: 16px;
	border-radius: 0 5px 5px 0;
}
#classify{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: fixed;
	top: 45px;
	left: 0;
	bottom: 0;
	z-index: 9;
	width: 20%;
	background-color: #fdfdfd;
	overflow-y: auto;
	overflow-x: hidden;
}
#classify:after{
	position: fixed;
	top: 45px;
	right: 80%;
	bottom: 0;
	content: "";
	width: 1px;
	background-color: #3EB96B;
}
#classify li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 12px;
	color: #888;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px #f4f4f4 solid;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#classify .classed{
	color: #3EB96B;
	background-color: #fff;
}
#classify .classed:after{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	content: "";
	height: 50px;
	width: 1px;
	background-color: #fff;
}
#menuWarpper{
	position: fixed;
	top: 45px;
	left: 20%;
	bottom: 0;
	z-index: 9;
	width: 80%;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
}
#refresh-tip{
	position: absolute;
	top: 30px;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	background: url(../svg/refresh.svg) no-repeat center;
	background-size: 24px;
}
#menuWarpper .swiper-slide{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px;
	border-bottom: 1px #f6f6f6 solid;
	background-color: #fff;
}
#menuWarpper .swiper-slide img{
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 5px;
	margin-right: 10px;
}
.fprice,.ftext{
	padding: 2px 0;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fname{
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fprice{
	font-size: 12px;
	color: #A35BA6;
}
.fprice i{
	font-size: 12px;
	color: #A35BA6;
	font-style: normal;
}
.ftext{
	max-height: 26px;
	font-size: 10px;
	color: #888;
	line-height: 1.2em;
}
.buybtn{
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 10;
	width: 90px;
	height: 30px;
}
.buybtn *{
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
}
.buybtn li{
	position: absolute;
	top: 0;
	width: 30px;
	height: 30px;
	overflow: hidden;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}
.buybtn .minus{
	left: 0;
	z-index: 11;
	background: url(../svg/minus.svg) no-repeat center;
	background-size: 28px;
	transform: translateX(60px);
	-webkit-transform: translateX(60px);
	opacity: 0;
}
.buybtn .minusshow{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	opacity: 1;
}
.buybtn .text{
	left: 30px;
	z-index: 10;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	transform: translateX(30px);
	-webkit-transform: translateX(30px);
	opacity: 0;
}
.buybtn .textshow{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	opacity: 1;
}
.buybtn .plus{
	left: 60px;
	z-index: 12;
	float: right;
	background: url(../svg/plus.svg) no-repeat center;
	background-size: 28px;
}
#car{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: fixed;
	bottom: 14px;
	left: 14px;
	z-index: 10;
	width: 46px;
	height: 46px;
	background: #fff url(../svg/cart.svg) no-repeat center;
	background-size: 28px;
	border-radius: 46px;
	box-shadow: 0 0 10px #bbb;
	opacity: .8;
}
#gocar,#goprice{
	position: absolute;
	top: 0;
	left: 30px;
	height: 16px;
	padding: 0 6px;
	background-color: #A35BA6;
	border-radius: 8px;
	font-size: 10px;
	color: #fff;
	line-height: 19px;
}
#goprice{
	top: 26px;
}
#goprice i{
	font-style: normal;
	color: #fff;
	font-size: 10px;
}