body{
	padding-top: 92px;
	padding-bottom: 44px;
	background-color: #f7f7f7;
	overflow-x: hidden;
}
#searchbox{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 92px;
	padding-left: 50px;
	padding-right: 60px;
	background-color: #fff;
	box-shadow: 0 -1px 5px rgba(66,66,66,.3);
}
#returanBtn{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	height: 48px;
	width: 50px;
	background: url(../img/return.png) no-repeat center;
	background-size: 28px;
}
#returanBtn a{
	display: block;
	width: 100%;
	height: 38px;
}
#search{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 32px;
	width: 100%;
	margin-top: 8px;
	padding: 9px 70px 9px 10px;
	border-radius: 3px;
	border: 1px #ddd solid;
	font-size: 12px;
	line-height: 12px;
	background-color: #fff;
}
#searchbtn{
	position: absolute;
	top: 0;
	right: 0;
	height: 38px;
	width: 60px;
	line-height: 40px;
	overflow: hidden;
}
#searchbtn svg{
	margin: 9px 14px 0;
	width: 32px;
	height: 32px;
}
#classify{
	display: -webkit-box;
	position: fixed;
	top: 49px;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 38px;
	background-color: #fff;
}
#classify li{
	-webkit-box-flex: 1;
	position: relative;
	/* 此处要设置比伪元素高的层等级，不然安卓 touchend 有问题 */
	z-index: 1;
	height: 38px;
	color: #ccc;
	text-align: center;
	line-height: 41px;
}
#classify .selected{
	color: #05A7F2;
}
#classify li:after{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	content: "";
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background-color: #eee;
	transform: translateX(-50%) translateY(-50%) scale(0);
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0);
	opacity: 0;
	pointer-events: none;
}
#classify .selected:after{
	-webkit-animation: ripple .5s ease;
}
@-webkit-keyframes ripple{
	0%{
		-webkit-transform: translateX(-50%) translateY(-50%) scale(0);
		opacity: 0;
	}
	30%{
		-webkit-transform: translateX(-50%) translateY(-50%) scale(.7);
		opacity: .7;
	}
	100%{
		-webkit-transform: translateX(-50%) translateY(-50%) scale(2);
		opacity: 0;
	}
}
#activeContent .imgBox{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	width: 100%;
	padding: 12px 12px 5px;
	margin-bottom: 10px;
	background-color: #fff;
}
#activeContent .imgBox:last-child{
	margin-bottom: 0;
}
.imgBox > div{
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	background-color: #ddd;
	overflow: hidden;
}
.imgBox > div img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #ddd url(../img/po.png) no-repeat center;
}
.imgBox .text{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	bottom: 37px;
	left: 12px;
	right: 12px;
	height: 26px;
	padding: 0 6px;
	font-size: 13px;
	line-height: 29px;
	color: #fff;
	background-color: rgba(55,55,55,.3);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.imgBox .more{
	height: 32px;
	overflow: hidden;
}
.more a{
	height: 32px;
	padding: 0 8px 0 25px;
	line-height: 36px;
	overflow: hidden;
}
.more a:nth-of-type(1){
	float: left;
	background: url(../img/coll.png) no-repeat left center;
	background-size: 24px;
}
.more a:nth-of-type(2){
	float: right;
	background: url(../img/warp.png) no-repeat left center;
	background-size: 24px;
}
#footerList .selected{
	background-image: url(../img/stared.png);
}