body{
	padding-top: 18vw;
}
/* 头部工具栏 */
header{
	box-sizing: border-box;
	position: fixed;
	top: 2vw;
	left: 2vw;
	z-index: 9;
	width: 96vw;
	height: 14vw;
}
header .header-wrap{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 14vw;
	padding: 2vw 14vw 2vw 2vw;
	border-radius: 7vw;
	background: var(--theme-gradient);
	box-shadow: var(--theme-box-shadow);
}
header .menu,header .message{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 1.5vw;
	left: 2vw;
	width: 11vw;
	height: 11vw;
}
header .message{
	left: auto;
	right: 2vw;
}
header .menu svg,header .message svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
}
header .menu svg use,header .message svg use{
	fill: #fff;
}
header .search-tool{
	float: right;
	position: relative;
	width: 10vw;
	height: 10vw;
	border-radius: 5vw;
	background-color: transparent;
	overflow: hidden;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
}
header .search-tool.active{
	width: 100%;
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
header .search-tool .search{
	box-sizing: border-box;
	width: 100%;
	height: 10vw;
	padding: 2vw 13vw 2vw 3vw;
}
.search-tool .input-bar{
	width: 100%;
	height: 6vw;
	line-height: 6vw;
	background-color: transparent;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	opacity: 0;
}
.search-tool.active .input-bar{
	opacity: 1;
}
.search-tool .search-icon{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 10vw;
	height: 10vw;
}
.search-tool .search-icon > svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
}
.search-icon > svg > use{
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
}
.search-icon > svg > use{
	fill: #fff;
}
.active .search-icon > svg > use{
	fill: #ccc;
}

/* 中心内容 */
.content{
	position: relative;
	width: 100%;
	overflow-x: hidden;
}
.content li{
	/* display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center; */
	position: relative;
	width: 96vw;
	height: 48vw;
	font-size: 5.6rem;
	color: #ddd;
	background-color: #fff;
	border-radius: 3vw;
	box-shadow: 0 2px 7px rgba(0,0,0,.1);
	margin-left: 2vw;
	margin-bottom: 2vw;
}
.content li svg{
	fill: var(--theme-color);
}
.content li.new{
	opacity: 0;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	animation: fadeIn .4s 0s forwards;
	-webkit-animation: fadeIn .4s 0s forwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.content li span{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	bottom: 2vw;
	right: 2vw;
	width: 11vw;
	height: 11vw;
}
.content li span svg{
	vertical-align: top;
	width: 8vw;
	height: 8vw;
}

/* 返回顶部按钮 */
.return-top{
	bottom: 4vw;
}