<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="author" content="Yoruni">
		<title></title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<link rel="stylesheet" href="../public/css/reset.css" />
		<link rel="stylesheet" href="../public/css/home.css" />
		<script type="text/javascript" src="../public/js/mui.js"></script>
		<script type="text/javascript" src="../public/js/zepto.min.js"></script>
		<script type="text/javascript" src="../public/js/TweenMax.min.js"></script>
		<script type="text/javascript" src="../public/js/home.js"></script>
	</head>
	<body>
		<header id="header">
			<div id="animate"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
			<div id="user"></div>
			<svg version="1.1" id="menu" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="#fff">
				<path d="M8.667,15h30c0.552,0,1-0.447,1-1s-0.448-1-1-1h-30c-0.552,0-1,0.447-1,1S8.114,15,8.667,15z"/>
				<path d="M8.667,26h30c0.552,0,1-0.447,1-1s-0.448-1-1-1h-30c-0.552,0-1,0.447-1,1S8.114,26,8.667,26z"/>
				<path d="M8.667,37h30c0.552,0,1-0.447,1-1s-0.448-1-1-1h-30c-0.552,0-1,0.447-1,1S8.114,37,8.667,37z"/>
			</svg>
		</header>
		<ul id="popover" class="mui-table-view popoverhide">
			<li class="mui-table-view-cell">扫码</li>
		    <li class="mui-table-view-cell">其他</li>
		    <li class="mui-table-view-cell">其他</li>
		</ul>
		<div id="topBox">
			
		</div>
		<!--<div id="videoBox">
			<video id="myvideo" preload="auto" controls webkit-playsinline>
				<source src="../public/video/mov.mp4" type="video/mp4">
			</video>
			<button id="playbtn"></button>
			<button id="pausebtn"></button>
		</div>-->
		<article id="textContent">
			<ul>
				<li>路上，看见一个老奶奶摔倒了，正当我不知所措的时候，突然想起老师常说要助人为乐，于是我毫不犹豫的做了我该做的事，打电话叫老师来扶她。</li>
				<li>大概每个姑娘都会有忧心自己嫁不出去的时候，但是没关系，不要在意这个。你只需要安心过好现在的生活，做自己喜欢的事，成为自己喜欢的人，然后， 几年后你就会发现，你担心的事情原来是真的。</li>
			</ul>
		</article>
		<div id="active">
			<div class="imgBox">
				<div>
					<img src="../public/img/view1.jpg"/>
				</div>
				<p>梯田是在在丘陵山坡地上沿等高线方向修筑的条状阶台式或波浪式断面的田地。是治理坡耕地水土流失的有效措施，蓄水、保土、增产作用十分显著。</p>
			</div>
			<div class="imgBox">
				<div>
					<img src="../public/img/view2.jpg"/>
				</div>
				<p>科罗拉多大峡谷位于美国亚利桑那州西北部的凯巴布高原上，是地球上最为壮丽的景色之一。</p>
			</div>
			<div class="imgBox">
				<div>
					<img src="../public/img/view3.jpg"/>
				</div>
				<p>大阪，位于日本西部近畿地方大阪府的都市，是大阪府的府厅所在地，也是政令指定都市之一。</p>
			</div>
			<div class="imgBox">
				<div>
					<img src="../public/img/view4.jpg"/>
				</div>
				<p>在普罗旺斯，薰衣草花田一年四季都有着截然不同的景观。冬天，在收成切割后，只剩下短而整齐的枯茎，覆盖着白雪。春天一到，绿叶冒出。</p>
			</div>
		</div>
		<footer id="footer">
			<span></span>
			<ul id="footermenu">
				<li id="gift"><p>活动</p></li>
				<li id="share"><p>分享</p></li>
				<li id="scan"><span></span></li>
				<li id="call"><p>呼叫导游</p></li>
				<li id="other"><p>其他</p></li>
			</ul>
		</footer>
	</body>

</html>