html{
	width: 100%;
	height: 100%
}
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
#nowel{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
	width: 100%;
	background: url(../img/720.png) no-repeat center;
	background-size: cover;
}
#welcome{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 300%;
	background-color: #F49775;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}
#welcome li{
	position: relative;
	float: left;
	height: 100%;
	font-size: 70px;
	color: #fff;
	text-align: center;
	line-height: 3em;
	overflow: hidden;
}
li > span{
	position: absolute;
	top: 20%;
	left: 50%;
	color: #fff;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	opacity: 0;
}
/*第一页*/
#page-one span:nth-of-type(1){
	height: 20px;
	width: 180px;
	font-size: 20px;
	line-height: 1em;
}
#page-one .active:nth-of-type(1){
	transform: translateX(-45%);
	-webkit-transform: translateX(-45%);
	opacity: 1;
}
#page-one span:nth-of-type(2){
	width: 140px;
	font-size: 66px;
	line-height: 66px;
	margin-left: -60px;
	transform: translateX(-45%) translateY(-120px);
	-webkit-transform: translateX(-45%) translateY(-120px);
}
#page-one .active:nth-of-type(2){
	transform: translateX(-45%) translateY(-40px);
	-webkit-transform: translateX(-45%) translateY(-40px);
	opacity: .4;
}
#page-one span:nth-of-type(3){
	height: 22px;
	width: 90px;
	font-size: 22px;
	line-height: 25px;
	margin: 12px 36px 12px;
	transform: translateX(-120%) translateY(25px);
	-webkit-transform: translateX(-120%) translateY(25px);
}
#page-one .active:nth-of-type(3){
	transform: translateX(-45%) translateY(25px);
	-webkit-transform: translateX(-45%) translateY(25px);
	opacity: .8;
}
/*第二页*/
#page-tow span:nth-of-type(1){
	width: 20px;
	font-size: 20px;
	line-height: 1.2em;
}
#page-tow .active:nth-of-type(1){
	transform: translateX(40px);
	-webkit-transform: translateX(40px);
	opacity: .8;
}
#page-tow span:nth-of-type(2){
	width: 34px;
	font-size: 34px;
	line-height: 1em;
	margin-top: -40px;
}
#page-tow .active:nth-of-type(2){
	transform: translateX(-50px);
	-webkit-transform: translateX(-50px);
	opacity: .8;
}
#page-tow span:nth-of-type(3){
	width: 180px;
	font-size: 90px;
	line-height: 1em;
}
#page-tow .active:nth-of-type(3){
	transform: translateX(20px);
	-webkit-transform: translateX(20px);
	opacity: .4;
}
/*第三页*/
#page-three span:nth-of-type(1){
	width: 24px;
	font-size: 24px;
	line-height: 1em;
	margin-left: -20px;
	transform: translateX(-50%) translateY(-30px);
	-webkit-transform: translateX(-50%) translateY(-30px);
}
#page-three .active:nth-of-type(1){
	transform: translateX(-50%) translateY(0);
	-webkit-transform: translateX(-50%) translateY(0);
	opacity: 1;
}
#page-three span:nth-of-type(2){
	width: 150px;
	font-size: 50px;
	line-height: 1em;
}
#page-three .active:nth-of-type(2){
	transform: translateY(-40px);
	-webkit-transform: translateY(-40px);
	opacity: .4;
}
#page-three span:nth-of-type(3){
	height: 18px;
	font-size: 18px;
	line-height: 21px;
	transform: translateX(70px) translateY(24px);
	-webkit-transform: translateX(70px) translateY(24px);
}
#page-three .active:nth-of-type(3){
	transform: translateX(40px) translateY(24px);
	-webkit-transform: translateX(40px) translateY(24px);
	opacity: 1;
}
#letisgo{
	top: auto;
	left: 50%;
	bottom: 20px;
	width: 60%;
	height: 43px;
	border: 1px #fff solid;
	border-radius: 7px;
	font-size: 16px;
	line-height: 46px;
	text-align: center;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
#page-three .active:nth-of-type(4){
	transform: translateX(-50%) translateY(-20px);
	-webkit-transform: translateX(-50%) translateY(-20px);
	opacity: 1;
}
/*进度条*/
#page-tip{
	position: fixed;
	bottom: 10px;
	left: 50%;
	z-index: 2;
	width: 60px;
	height: 5px;
	border-radius: 4px;
	background-color: rgba(66,66,66,.2);
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	overflow: hidden;
}
#tip-slide{
	position: absolute;
	top: 0;
	left: -40px;
	z-index: 1;
	width: 60px;
	height: 5px;
	background-color: #fff;
	border-radius: 4px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transform: translateX(0);
	-webkit-transform: translateX(0);
}
