body{
	width: 100%;
	height: 100%;
	padding-top: 48px;
	padding-bottom: 23vw;
	color: #fff;
	background-color: #f4f4f4;
	overflow-x: hidden;
}
header{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 48px;
	padding: 0 60px;
	background-color: #3EB96B;
	box-shadow: 0 0 6px rgba(66,66,66,.5);
}
#selTable{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 48px;
	color: #fff;
	text-align: center;
	line-height: 51px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
#menuBtn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 48px;
	color: #fff;
	text-align: center;
	line-height: 51px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
#searchIn{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	width: 100%;
	height: 38px;
	border-radius: 5px;
	margin-top: 5px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 40px;
	/* letter-spacing: 1px; */
	color: #999;
	background-color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

/* 生成的订单列表 */
#orderList{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	padding: 10px 10px 0;
}
#orderList li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 18vw;
	padding: 12px;
	margin-bottom: 10px;
	background-color: #fff;
	overflow: hidden;
}
.foodSun{
	display: -webkit-box;
	-webkit-box-align: center;
	float: left;
	height: 100%;
	padding-left: 15px;
	color: #3EB96B;
}
.text{
	display: -webkit-box;
	-webkit-box-align: center;
	float: left;
	height: 100%;
	width: 50vw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.moreButton{
	float: right;
	height: 100%;
	width: 40px;
	margin-right: 10px;
	background: url(../img/more.png) no-repeat center;
	background-size: 36px;
}
.deleteButton{
	float: right;
	height: 100%;
	width: 32px;
	background: url(../img/trash.png) no-repeat right center;
	background-size: 32px;
}
.orderedButton{
	display: -webkit-box;
	-webkit-box-align: center;
	float: right;
	height: 100%;
	width: 32px;
	color: #3EB96B;
	text-align: center;
}
#orderChange{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 13;
	width: 80vw;
	padding: 10px;
	box-shadow: 0 0 6px rgba(66,66,66,.3);
	background-color: #fff;
	transition: all .2s;
	-webkit-transition: all .2s;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	display: none;
}
#orderChange > li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 18vw;
	border-bottom: 1px #ddd dotted;
	overflow: hidden;
}
#selectTaste p{
	text-indent: 5px;
}
#selectTaste i{
	display: block;
	margin-left: 4px;
	font-style: normal;
	font-size: 10px;
	color: #f44;
}
#selectTaste span{
	float: left;
	margin: 5px;
	padding: 7px 10px 5px;
	border-radius: 5px;
	color: #fff;
	background-color: #ddd;
}
#selectTaste .active{
	background-color: #3EB96B;
}
#orderChange #selectTaste{
	height: auto;
}
#selectTaste::after{
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
#changeNum{
	position: relative;
}
#changeNum span{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	float: left;
	height: 18vw;
	padding-left: 5px;
}
.mpBox{
	position: absolute;
	right: 5px;
	top: 50%;
	width: 90px;
	height: 42px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.mpBox li{
	position: absolute;
	top: 0;
	width: 30px;
	height: 42px;
	overflow: hidden;
}
.mpBox .minus{
	left: 0;
	background: url(../img/minus.png) no-repeat center;
	background-size: 42px;
}
.mpBox .num{
	display: -webkit-box;
	-webkit-box-pack: center;
	left: 30px;
	line-height: 45px;
}
.mpBox .plus{
	left: 60px;
	float: right;
	background: url(../img/plus.png) no-repeat center;
	background-size: 42px;
}
#orderChange > li:nth-of-type(3){
	border: none;
	height: 48px;
}
#orderChange > li:nth-of-type(3) span{
	float: right;
	margin: 10px 8px 0;
	padding: 10px 14px 8px;
	color: #fff;
	border-radius: 5px;
}
#canChange{
	background-color: #ddd;
}
#comChange{
	background-color: #3EB96B;
}

#tableBox{
	position: fixed;
	bottom: 8vw;
	left: 0;
	background-color: #fff;
	/**/
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	/**/
	transition: all .2s;
	-webkit-transition: all .2s;
}
#tableBox.active{
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
}

#orderBox{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	top: -15vw;
	left: 0;
	width: 100%;
	height: 15vw;
	padding: 0 90px 0 10px;
	box-shadow: 0 0 6px rgba(66,66,66,.3);
	background-color: #fff;
	overflow: hidden;
}
#mess{
	width: 100%;
	height: 15vw;
	line-height: 15vw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#readOrder{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	right: 0;
	height: 15vw;
	width: 80px;
	color: #3EB96B;
}

#tableBox *{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
#listBox{
	position: relative;
	height: 90vw;
	overflow: hidden;
}
#listBox ul{
	width: 100%;
	border-top: 1px #ddd solid;
	background-color: #fff;
	/* transition: all .2s; */
	/* -webkit-transition: all .2s; */
}
.displayNone{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
}
.listWarpper.active{
	transform: translateX(0);
	-webkit-transform: translateX(0);
}
#listBox ul::after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
#listBox ul li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: relative;
	float: left;
	width: 25vw;
	height: 18vw;
	border-right: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	padding: 5px;
	font-size: 13px;
	text-align: center;
	line-height: 1.2em;
	overflow: hidden;
}
#listBox ul li:nth-of-type(4),#listBox ul li:nth-of-type(8),#listBox ul li:nth-of-type(12),#listBox ul li:nth-of-type(16),#listBox ul li:nth-of-type(20),#tasteBox li:nth-of-type(4),#tasteBox li:nth-of-type(8),#tasteBox li:nth-of-type(12),#tasteBox li:nth-of-type(16),#tasteBox li:nth-of-type(20){
	border-right: none;
}
#listBox .statusNo{
	color: #fff;
	background-color: #ddd;
}
#listBox ul .noData{
	width: 100vw;
	height: 90vw;
	border: none;
}
#listBox .taste{
	position: absolute;
	top: -3vw;
	right: -8vw;
	width: 22vw;
	height: 12vw;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 16vw;
	background-color: #3EB96B;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	opacity: .7;
}
/* 口味选择列表 */
#tasteBox{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 90vw;
	border-top: 1px #ddd solid;
	background-color: #fff;
	overflow: hidden;
	display: none;
}
#tasteBox li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: relative;
	float: left;
	width: 25vw;
	height: 18vw;
	border-right: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	padding: 5px;
	font-size: 13px;
	text-align: center;
	line-height: 1.2em;
	overflow: hidden;
}
#btnBox{
	width: 100%;
	height: 15vw;
	border-top: 1px #ddd solid;
}
#btnBox span{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	width: 25vw;
	height: 15vw;
	border-right: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	background: no-repeat center;
	background-size: 24px;
	transition: all .1s;
	-webkit-transition: all .1s;
}
#btnBox #submitOrder{
	color: #fff;
	background-color: #3EB96B;
}
#btnBox #preClass{
	background-image: url(../img/return.png);
}
#btnBox #prePage{
	background-image: url(../img/left.png);
}
#btnBox #nextPage{
	background-image: url(../img/right.png);
}
/* 点击反馈 */
#btnBox span:active,.listWarpper li:active,#keyboard li:active,#tasteBox li:active{
	background-color: #f4f4f4!important;
}
#someMes{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 8vw;
	border-top: 1px #ddd solid;
	background-color: #fff;
}
#someMes span{
	display: -webkit-box;
	-webkit-box-align: center;
	height: 8vw;
	padding: 0 10px;
}
#someMes #tableNum{
	float: left;
}
#someMes #peoNum{
	float: left;
}
#someMes #total{
	float: right;
}

/* 虚拟键盘 */
#keyboard{
	position: fixed;
	bottom: -72vw;
	left: 0;
	z-index: 13;
	width: 100%;
	margin-bottom: -1px;
	border-top: 1px #ddd solid;
	background-color: #fff;
	transition: all .2s;
	-webkit-transition: all .2s;
}
#keyboard.active{
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}
#keyboard::after{
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
#keyboard li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	float: left;
	width: 33.33%;
	height: 18vw;
	font-size: 20px;
	font-weight: bold;
	color: #aaa;
	border-left: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
#keyboard li:nth-of-type(1),#keyboard li:nth-of-type(4),#keyboard li:nth-of-type(7),#keyboard li:nth-of-type(10){
	border-left: none;
}
#keyboard #backSpace,#keyboard #goSearch{
	font-weight: normal;
}
#keyboard #backSpace{
	color: #3EB96B;
}
#keyboard #goSearch{
	color: #fff;
	background-color: #3EB96B;
}

/* 开台部分 */
#openTableBox{
	position: fixed;
	top: 0;
	left: 100vw;
	z-index: 10;
	width: 100vw;
	height: 100vmax;
	background-color: #fff;
	/**/
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	/**/
	transition: all .2s;
	-webkit-transition: all .2s;
	overflow-x: hidden;
	overflow-y: auto;
}
#openTableBox *{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
#openTableBox.active{
	transform: translateX(-100%);
	-wenkit-transform: translateX(-100%);
}
#tableMes{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 12px;
}
#tableMes > li{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	padding: 10px 0 10px 20px;
	background: url(../img/pointed.png) no-repeat left center;
	background-size: 14px;
	margin-bottom: 10px;
}
#tableMes > li *{
	font-size: 15px;
}
#tableMes > li span i{
	font-style: normal;
	color: #A35BA6;
	padding: 0 4px;
}
.listText{
	float: right;
	margin-right: 7px;
}
.sumBox{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 90px;
	height: 30px;
}
.sumBox li{
	position: absolute;
	top: 0;
	width: 30px;
	height: 30px;
	overflow: hidden;
}
.sumBox .minus{
	left: 0;
	background: url(../img/minus.png) no-repeat center;
	background-size: 40px;
}
.sumBox .text{
	display: -webkit-box;
	-webkit-box-pack: center;
	left: 30px;
	line-height: 30px;
}
.sumBox .plus{
	left: 60px;
	float: right;
	background: url(../img/plus.png) no-repeat center;
	background-size: 40px;
}
#teaWrap .listText,#napkinWrap .listText{
	padding-right: 22px;
	background: url(../img/right.png) no-repeat right center;
	background-size: 14px;
}
#tableMes #guestMes{
	margin-bottom: 0;
	background: none;
	padding: 10px 0;
}
#guestMes textarea{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	min-height: 80px;
	padding: 10px;
	border: 2px #3EB96B dotted;
	border-radius: 5px;
}
#goBack{
	position: absolute;
	top: 3px;
	right: 100px;
	padding: 10px 14px;
	line-height: 1em;
	color: #fff;
	background-color: #ddd;
	border-radius: 3px;
}
#goOpen{
	position: absolute;
	top: 3px;
	right: 0;
	padding: 10px 14px;
	line-height: 1em;
	color: #fff;
	background-color: #A35BA6;
	border-radius: 3px;
}
#sellist{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: fixed;
	top: 0;
	right: -160px;
	bottom: 0;
	z-index: 13;
	width: 160px;
	padding: 12px;
	background-color: #fff;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;	
}
#sellist.active{
	transform: translateX(-160px);
	-webkit-transform: translateX(-160px);
}
#sellist p{
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	margin: -12px -12px 0 -12px;
	background-color: #3EB96B;
}
#sellist li{
	height: 42px;
	line-height: 44px;
	color: #888;
	border-bottom: 1px #f4f4f4 solid;
	overflow: hidden;
	white-space: normal;
	text-overflow: hidden;
}

/* 菜单功能 */
.menuWrap{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100%;
	z-index: 99;
	width: 100%;
	padding-bottom: 15vw;
	background-color: #fff;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
}
#menuWrap.active{
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}
.mwContent{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	top: 0;
	bottom: 15vw;
	overflow-x: hidden;
	overflow-y: auto;
}
.mwContent li{
	display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	width: 25vw;
	height: 18vw;
	text-align: center;
	border: 1px #eee solid;
}
.statusNo{
	color: #fff;
	background-color: #ddd;
}
.mwContent .active{
	color: #fff;
	background-color: #3EB96B;
	border-color: #3EB96B;
}
.menuBtnWrap{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 15vw;
	width: 100vw;
	padding-left: 25vw;
	border-top: 1px #eee solid;
	background-color: #fff;
	overflow: hidden;
}
.menuWrapClose{
	position: absolute;
	top: 0;
	left: 0;
	width: 25vw;
	height: 15vw;
	background: url(../img/return.png) no-repeat center;
	background-size: 24px;
}
.menuWrapSubmit{
	display: block;
	width: 100%;
	height: 15vw;
	color: #fff;
	text-align: center;
	line-height: 15vw;
	background-color: #3EB96B;
}