*{
	font-size: 14px;
	font-family: Microsoft YaHei,sans-serif,Helvetica;
	color: #666;
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
}
a {
	text-decoration: none;
}
a,button,input,textarea{
	-webkit-appearance: none;
	outline: none;
}
/* 返回顶部按钮 */
#returnTopBtn{
	position: fixed;
	bottom: 12px;
	right: 12px;
	z-index: 9;
	width: 38px;
	height: 38px;
	border-radius: 100%;
	background: #fff url(../img/top.png) no-repeat center;
	background-size: 24px;
	transition: all .3s;
	-webkit-transition: all .3s;
	transform: translateX(50px);
	-webkit-transform: translateX(50px);
	box-shadow: 0 0 5px rgba(66,66,66,.1);
	opacity: .8;
}
#returnTopBtn.active{
	transform: translateX(0);
	-webkit-transform: translateX(0);
}
/* 遮罩层 */
#mask,#searchMask{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(66,66,66,.5);
	/**/
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	/**/
	transition: opacity .2s ease, z-index 0s .4s;
	-webkit-transition: opacity .2s ease, z-index 0s .4s;
	opacity: 0;
	z-index: -1;
}
#mask.active{
	transition: opacity .2s ease, z-index 0s;
	-webkit-transition: opacity .2s ease, z-index 0s;
	opacity: 1;
	z-index: 12;
}
#searchMask.active{
	transition: opacity .2s ease, z-index 0s;
	-webkit-transition: opacity .2s ease, z-index 0s;
	opacity: 1;
	z-index: 9;
}
#tips{
	position: fixed;
	left: 50%;
	bottom: 44px;
	z-index: 99;
	padding: 8px 16px;
	border-radius: 15px;
	background-color: rgba(22,22,22,.5);
	color: #fff;
	line-height: 1em;
	overflow: hidden;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transform: translateX(-50%) translateY(0);
	-webkit-transform: translateX(-50%) translateY(0);
	opacity: 0;
}
#tips.active{
	transform: translateX(-50%) translateY(-30px);
	-webkit-transform: translateX(-50%) translateY(-30px);
	opacity: 1;
}
#warns{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 20;
	width: 240px;
	height: 200px;
	padding: 8px 16px 44px;
	box-shadow: 0 0 6px rgba(66,66,66,.5);
	background-color: #fff;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	overflow: hidden;
}
.warnText{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 208px;
	height: 128px;
	padding: 10px 0;
}
.warnCan{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 43px;
	color: #999;
	text-align: center;
	line-height: 46px;
	border-top: 1px #ddd solid;
}
.warnCom{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 50%;
	height: 44px;
	color: #fff;
	text-align: center;
	line-height: 46px;
	background-color: #3EB96B;
}
/* 等待提示 */
#loadingTip{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99;
	padding: 8px 16px;
	border-radius: 15px;
	background-color: rgba(22,22,22,.6);
	color: #fff;
	line-height: 1em;
	overflow: hidden;
	transform: translateX(-50%) translateY(0);
	-webkit-transform: translateX(-50%) translateY(0);
}

/* 超级加载动画 */
#superLoadAnimate{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 8;
	background-color: #fff;
	display: none;
}
.loadWrap{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	margin: auto;
	-webkit-filter: url(#fil);
	filter: url(#fil);
}
.loadPoint{
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.loadPoint::before{
	content: "";
	position: absolute;
	left: 50%;
	width: 34px;
	height: 34px;
	border-radius: 49px;
	margin-left: -17.5px;
	margin-top: -17.5px;
	/* background: rgb(251,211,1); */
	background-color: #3EB96B;
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
.loadPoint:nth-of-type(5)::before{
	z-index: 100;
	width: 44.5px;
	height: 44.5px;
	margin-left: -21.75px;
	margin-top: -21.75px;
	/* animation: loadPoint-colors 2s ease infinite; */
	/* -webkit-animation: loadPoint-colors 2s ease infinite; */
}
.loadPoint:nth-of-type(1) {
	animation: loadPoint-rotate-1 2s 0s linear infinite;
	-webkit-animation: loadPoint-rotate-1 2s 0s linear infinite;
}
.loadPoint:nth-of-type(1)::before {
	/* background-color: rgb(255,50,112); */
	background-color: #3EB96B;
	animation: loadPoint-move 2s 0s ease infinite;
	-webkit-animation: loadPoint-move 2s 0s ease infinite;
}
.loadPoint:nth-of-type(2) {
	animation: loadPoint-rotate-2 2s .5s linear infinite;
	-webkit-animation: loadPoint-rotate-2 2s .5s linear infinite;
}
.loadPoint:nth-of-type(2)::before {
	/* background-color: rgb(32,139,241); */
	background-color: #3EB96B;
	animation: loadPoint-move 2s .5s ease infinite;
	-webkit-animation: loadPoint-move 2s .5s ease infinite;}
.loadPoint:nth-of-type(3) {
	animation: loadPoint-rotate-3 2s linear infinite;
	-webkit-animation: loadPoint-rotate-3 2s linear infinite;
}
.loadPoint:nth-of-type(3)::before {
	/* background-color: rgb(175,225,2); */
	background-color: #3EB96B;
	animation: loadPoint-move 2s ease infinite;
	-webkit-animation: loadPoint-move 2s ease infinite;
}
.loadPoint:nth-of-type(4) {
	animation: loadPoint-rotate-4 2s .5s linear infinite;
	-webkit-animation: loadPoint-rotate-4 2s .5s linear infinite;
}
.loadPoint:nth-of-type(4)::before {
	/* background-color: rgb(251,211,1); */
	background-color: #3EB96B;
	animation: loadPoint-move 2s .5s ease infinite;
	-webkit-animation: loadPoint-move 2s .5s ease infinite;
}
@keyframes loadPoint-move {
	0% {
		transform: translateY(0);
	}
	28%, 52% {
		transform: translateY(-68px);
	}
	80%, 100% {
		transform: translateY(0);
	}
}
@-webkit-keyframes loadPoint-move {
	0% {
		-webkit-transform: translateY(0);
	}
	28%, 52% {
		-webkit-transform: translateY(-68px);
	}
	80%, 100% {
		-webkit-transform: translateY(0);
	}
}
@keyframes loadPoint-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}
@-webkit-keyframes loadPoint-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}
@keyframes loadPoint-rotate-1 {
	0% {
		transform: rotate(-105deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
@-webkit-keyframes loadPoint-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
	}
}
@keyframes loadPoint-rotate-2 {
	0% {
		transform: rotate(165deg);
	}
	100% {
		transform: rotate(540deg);
	}
}
@-webkit-keyframes loadPoint-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
	}
}
@keyframes loadPoint-rotate-3 {
	0% {
		transform: rotate(435deg);
	}
	100% {
		transform: rotate(810deg);
	}
}
@-webkit-keyframes loadPoint-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
	}
}
@keyframes loadPoint-rotate-4 {
	0% {
		transform: rotate(705deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}
@-webkit-keyframes loadPoint-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}