body{
	overflow: hidden;
}
header .wrap > a{
	float: right;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 52px;
	padding-right: 10px;
	border-right: 1px #00a57f solid;
}
header .wrap > a:nth-of-type(1){
	margin-right: 10px;
	padding-right: 0;
	border: none;
}
.bookMsg{
	position: fixed;
	top: 44px;
	left: 0;
	z-index: 8;
	width: 100%;
	height: 40px;
	background-color: #fff;
	border-bottom: 1px #eee solid;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
.bookMsg.active{
	transform: translateY(40px);
	-webkit-transform: translateY(40px);
	-moz-transform: translateY(40px);
	-o-transform: translateY(40px);
}
.bookMsg .title{
	width: 1340px;
	height: 40px;
	line-height: 40px;
	color: #555;
	font-size: 16px;
	margin: 0 auto;
}
.bookMsg .recBtn{
	position: absolute;
	top: 0;
	left: 50%;
	width: 140px;
	height: 40px;
	margin-left: 560px;
	line-height: 40px;
	text-align: center;
	color: #00a57f;
	font-size: 16px;
	/* background-color: #02bd92; */
	background-color: transparent;
	cursor: pointer;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
.msgBox{
	position: fixed;
	top: 84px;
	left: 50%;
	z-index: 1;
	width: 1400px;
	margin-left: -700px;
}
.msgBox > .title{
	padding: 10px 0 20px;
	border-bottom: 2px #dff1ed dotted;
}
.msgBox > .title span:nth-of-type(1){
	font-size: 28px;
	color: #02bd92;
	margin-left: 12px;
	margin-right: 5px;
}
.msgBox > .title span:nth-of-type(2){
	font-size: 28px;
	color: #666;
	margin-left: 5px;
	margin-right: 5px;
}
.msgBox > .title span:nth-of-type(3){
	font-size: 14px;
	color: #666;
}

.brief{
	position: relative;
	width: 1370px;
	padding: 15px;
	/* border-bottom: 2px #dff1ed dotted; */
}
.brief > img{
	width: 300px;
	height: 300px;
	margin-left: 10px;
}
.brief .right{
	float: right;
	width: 1028px;
	margin-left: 30px;
	padding-top: 34px;
}
.brief .right .title{
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
}
.brief .right ul{
	width: 800px;
}
.brief .right li{
	font-size: 14px;
	padding-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.brief .recBtn{
	position: absolute;
	top: 104px;
	right: 50px;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background-color: #02bd92;
	cursor: pointer;
	/* transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease; */
}
.frecBtn{
	position: fixed;
	top: 257px;
	left: 50%;
	z-index: 3;
	width: 140px;
	height: 40px;
	margin-left: 510px;
	cursor: pointer;
}
.frecBtn.active{
	display: none;
}
/* .brief .recBtn:hover{
	background-color: #00a57f;
} */
.brief > span{
	position: absolute;
	top: 146px;
	right: 50px;
	width: 140px;
	text-align: center;
	font-size: 12px;
}

.content{
	position: absolute;
	top: 124px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
}
.content .msg{
	position: relative;
	margin: 405px auto 0;
	width: 1400px;
	border-top: 2px #dff1ed dotted;
	background-color: #fff;
}
.content .nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 240px;
	padding: 15px 20px;
	background-color: #fff;
}
.content .fnav{
	position: fixed;
	top: 124px;
	left: 50%;
	z-index: 3;
	width: 240px;
	margin-left: -700px;
	padding: 15px 20px;
	background-color: #fff;
	display: none;
}
.content .fnav.active{
	/* position: fixed;
	top: 124px;
	left: 50%;
	margin-left: -700px; */
	display: block;
}
.content .nav.active{
	/* position: fixed;
	top: 124px;
	left: 50%;
	margin-left: -700px; */
	display: none;
}
.content .nav > span,.content .fnav > span{
	display: block;
	height: 44px;
	font-size: 14px;
	line-height: 44px;
	text-indent: 35px;
	background: url(../img/point.png) no-repeat 10px center;
	cursor: pointer;
}
.content .nav > .active,.content .fnav > .active{
	color: #00a57f;
	background-image: url(../img/pointed.png);
}
.content .msg .msgWrap{
	float: right;
	/* position: absolute; */
	/* top: 0; */
	/* right: 0; */
	width: 1059px;
	padding: 30px;
	border-left: 1px #ddd dotted;
	background-color: #fff;
	/* overflow: hidden; */
	/* overflow-x: hidden; */
	/* overflow-y: auto; */
}
.msgWrap .box{
	margin-bottom: 30px;
}
.msgWrap .titleBox{
	height: 40px;
}
.msgWrap .titleBox li{
	float: left;
	width: 100px;
	font-size: 16px;
	color: #888;
	line-height: 40px;
	cursor: pointer;
}
.msgWrap .titleBox .active{
	font-weight: bold;
	color: #00a57f;
}
.msgWrap .title{
	font-size: 16px;
	font-weight: bold;
	color: #00a57f;
	line-height: 40px;
}
.msgWrap .box table{
	width: 100%;
	border-collapse: collapse;
	display: none;
}
.msgWrap .box table:nth-of-type(1){
	display: table;
}
.msgWrap .box table th{
	line-height: 44px;
	font-weight: normal;
	color: #00a57f;
	border-bottom: 1px #00a57f solid;
}
.msgWrap .box table td{
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	border-bottom: 1px #eee dotted;
}

.xian{
	position: fixed;
	top: 50%;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #00a57f;
}