body{
	padding-top: 124px;
	overflow: hidden;
}
/* 字母分类一级菜单 */
.firstMenu{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	display: none;
}
.firstMenu.active{
	opacity: 1;
}
.firstMenu > div{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	top: 80px;
	left: 50%;
	width: 1398px;
	height: 308px;
	margin-left: -700px;
	padding: 10px;
	border: 1px #00a57f solid;
	background-color: rgba(245,245,245,.95);
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
.firstMenu.active > div{
	transform: translateY(60px);
	-webkit-transform: translateY(60px);
	-moz-transform: translateY(60px);
	-o-transform: translateY(60px);
}
.firstMenu > div:after{
	content: "";
	position: absolute;
	top: -7px;
	left: 13px;
	width: 11px;
	height: 11px;
	border-top: 1px #00a57f solid;
	border-right: 1px #00a57f solid;
	background-color: #f5f5f5;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
.firstMenu .left{
	/* display: flex; */
	/* display: -ms-flex; */
	/* display: -moz-flex;  */
	/* display: -webkit-flex; */
	/* flex-direction: column; */
	/* -ms-flex-direction: column; */
	/* -moz-flex-direction: column; */
	/* -webkit-flex-direction: column; */
	/* align-content: center; */
	/* flex-wrap: wrap; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	width: 200px;
	height: 318px;
	padding: 14px;
}

.firstMenu .left span{
	/* flex: 1; */
	/* -ms-flex: 1; */
	/* -moz-flex: 1; */
	/* -webkit-flex: 1; */
	display: block;
	height: 60px;
	width: 172px;
	text-align: center;
	font-size: 18px;
	line-height: 60px;
	cursor: pointer;
}
.firstMenu .left .active{
	color: #00a57f;
}
.firstMenu .right{
	float: right;
	width: 1146px;
	height: 306px;
	padding: 6px 0;
	margin-left: 30px;
	overflow: hidden;
}
.firstMenu .right li{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	width: 382px;
	height: 34px;
	padding: 0 10px;
	font-size: 15px;
	color: #373737;
	line-height: 34px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.firstMenu .right .active{
	color: #00a57f;
}

/* 字母分类二级菜单 */
.letterMenu{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: fixed;
	top: 76px;
	left: 50%;
	z-index: 9;
	width: 1398px;
	margin-left: -700px;
	padding: 10px;
	border: 1px #00a57f solid;
	background-color: rgba(245,245,245,.95);
	opacity: 0;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	display: none;
}
.letterMenu.active{
	opacity: 1;
	transform: translateY(60px);
	-webkit-transform: translateY(60px);
	-moz-transform: translateY(60px);
	-o-transform: translateY(60px);
}
.letterMenu > span{
	position: absolute;
	top: -7px;
	left: 63px;
	width: 11px;
	height: 11px;
	border-top: 1px #00a57f solid;
	border-right: 1px #00a57f solid;
	background-color: #f5f5f5;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
.letterMenu .title{
	font-size: 18px;
	padding: 5px 14px;
	color: #00a57f;
}
.letterMenu .list{
	width: 1380px;
	padding: 20px 40px;
	overflow: hidden;
}
.letterMenu .list li{
	float: left;
	width: 244px;
	height: 28px;
	padding: 0 8px;
	font-size: 14px;
	color: #373737;
	line-height: 28px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 高级检索 */
.superSearch{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	background-color: rgba(22,22,22,.4);
	opacity: 0;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	display: none;
}
.superSearch.active{
	opacity: 1;
}
.superSearch .searchBox{
	position: absolute;
	top: 40%;
	left: 50%;
	width: 520px;
	height: 310px;
	padding: 40px 20px 30px;
	margin-top: -280px;
	margin-left: -280px;
	background-color: #fff;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
}
.superSearch.active .searchBox{
	transform: translateY(60px);
	-webkit-transform: translateY(60px);
	-moz-transform: translateY(60px);
	-o-transform: translateY(60px);
}
.searchBox dl{
	width: 400px;
	height: 250px;
	margin: 10px auto 0;
}
.searchBox dt{
	float: left;
	height: 40px;
	width: 80px;
	text-align: right;
	line-height: 40px;
	margin-bottom: 10px;
}
.searchBox dd{
	position: relative;
	float: left;
	height: 40px;
	width: 310px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.searchBox dd input{
	width: 282px;
	height: 40px;
	padding: 0 14px;
	border: 1px #eee solid;
	line-height: 40px;
}
.searchBox dd textarea{
	width: 282px;
	height: 40px;
	padding: 0 14px;
	border: 1px #eee solid;
	line-height: 40px;
	resize: none;
}
.searchBox dd .checkISBN{
	position: absolute;
	top: 1px;
	right: 0px;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	cursor: pointer;
}
.searchBox button{
	width: 220px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	margin-top: 10px;
	margin-left: 150px;
	background-color: #00ba8f;
	cursor: pointer;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
}
.searchBox button:hover{
	background-color: #00a57f;
}

/* 主体 */
.content{
	width: 1400px;
	height: auto;
	margin: 0 auto;
}
/* 筛选模块 */
.filler{
	margin-bottom: 20px;
}
.filler .list{
	width: 1368px;
	padding: 0 16px;
}
.filler .list > li{
	border-bottom: 2px #dff1ed dotted;
}
.filler .list > li:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.filler .list > li > span{
	float: left;
	width: 100px;
	padding: 18px 10px 18px 0;
	font-size: 14px;
	color: #666;
	text-align: right;
}
.filler .list > li > ul{
	float: right;
	width: 1258px;
	padding: 15px 0;
}
.filler .list > li > ul li{
	float: left;
	color: #999;
	font-size: 14px;
	line-height: 26px;
	padding-right: 16px;
	cursor: pointer;
}
.filler .list > li .active{
	color: #00a57f;
}
/* 图书列表 */
.block,.block .list{
	width: 100%;
	margin-bottom: 60px;
}
.block .title{
	padding: 10px 0 20px;
}
.block .title span:nth-of-type(1){
	font-size: 28px;
	color: #02bd92;
	margin-left: 12px;
	margin-right: 5px;
}
.block .title span:nth-of-type(2){
	font-size: 28px;
	color: #666;
	margin-left: 5px;
	margin-right: 5px;
}
.block .title span:nth-of-type(3){
	font-size: 14px;
	color: #666;
}
.block .title > a{
	float: right;
	padding-right: 40px;
	color: #888;
	line-height: 44px;
	font-size: 12px;
}
.block .list li{
	position: relative;
	float: left;
	width: 276px;
	height: 275px;
	/* margin: 0 5px 26px 0; */
	margin: 0 5px 70px 0;
	padding: 10px 0;
	overflow: hidden;
}
.block .list li img{
	width: 200px;
	height: 200px;
	margin: 0 38px;
	vertical-align: top;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
}
.block .list li:hover img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.block .list li:nth-of-type(5n){
	margin-right: 0;
}
.block .list li p{
	padding: 0 10px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.block .list li p:nth-of-type(1){
	height: 30px;
	font-size: 16px;
	color: #00a57f;
	line-height: 38px;
}
.block .list li p:nth-of-type(2){
	font-size: 14px;
	color: #888;
	line-height: 24px;
}
.block .list li span{
	display: inline-block;
	font-size: 12px;
	color: #02bd92;
	text-align: center;
}
.block .list li span:nth-of-type(1){
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 3px 6px;
	border: 1px #02bd92 solid;
	background-color: rgba(2,189,146,.1);
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
}
.block .list li span:nth-of-type(1):hover{
	background-color: #fff;
}
.block .list li span:nth-of-type(2){
	width: 100px;
	margin-left: 35px;
}
.block .list li span:nth-of-type(3){
	width: 100px;
	margin-right: 35px;
}

/* 侧边栏 */
.sidebar{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 8;
	width: 32px;
	margin-left: 670px;
	background-color: #fff;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	cursor: pointer;
	/* opacity: .4; */
}
/* .sidebar:hover{
	opacity: 1;
} */
.sidebar span{
	display: block;
	width: 30px;
	height: 30px;
	border: 1px #e5e5e5 solid;
}
.sidebar > span:nth-of-type(1){
	background: url(../img/user.png) no-repeat center;
}
.sidebar > span:nth-of-type(2){
	margin-top: -1px;
	background: url(../img/up.png) no-repeat center;
}
.sidebar > ul{
	width: 32px;
}
.sidebar > ul li{
	width: 30px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 30px; 
	color: #666;
	border: 1px #e5e5e5 solid;
	margin-top: -1px;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
}
.sidebar > ul .active{
	color: #fff;
	border-color: #02bd92;
	background-color: #02bd92;
}
.sidebar .userBox{
	position: absolute;
	top: -20px;
	left: -79px;
	width: 78px;
	background-color: #fff;
	border: 1px #e5e5e5 solid;
	border-bottom: none;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	display: none;
	opacity: 0;
}
.sidebar .userBox.active{
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-o-transform: translateY(20px);
	opacity: 1;
}
.sidebar .userBox a{
	display: block;
	width: 78px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	border-bottom: 1px #e5e5e5 solid;
}
.sidebar .pageInt{
	width: 30px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 30px; 
	color: #666;
	border: 1px #e5e5e5 solid;
	margin-top: -1px;
}
.sidebar .gotoPage{
	box-sizing: content-box;
	width: 30px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 30px; 
	color: #666;
	border: 1px #e5e5e5 solid;
	margin-top: -1px;
	cursor: pointer;
}

footer.active{
	opacity: 0;
}