body{
	width: 100%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
}
.copyright{
	height: 6vw;
}
.copyright::after{
	display: none;
}
/* 头部工具栏 */
header{
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 14vw;
	border-bottom: 1px #eee solid;
	background-color: #fff;
}
header .left,header .right,header .search-icon{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 14vw;
	height: 100%;
	transition: all .2s ease;
	opacity: 1;
}
header .left.fadeOut,header .right.fadeOut{
	opacity: 0;
}
header .right{
	left: auto;
	right: 0;
}
header .search-icon{
	left: auto;
	right: 14vw;
}
header .left svg,header .right svg,header .search-icon svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
	fill: var(--theme-color);
}
header .right svg,header .search-icon svg{
	fill: #ccc;
}

/* ************************ */
/* sort box 部分 */
.sort-box{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100%;
	z-index: 9;
	width: 100vw;
	height: auto;
	background-color: #fff;
	transition: all .2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	overflow: hidden;
}
.sort-box.active{
	transform: translateX(-100%);
}
.sort-head{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 14vw;
}
.sort-head .left,.sort-head .right{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 14vw;
	height: 14vw;
}
.sort-head .right{
	left: auto;
	right: 0;
	line-height: 14vw;
	text-align: center;
	color: var(--theme-color);
	font-weight: bold;
	background-color: transparent;
}
.sort-head .left svg,.sort-head .right svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
	fill: var(--theme-color);
}
.sort-head .right svg{
	fill: #ccc;
}
.sort-head .sort-tool{
	position: absolute;
	top: 2vw;
	left: 14vw;
	width: 72vw;
	height: 10vw;
	border-radius: 5vw;
	box-shadow: .2rem .2rem 1rem rgba(0,0,0,.1);
	background-color: var(--bg-color);
	overflow: hidden;
}
.sort-head .sort-tool .search{
	box-sizing: border-box;
	width: 100%;
	height: 10vw;
	padding: 2vw 17vw 2vw 3vw;
}
.sort-tool .sort-bar{
	display: block;
	width: 100%;
	height: 6vw;
	line-height: 6vw;
	background-color: transparent;
}
.sort-tool .sort-icon{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 10vw;
	height: 10vw;
}
.sort-tool .sort-icon > svg{
	vertical-align: top;
	width: 6vw;
	height: 6vw;
	fill: var(--theme-color);
}

.sort-wrap{
	box-sizing: border-box;
	width: 100%;
	padding: 3vw;
	margin-top: 12vw;
}
.sort-wrap > div{
	width: 100%;
}
.sort-wrap > div p{
	line-height: 12vw;
	color: var(--theme-color);
}
.sort-wrap > div a{
	float: left;
	padding: .5rem .8rem;
	margin: 0 .6rem .6rem 0;
	font-size: 1.2rem;
	border-radius: .4rem;
	background-color: var(--bg-color);
}
/* ************************ */

/* 中心内容 */
.content-left{
	position: fixed;
	top: 14vw;
	left: 0;
	bottom: 0;
	width: 34vw;
	height: auto;
	background-color: var(--bg-color);
	overflow: hidden;
}
.content-left li{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 11vw;
	line-height: 11vw;
	padding-left: 11vw;
	text-align: center;
	margin-bottom: 3px;
}
.content-left li::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 7vw;
	height: 3px;
	width: 20vw;
	background-color: var(--bg-color);
	transition: all .2s ease;
	transform: scaleX(0);
}
.content-left li.active::after{
	background-color: var(--theme-color);
	transform: scaleX(1);
}
.content-left li span{
	float: left;
	height: 11vw;
}
.content-left li span:nth-of-type(1){
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 9vw;
	margin-left: -10vw;
}
.content-left li span:nth-of-type(2){
	float: right;
	width: 100%;
	line-height: 11vw;
	text-align: left;
	color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content-left li span svg{
	display: block;
	width: 6vw;
	height: 6vw;
	fill: #999;
	transition: all .2s ease;
}
.content-left li.active span svg{
	fill: var(--theme-color);
}
.content-right{
	position: fixed;
	top: 14vw;
	right: 0;
	bottom: 0;
	width: 66vw;
	height: auto;
	overflow: hidden;
}
.content-right li{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 3vw 0;
	border-bottom: 1px #eee solid;
}
.content-right li:last-child{
	border-bottom: none;
}
.content-right li a{
	float: left;
	width: 30vw;
	height: 20vw;
	margin-bottom: 3vw;
}
.content-right li a span{
	display: block;
	width: 30vw;
}
.content-right li a span:nth-of-type(1){
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	height: 14vw;
}
.content-right li a span:nth-of-type(1) svg{
	vertical-align: top;
	width: 10vw;
	height: 10vw;
	fill: var(--theme-color);
}
.content-right li a span:nth-of-type(2){
	height: 6vw;
	text-align: center;
	line-height: 6vw;
	color: #999;
}
.content-left .wrap,.content-right .wrap{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	perspective: 1000px;
	-webkit-perspective: 1000;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	trandform: translate3d(0,0,0);
	-webkit-trandform: translate3d(0,0,0);
}
.content-right .wrap{
	padding: 3vw;
}

/* 加载动画层 */
.loading{
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: rgba(255,255,255,.9);
	opacity: 0;
	transition: opacity .2s ease, z-index 0s .2s;
}
.loading.active{
	transition: opacity .2s ease, z-index 0s 0s;
	z-index: 99;
	opacity: 1;
}