body{
	height: 100vw;
	width: 100vw;
	overflow: hidden;
	background-color: #fff;
}
/* 头部工具栏 */
header{
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 60px;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0);
	background-color: rgba(255,255,255,0);
	transition: all .2s ease;
}
header .left,header .right{
	float: left;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0);
	transition: all .2s ease;
}
header .right{
	float: right;
}
header .left svg,header .right svg{
	width: 22px;
	height: 22px;
	margin: 9px;
	fill: #fff;
	transition: all .2s ease;
}
header.active{
	box-shadow: 0 2px 4px rgba(0,0,0,.05);
	background-color: rgba(255,255,255,.8);
}
/* header.active .left,header.active .right{
	background-color: rgba(255,255,255,.8);
} */
header.active .left svg,header.active .right svg{
	fill: var(--theme-color);
}

/* 中心区 */
.content{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
	perspective-origin: center top;
}
.scroll-content{
	position: relative;
	width: 100%;
	transform-style: preserve-3d;
}
.scroll-content .card{
	box-sizing: border-box;
	position: absolute;
	top: 0vw;
	left: 0;
	width: 100vw;
	height: 200px;
	/* padding: 10px 10px 0; */
	transform: translateY(100%) translateZ(-2px) scale(3);
}
.card .wrap{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px var(--theme-shadow-color);
	background: var(--theme-gradient);
	overflow: hidden;
}
.card .wrap .loop{
	position: absolute;
	/* top: 14vw; */
	top: 50px;
	left: -49vw;
	width: 170vw;
	height: 170vw;
}
.card .wrap .loop span{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 170vw;
	height: 165vw;
	border-radius: 50%;
	/* background-color: rgba(255,255,255,.1); */
	background: var(--theme-gradient);
	opacity: .9;
	animation: loop 8s linear infinite;
}
.loop span:nth-of-type(2){
	width: 148vw;
	height: 170vw;
	animation: loop 5s ease infinite alternate;
	transform-origin: 94vw 85vw;
}
@keyframes loop{
	form{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
.card .wrap .userpic{
	position: absolute;
	top: 70px;
	left: 20px;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 2px rgba(255,255,255,.3) solid;
	box-shadow: 2px 2px 10px rgba(0,0,0,.1);
}
.card .wrap .text{
	position: absolute;
	top: 70px;
	right: 40px;
	bottom: 60px;
	left: 100px;
}
.card .text > p{
	height: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.card .text > p:nth-of-type(1){
	padding-right: 40px;
	font-size: 14px;
	margin-bottom: 4px;
	font-weight: bold;
}
/* 模拟文字 */
.card .text > p > span{
	display: block;
	width: 100%;
	height: 12px;
	margin: 4px 0;
	border-radius: 6px;
	background-color: #fff;
}
.card .text > p:nth-of-type(1) span{
	width: 40%;
	height: 14px;
	margin: 3px 0;
	border-radius: 7px;
}
.card .text > p:nth-of-type(2) span{
	width: 70%;
}
.card .wrap .pen{
	position: absolute;
	top: 60px;
	right: 10px;
	width: 40px;
	height: 40px;
}
.card .wrap .pen svg{
	width: 24px;
	height: 24px;
	margin: 8px;
	fill: #fff;
}
.card .wrap .left,.card .wrap .right{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
}
.card .wrap .right{
	top: 10px;
	left: auto;
	right: 10px;
}
.card .wrap .left svg,.card .wrap .right svg{
	width: 22px;
	height: 22px;
	margin: 9px;
	fill: #fff;
}

.scroll-content .block-one{
	box-sizing: border-box;
	position: absolute;
	top: 380px;
	left: 0;
	width: 100vw;
	height: 220px;
	padding: 0 9px;
	transform: translateY(50%) translateZ(-1px) scale(2);
}
.scroll-content .block-tow{
	box-sizing: border-box;
	position: absolute;
	top: 400px;
	left: 0;
	width: 100vw;
	/* padding: 0 8px; */
}
.block-one > div,.block-tow > div{
	width: 100%;
	/* border-radius: 10px 10px 0 0; */
	box-shadow: 0 -2px 10px rgba(0,0,0,.1);
	background-color: #fff;
}
.block-one > div {
	height: 100%;
}
.block-tow > div {
	box-sizing: border-box;
	padding: 14px 14px 0;
}

/* block-one */
.block-one .tool{
	box-sizing: border-box;
	padding: 14px 0;
}
.block-one .tool .title{
	/* width: 100%; */
	height: 34px;
	font-weight: bold;
	line-height: 24px;
	text-indent: 2px;
	padding: 0 14px;
}
.block-one .tool li{
	float: left;
	width: 25%;
	height: 70px;
	margin-top: 5px;
}
.block-one .tool li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.block-one .tool li a > svg{
	width: 28px;
	height: 28px;
	margin: 12px auto 0;
	fill: var(--theme-color);
}
.block-one .tool li a span{
	display: block;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	margin: 0 auto 2px;
	box-shadow: var(--theme-box-shadow);
	background: var(--theme-gradient);
}
.block-one .tool li a span svg{
	width: 18px;
	height: 18px;
	margin: 7px;
	fill: #fff;
}
.block-one .tool li a i{
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: #aaa;
	font-style: normal;
}

/* block-tow */
.block-tow .rolist{
	width: 100%;
}
.block-tow .rolist li{
	height: 42px;
	width: 100%;
	border-bottom: 1px #eee dotted;
}
.block-tow .rolist li:last-child{
	border-bottom: none;
}
.block-tow .rolist li a{
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 100%;
	height: 46px;
	line-height: 46px;
	padding-left: 46px;
}
.block-tow .rolist li a svg{
	position: absolute;
	top: 13px;
	left: 13px;
	width: 20px;
	height: 20px;
	fill: var(--theme-color);
}
.block-tow .rolist li a span:nth-of-type(1){
	position: absolute;
	top: 13px;
	left: 13px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: var(--theme-box-shadow);
	background: var(--theme-gradient);
}
.block-tow .rolist li a span:nth-of-type(2){
	color: #aaa;
}
.block-tow .rolist li a i{
	float: right;
	height: 20px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	font-style: normal;
	font-size: 12px;
	color: var(--theme-color);
	border-radius: 10px;
	padding: 0 8px;
	margin-top: 13px;
}
.block-tow .rolist .full{
	color: #fff;
	background-color: var(--theme-color);
}

.block-tow .list li{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	padding: 14px 0;
}
.block-tow .list li a{
	flex: 1;
	text-align: center;
}
.list li.towrol a{
	flex: none;
	width: 25%;
	margin-bottom: 5px;
}
.block-tow .list li a svg{
	width: 28px;
	height: 28px;
	margin: 12px auto 0;
	fill: var(--theme-color);
}
.block-tow .list li a span{
	display: block;
	/* width: 12vw;
	height: 12vw; */
	height: 43px;
	width: 43px;
	margin: 0 auto 2px;
	border-radius: 50%;
	box-shadow: var(--theme-box-shadow);
	background: var(--theme-gradient);
}
.block-tow .list li a i{
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: #aaa;
	font-style: normal;
}
.block-tow .list li a i b{
	font-weight: normal;
	font-size: 12px;
	padding: 0 3px;
	color: var(--theme-color);
}

/* 底部菜单 */
.footer{
	display: flex;
	position: fixed;
	left: 0px;
	bottom: -20px;
	z-index: 9;
	height: 50px;
	width: 100vw;
	padding-bottom: 20px;
	box-shadow: 0 -2px 4px rgba(0,0,0,.05);
	background-color: #fff;
	transition: all .3s var(--boon);
	opacity: 1;
	display: none;
}
.footer.fadeOut{
	transform: translateY(100px);
	opacity: 0;
}
.footer a{
	flex: 1;
	height: 50px;
	text-align: center;
}
.footer a svg{
	width: 22px;
	height: 22px;
	margin: 6px auto -5px;
	fill: #ccc;
}
.footer .active svg{
	fill: var(--theme-color);
}
.footer a i{
	display: inline-block;
	width: 100%;
	font-size: 10px;
	color: #ccc;
	font-style: normal;
}
.footer .active i{
	color: var(--theme-color);
}