<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="author" content="Yoruni">
        <link rel="stylesheet" type="text/css" href="../public/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/yoruni.css">
        <link rel="stylesheet" type="text/css" href="../public/css/home.css">
        <script type="text/javascript" src="../public/js/zepto.min.js"></script>
        <script type="text/javascript" src="../public/js/mui.min.js"></script>
        <script type="text/javascript" src="../public/js/swiper.min.js"></script>
        <script type="text/javascript" src="../public/js/home.js"></script>
        <title>首页</title>
    </head>
    <body>
        <header></header>
        <!-- 首页banner -->
        <div id="banner" class="swiper-container">
            <div class="swiper-wrapper">
                <!-- 轮播图 图片 4:3-->
                <div class="swiper-slide">
                    <img src="../public/img/pic.jpg" width="100%">
                    <p>某某某...</p>
                </div>
                <div class="swiper-slide">
                    <img src="../public/img/pic.jpg" width="100%">
                    <p>某某某...</p>
                </div>
                <div class="swiper-slide">
                    <img src="../public/img/pic.jpg" width="100%">
                    <p>某某某...</p>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- 入口 -->
        <div id="entry">
            <div id="iamuser" class="enbtn">
                <p>我要吃饭</p>
                <p>进入浏览菜谱</p>
            </div>
            <div id="iamwaiter" class="enbtn">
                <p>引导员</p>
                <p>安心服务</p>
            </div>
        </div>
        <p id="hotTitle">热门菜式</p>
        <div id="hot" class="swiper-container">
            <div class="swiper-wrapper">
                <!-- 轮播图 图片 1:1-->
                <div class="swiper-slide">
                    <img src="../public/img/img.jpg" width="100%">
                    <p>某某某...</p>
                    <p>单价：<em>88</em>&nbsp;元</p>
                </div>
                <div class="swiper-slide">
                    <img src="../public/img/img.jpg" width="100%">
                    <p>某某某...</p>
                    <p>单价：<em>88</em>&nbsp;元</p>
                </div>
                <div class="swiper-slide">
                    <img src="../public/img/img.jpg" width="100%">
                    <p>某某某...</p>
                    <p>单价：<em>88</em>&nbsp;元</p>
                </div>
                <div class="swiper-slide">
                    <img src="../public/img/img.jpg" width="100%">
                    <p>某某某...</p>
                    <p>单价：<em>88</em>&nbsp;元</p>
                </div>
                <div class="swiper-slide">
                    <img src="../public/img/img.jpg" width="100%">
                    <p>某某某...</p>
                    <p>单价：<em>88</em>&nbsp;元</p>
                </div>
                <div class="swiper-slide">
                    <img src="../public/img/img.jpg" width="100%">
                    <p>某某某...</p>
                    <p>单价：<em>88</em>&nbsp;元</p>
                </div>
            </div>
        </div>
        <p id="copyright">©版权所有 侵权必究</p>
    </body>
</html>