/*author: Yoruni*/
body {
	padding-top: 38px;
	background-color: #fff;
}
header {
	height: 37px;
	border-bottom: 1px #ececec solid;
}
header span{
	height: 37px;
}
input{
	font-size: 12px;
}
#goback{
	width: 15%;
	background: url(../svg/left.svg) no-repeat center;
	background-size: 34px;
}
#loginContent {
	width: 100%;
}
#loginContent #username,#registerContent #username,#registerContent #userpass,#registerContent #reuserpass{
	width: 100%;
	height: 38px;
	text-indent: 38px;
	background: url(../svg/userl.svg) no-repeat 5px center;
	background-size: 28px;
}
#loginContent #userpass,#registerContent #validatepass{
	width: 100%;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px #f7f7f7 solid;
	margin-bottom: 26px;
	text-indent: 38px;
	background: url(../svg/lock.svg) no-repeat 5px center;
	background-size: 28px;
}
#registerContent #userpass,#registerContent #reuserpass{
	background-image: url(../svg/lock.svg);
}
#registerContent #validatepass{
	background-image: url(../svg/label.svg);
}
#loginContent #forgetpass{
	position: absolute;
	top: 77px;
	right: 5px;
	height: 38px;
	padding: 0 4px;
	font-size: 12px;
	line-height: 38px;
}
#registerContent #validate{
	position: absolute;
	top: 152px;
	right: 5px;
	height: 38px;
	padding: 0 4px;
	font-size: 12px;
	line-height: 38px;
}
#login,#register,#reset{
	display: block;
	height: 36px;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
	color: #fff;
	text-align: center;
	line-height: 36px;
	background-color: #93C922;
	border-radius: 8px;
	outline: none;
}
#loginContent #register{
	background-color: #999;
}
#loginContent p,#registerContent p{
	width: 70%;
	font-size: 12px;
	color: #999;
	text-align: center;
	line-height: 30px;
	margin: 20px 15%;
	border-top: 1px #eee solid;
}